-if !@cbt_question_types.nil?
  %p
    = I18n.t :cbt_question_type, count: @cbt_question_types.count

-if @cbt_question_types.count > 20
  .apple_pagination
    = will_paginate @cbt_question_types

-#name, code, created_at, updated_at, short_name, fisgia9code, fisgia11code
%p
  %table.styled-table{:style=>"width:100%;"}
    %thead
      %th= t("cbt_question_types.code")
      %th= t("cbt_question_types.name")
      -if current_user.admin?
        %th= t("cbt_question_types.actions.title")
    %tbody
      - @cbt_question_types.each do |row|
        -if can? :read, row
          %tr
            %td= row.id.to_s
            %td= link_to row.name.to_s, cbt_question_type_path(row)
            -if current_user.admin?
              %td
                - if can? :edit, row
                  = link_to edit_cbt_question_type_path(row) do
                    = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
                - if (can? :edit, row) and  (can? :delete, row)
                  = "  "
                - if can? :delete, row
                  = link_to cbt_question_type_path(row), :method => :delete,  data: { confirm: t('cbt_question_types.delete_confirm')} do
                    = image_tag('trash.png', size: "24", :tooltip=>t("delete"))

-if @cbt_question_types.count > 20
  .apple_pagination
    = will_paginate @cbt_question_types