.card
  .card-header
    Карточка типов вопросов
  .card-body
    %h5.card-title Тип вопроса
    %p.card-text
      %table.table-bordered.table-striped
        %tr
          %th= t("cbt_question_types.name")
          %td=best_in_place @cbt_question_type, :name, :place_holder => "Щёлкните здесь для внесения сведений"


  %div
  %hr
    = link_to cbt_question_types_path, :class => "btn btn-primary btn-mini" do
      = bootstrap_icon "card-list", width: 15, height: 15, fill: "yellow"
      = " Вернуться к списку "
    \ 
    - if can? :edit, @cbt_question_type
      = link_to edit_cbt_question_type_path(@cbt_question_type), :class => "btn btn-primary btn-mini" do
        = bootstrap_icon "pencil", width: 15, height: 15, fill: "yellow"
        = " Редактировать "

