-if !@cbt_user_test_questions.nil?
  %p
    = I18n.t :cbt_user_test_question, count: @cbt_user_test_questions.count

-if @cbt_user_test_questions.count > 20
  .apple_pagination
    = will_paginate @cbt_user_test_questions

-#:cbt_user_test_id, :cbt_question_id, :start_time, :end_time, :user_answer, :primary_mark, :marked, :sort_by
%p
  %table.styled-table{:style=>"width:100%;"}
    %thead
      %th= t("cbt_user_test_questions.code")
      %th= "Код теста пользователя"
      %th= "Код теста вопроса"
      %th= "Начало"
      %th= "Конец"
      %th= "Ответ пользователя"
      %th= "Первичный балл"
      %th= "Пометка"
      %th= "Порядок сортировки"
      -if current_user.admin?
        %th= t("cbt_user_test_questions.actions.title")
    %tbody
      -@cbt_user_test_questions.each do |row|
        %tr
          %td= row.id.to_s
          %td= link_to row.cbt_user_test.to_s, cbt_user_test_question_path(row)
          %td= link_to row.cbt_question.to_s, cbt_user_test_question_path(row)
          %td= row.start_time
          %td= row.end_time
          %td= row.user_answer
          %td= row.primary_mark
          %td= row.marked
          %td= row.sort_by
          -if current_user.admin?
            %td
              - if can? :edit, row
                = link_to edit_cbt_user_test_question_path(row) do
                  = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
              - if (can? :edit, row) and  (can? :delete, row)
                = "  "
              - if can? :delete, row
                = link_to cbt_user_test_question_path(row), :method => :delete,  data: { confirm: t('cbt_user_test_questions.delete_confirm')} do
                  = image_tag('trash.png', size: "24", :tooltip=>t("delete"))

-if @cbt_user_test_questions.count > 20
  .apple_pagination
    = will_paginate @cbt_user_test_questions