-if !@cbt_question_set_questions.nil?
  %p
    = I18n.t :cbt_question_set_question, count: @cbt_question_set_questions.count

-if @cbt_question_set_questions.count > 20
  .apple_pagination
    = will_paginate @cbt_question_set_questions

-#name, code, created_at, updated_at, short_name, fisgia9code, fisgia11code
                        %th= t("cbt_questions_set_questions.cbt_subject_id")
                        %td= f.collection_select :cbt_questions_set_id, @cbt_question_sets, :id, :name, prompt: true, placeholder: t('mouos.cbt_subject_id')
                      %tr
                        %th= t("cbt_questions_set_questions.cbt_question_id")
%p
  %table.styled-table{:style=>"width:100%;"}
    %thead
      %th= t("cbt_question_set_questions.code")
      %th= t("cbt_question_set_questions.cbt_question")
      %th= t("cbt_question_set_questions.cbt_questions_set")
      -if current_user.admin?
        %th= t("cbt_question_set_questions.actions.title")
    %tbody
      - @cbt_question_set_questions.each do |row|
        -if can? :read, row
          %tr
            %td= row.id.to_s
            %td= row.cbt_question
            %td= row.cbt_questions_set
            -if current_user.admin?
              %td
                - if can? :edit, row
                  = link_to edit_cbt_question_set_question_path(row) do
                    = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
                - if (can? :edit, row) and  (can? :delete, row)
                  = "  "
                - if can? :delete, row
                  = link_to cbt_question_set_question_path(row), :method => :delete,  data: { confirm: t('cbt_question_set_questions.delete_confirm')} do
                    = image_tag('trash.png', size: "24", :tooltip=>t("delete"))

-if @cbt_question_set_questions.count > 20
  .apple_pagination
    = will_paginate @cbt_question_set_questions