.row
  .span9
    %h3.pull-left
      .text3d= t("cbt_question_set_questions.list.title")
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag cbt_question_set_questions_path, :method => 'get', :id => "cbt_question_set_questions_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = image_tag('find.png', size: "34")
                  = "искать"
          %td
            - if can? :create, CbtQuestionSetQuestion
              = link_to new_cbt_question_set_question_path, class: "btn btn-light" do
                = image_tag('create_new.png', size: "34")
                = "создать"
            - if (can? :create, CbtQuestionSetQuestion) and (can? :export, CbtQuestionSetQuestion)
              =" | "
            - if can? :export, CbtQuestionSetQuestion
              = link_to cbt_question_set_questions_export_path + '.xlsx', class: "btn btn-light disabled" do
                = image_tag('download.png', size: "34")
                = "скачать"
            - if (can? :export, CbtQuestionSetQuestion) and (can? :import, CbtQuestionSetQuestion)
              =" | "
            - if can? :import, CbtQuestionSetQuestion
              = link_to new_cbt_question_set_questions_import_path, class: "btn btn-light disabled" do
                = image_tag('upload.png', size: "34")
                = "импорт"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}