#carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
  .carousel-inner
    .carousel-item.active
      %h2{:align => 'center'}=@cbt_question_set_question.name.to_s
  -if !@previous.nil?
    %a.carousel-control-prev{"data-slide" => "prev", :href => "/cbt_question_set_questions/" + @previous.id.to_s, :role => "button"}
      %span.carousel-control-prev-icon{"aria-hidden" => "true"}
      %p=@previous.name[0..10]+'...'.to_s
  -if !@next.nil?
    %a.carousel-control-next{"data-slide" => "next", :href => "/cbt_question_set_questions/" + @next.id.to_s, :role => "button"}
      %p=@next.name[0..10]+'...'.to_s
      %span.carousel-control-next-icon{"aria-hidden" => "true"}

.alert.alert-info{:role => "alert"}
  - if can? :edit, @ate
    ="Внимание! На данной странице возможен как просмотр, так и редактирование отдельных полей (через двойной щелчок по полю), при этом "
    %b
      ="производится автоматическое сохранение"
    =" каждого отдельного поля. "
    ="В связи с этим, если в карточке есть хотя бы одно неверное заполненное поле, то изменения не сохраняются."
    %br
    ="Чтобы изменить несколько полей, следует перейти в режим редактирования всей записи по кнопке «Редактировать»."
    ="Поля, заблокированные для редактирования, помечены серым цветом."
  -else
    ="Редактирование данной записи заблокировано."
%table
  -if current_user.admin?
    %tr
      %th= t("cbt_question_set_questions.guid")
      %td= best_in_place @ate, :guid
  - else
    %tr
      %th= t("cbt_question_set_questions.guid")
      %td{bgcolor: '#C0C0C0'}= @cbt_question_set_question.guid.to_s
  %tr
    %th= t("cbt_question_set_questions.code")
    - if can? :edit, @ate
      %td= best_in_place @ate, :code
    - else
      %td{bgcolor: '#C0C0C0'}=@cbt_question_set_question.code.to_s
  %tr
    %th= t("cbt_question_set_questions.full_name")
    - if can? :edit, @ate
      %td= best_in_place @ate, :name
    - else
      %td{bgcolor: '#C0C0C0'}=@cbt_question_set_question.name.to_s
  %tr
    %th= t("cbt_question_set_questions.district")
    - if can? :edit, @ate
      %td= best_in_place @ate, :district
    - else
      %td{bgcolor: '#C0C0C0'}=@cbt_question_set_question.district.to_s
  %tr
    %th
      = t("cbt_question_set_questions.low_address")
      = "(поле не обязательно)"
    - if can? :edit, @ate
      %td= best_in_place @ate, :low_address
    - else
      %td{bgcolor: '#C0C0C0'}=@cbt_question_set_question.low_address.to_s
  %tr
    %th
      = t("cbt_question_set_questions.address")
      = "(поле не обязательно)"
    - if can? :edit, @ate
      %td= best_in_place @ate, :address
    - else
      %td{bgcolor: '#C0C0C0'}=@cbt_question_set_question.address.to_s
  %tr
    %th= t("cbt_question_set_questions.charge_fio")
    - if can? :edit, @ate
      %td= best_in_place @ate, :charge_fio
    - else
      %td{bgcolor: '#C0C0C0'}=@cbt_question_set_question.charge_fio.to_s
  %tr
    %th= t("cbt_question_set_questions.phones")
    - if can? :edit, @ate
      %td= best_in_place @ate, :phones
    - else
      %td{bgcolor: '#C0C0C0'}=@cbt_question_set_question.phones.to_s
  %tr
    %th= t("cbt_question_set_questions.email")
    - if can? :edit, @ate
      %td= best_in_place @ate, :email
    - else
      %td{bgcolor: '#C0C0C0'}=@cbt_question_set_question.email.to_s
  %tr
    %th= t("cbt_question_set_questions.www")
    - if can? :edit, @ate
      %td= best_in_place @ate, :www
    - else
      %td{bgcolor: '#C0C0C0'}=@cbt_question_set_question.www.to_s

-if @cbt_question_set_questions.count > 1
  .apple_pagination
    .pagination{:role => "navigation"}
      %span.previous_page.disabled
      - i = 1
      - lm = (@cbt_question_set_questions.count / 25).to_i
      - lmk = (@cbt_question_set_question.code.to_i / lm).to_i
      -if @cbt_question_set_questions.count > 3
        -@cbt_question_set_questions.each do |r|
          -if ((r.code.to_i == @cbt_question_set_questions.first.code.to_i) or (r.code.to_i == @cbt_question_set_questions.last.code.to_i)) and (r.code.to_i != @cbt_question_set_question.code.to_i)
            %a{:href => r.id.to_s}
              =r.code.to_s
          -else
            -if r.code.to_i == @cbt_question_set_question.code.to_i
              %em.current{"aria-current" => "page"}
                =r.code.to_s
            -else
              -if ((r.code.to_i >= @cbt_question_set_question.code.to_i - 8) and (r.code.to_i <= @cbt_question_set_question.code.to_i + 8)) or r.code.to_i % lm == 0
                %a{:href => r.id.to_s}
                  =r.code.to_s
      %span.next_page.disabled

%div
  %hr
    = link_to cbt_question_set_questions_path, :class => "btn btn-primary btn-mini" do
      = bootstrap_icon "card-list", width: 15, height: 15, fill: "yellow"
      = " Вернуться к списку АТЕ "
    \ 
    - if can? :edit, @ate
      = link_to edit_ate_path(@ate), :class => "btn btn-primary btn-mini" do
        = bootstrap_icon "pencil", width: 15, height: 15, fill: "yellow"
        = " Редактировать "

