%body.lead
  %h1=t("announcements.title")
  .card
    .card-body
      - @announcements.each_with_index do |announcement, index|
        - if index != 0
          .row
            .col
              %hr/
        .row.announcement{:id => "#{dom_id(announcement)}"}
          .col-sm-1.text-center
            = link_to announcements_path(anchor: dom_id(announcement)) do
              %strong
                =I18n.l announcement.published_at, :format => "%d %b"
          .col
            %strong{:class => "#{announcement_class(announcement.announcement_type)}"}
              = "Новое"
              \:
            %strong= announcement.name
            = simple_format announcement.description
      - if @announcements.empty?
        %div=t('Exciting stuff coming very soon!')
