-# -@trainings = CbtTraining.all
-#%h5=CbtTraining.accessible_by(current_ability).all.count

-if @trainings.count > 0
  -i=0
  -trc = @trainings.count
  -# =trc

  -while i < trc
    .card-deck
      -tr = @trainings[i]
      .card
        %center
          = image_tag(@trainings[i].title_image.to_s, size: "150x150", :tooltip=>t("start"))
        .card-body
          %h5.card-title=tr.name
          %table
            %tr
              %td
                -if tr.stopped_at >= DateTime.now
                  %p
                    %a{:href => "/cbt_home/training/#{tr.id}", :class=>"btn btn-primary"}
                      ="Перейти"
                -else
                  %p{:href => "#", :class=>"btn btn-primary disabled"}
                    ="Завершён"
              %td
                %p
                  %a{:href => "/cbt_home/get_user_training_results/#{tr.id}", :class=>"btn btn-primary"}
                    ="Результаты"
        .card-footer
          %small.text-muted
            ="Доступен с #{tr.started_at.strftime("%d.%m.%Y")} и до #{tr.stopped_at.strftime("%d.%m.%Y")}"
      .card
        -if i+1 < trc
          -tr = @trainings[i+1]
          %center
            = image_tag(@trainings[i+1].title_image.to_s, size: "150x150", :tooltip=>t("start"))
          .card-body
            %h5.card-title=tr.name
            %table
              %tr
                %td
                  -if tr.stopped_at >= DateTime.now
                    %p
                      %a{:href => "/cbt_home/training/#{tr.id}", :class=>"btn btn-primary"}="Перейти"
                  -else
                    %p{:href => "#", :class=>"btn btn-primary disabled"}="Завершён"
                %td
                  %p
                    %a{:href => "/cbt_home/get_user_training_results/#{tr.id}", :class=>"btn btn-primary"}="Результаты"
          .card-footer
            %small.text-muted
              ="Доступен с #{tr.started_at.strftime("%d.%m.%Y")} и до #{tr.stopped_at.strftime("%d.%m.%Y")}"
        -else
          %center
            = image_tag('cloud.png', width: "150", :tooltip=>t("start"))
          .card-body
            %h5.card-title=""
            %p.card-text=""
          .card-footer
            %small.text-muted= "Пока не доступно"
      .card
        -if i+2 < trc
          -tr = @trainings[i+2]
          %center
            = image_tag(@trainings[i+2].title_image.to_s, size: "150x150", :tooltip=>t("start"))
          .card-body
            %h5.card-title=tr.name
            %table
              %tr
                %td
                  -if tr.stopped_at >= DateTime.now
                    %p
                      %a{:href => "/cbt_home/training/#{tr.id}", :class=>"btn btn-primary"}="Перейти"
                  -else
                    %p{:href => "#", :class=>"btn btn-primary disabled"}="Завершён"
                %td
                  %p
                    %a{:href => "/cbt_home/get_user_training_results/#{tr.id}", :class=>"btn btn-primary"}="Результаты"

          .card-footer
            %small.text-muted
              ="Доступен с #{tr.started_at.strftime("%d.%m.%Y")} и до #{tr.stopped_at.strftime("%d.%m.%Y")}"
        -else
          %center
            = image_tag('cloud.png', width: "150", :tooltip=>t("start"))
          .card-body
            %h5.card-title=""
            %p.card-text=""
          .card-footer
            %small.text-muted= "Пока не доступно"
    -i = i + 3
    %br
-else
  %h5="Для вас пока нет доступных тренингов. Зайдите через несколько дней."
