-@trainings = CbtTest.all
-i=0
-trc = @trainings.count
-# =trc

-while i < trc
  .card-deck
    -tr = @trainings[i]
    .card
      %center
        = image_tag('online-training.png', width: "150", :tooltip=>t("start"))
      .card-body
        %a{:href => "/cbt_home/test/#{tr.id}"}
          %h5.card-title=tr.name
        %p.card-text=tr.description
      .card-footer
        %small.text-muted
          ="Доступен с #{tr.started_at.strftime("%d.%m.%Y")} и до #{tr.stopped_at.strftime("%d.%m.%Y")}"
    .card
      -if i+1 < trc
        -tr = @trainings[i+1]
        %center
          = image_tag('online-training.png', width: "150", :tooltip=>t("start"))
        .card-body
          %a{:href => "/cbt_home/test/#{tr.id}"}
            %h5.card-title=tr.name
          %p.card-text=tr.description
        .card-footer
          %small.text-muted
            ="Доступен с #{tr.started_at.strftime("%d.%m.%Y")} и до #{tr.stopped_at.strftime("%d.%m.%Y")}"
      -else
        %center
          = image_tag('cloud.png', width: "150", :tooltip=>t("start"))
        .card-body
          %h5.card-title=""
          %p.card-text=""
        .card-footer
          %small.text-muted= "Пока не доступно"
    .card
      -if i+2 < trc
        -tr = @trainings[i+2]
        %center
          = image_tag('online-training.png', width: "150", :tooltip=>t("start"))
        .card-body
          %a{:href => "/cbt_home/test/#{tr.id}"}
            %h5.card-title=tr.name
          %p.card-text=tr.description
        .card-footer
          %small.text-muted
            ="Доступен с #{tr.started_at.strftime("%d.%m.%Y")} и до #{tr.stopped_at.strftime("%d.%m.%Y")}"
      -else
        %center
          = image_tag('cloud.png', width: "150", :tooltip=>t("start"))
        .card-body
          %h5.card-title=""
          %p.card-text=""
        .card-footer
          %small.text-muted= "Пока не доступно"
  -i = i + 3
  %br