-if [28, 27, 26, 25, 22, 4, 6].include? @cbt_training.id
  = render :partial => "/cbt_home/certs/certificate#{@cbt_training.id}", :locals => {:legend => t(".title")}
-else
  = render :partial => '/cbt_home/certs/certificate', :locals => {:legend => t(".title")}