.span9
  %h3.pull-left
    .text3d=@user_test.cbt_test.name
  %p
    .card
      .alert.alert-primary{:role => "alert"}
        Прохождение теста пользователем
      .card-body
        %table.table-striped{:style=>"width:100%;"}
          %tr
            %th="№"
            %th="Задание"
            %th="Начало выполнения"
            %th="Дан ответ"
            %th="Переход к заданию"
          -i = 0
          -@user_test_questions.each do |q|
            -i = i + 1
            %tr
              %td=i
              %td
                -begin
                  %p.card-text=q.cbt_question.name
                -rescue
                  %p.card-text=""
              %td
                -if !q.start_time.nil?
                  =q.start_time.strftime("%d.%m.%Y")
                -else
                  ="не просматривалось"
              %td
                -if !q.end_time.nil?
                  =q.end_time.strftime("%d.%m.%Y")
                -else
                  ="ответ не дан"
              %td
                %a{:href => "/cbt_home/get_user_test_question/#{q.id}"}
                  ="Перейти"
