.span9
  %h3.pull-left
    .text3d=@test.name
  .card
    .alert.alert-primary{:role => "alert"}
      = "Обзор результатов теста"
    .card-body
      %table.table-borderless.table_stripped
        %tr
          %th="Начало теста"
          %td=""
          %td=@user_test.start_time.strftime("%d.%m.%Y %H:%M")
        %tr
          %th="Окончание теста"
          %td=""
          %td=@user_test.end_time.strftime("%d.%m.%Y %H:%M")
        %tr
          %th="Первичный балл"
          %td=""
          %td=@user_test.primary_mark
        %tr
          %th="В 100-балльной шкале"
          %td=""
          %td=@user_test.mark100
        -if @user_test.description.nil?
          %tr
            %th="Дополнительные пераметры"
            %td=""
            %td=@user_test.description
  .card
    .alert.alert-primary{:role => "alert"}
      = "Обзор вопросов"
    .card-body
      %table.styled-table.table-striped{:style=>"width:100%;"}
        %thead
          %tr
            %th="№"
            %th="Вопрос"
            %th="Время"
            %th="Ответ"
            %th="Верный ответ"
            %th="Полученный балл"
            %th="Комментарий *"
        %tbody
          -i = 0
          -@user_test_questions.each do |r|
            -i+=1
            %tr
              %td=i
              %td=r.cbt_question.name
              %td
                -if r.start_time.nil?
                  ="Не выполнялось"
                -else
                  ="С #{r.start_time.strftime("%d.%m.%Y %H:%M")} до #{r.end_time.strftime("%d.%m.%Y %H:%M")}"
              %td="#{r.user_answer}".gsub('#', '; ')
              -if (@test.explore_correct_answers==true) or (@test.explore_correct_answers_after_stopped and Time.current > @test.stopped_at)
                %td=r.cbt_question.correct_answer.gsub('#', '; ')
                %td=r.primary_mark
              -else
                %td="скрыто"
                %td="скрыто"
              -if r.cbt_question.cbt_answer_type.name == 'Отметки по критериям'
                -if r.comment != '0'
                  %td="#{r.comment}"
                -else
                  %td="-"
              -else
                %td=r.comment
      %p
        %i
          = "* для вопросов с оцениванием работ участников - расхождений на 2 и более баллов"