%p="hi!"
=@cbt_user_test_question.inspect
=@cbt_question.inspect
-if !@cbt_question.nil?
  .span9
    %h3.pull-left
      .text3d=@test.name
    .apple_pagination
      %table.table-borderless{:style=>"width:100%;"}
        %tr
          %td="Переход между вопросами"
          %td
            %center
              .pagination{:role => "navigation"}
                -nw= false
                -nn= @cbt_user_test_question.id
                -if @cbt_user_test_question.sort_by > 1
                  -begin
                    %a.previous_page{:href => "/cbt_home/get_user_test_question/#{@cbt_user_test_questions.where("sort_by = #{@cbt_user_test_question.sort_by - 1}").first.id}", :rel => "next"}="← Предыдущий"
                  -rescue
                    =""
                -else
                  %span.previous_page.disabled{"aria-disabled" => "true"}="← Предыдущий"
                -@cbt_user_test_questions.each do |q|
                  -if nw == true
                    -nn= q.id
                    -nw= false
                  -if q.id == @cbt_user_test_question.id
                    -nw= true
                    -if q.end_time.nil?
                      %em.current{"aria-current" => "page"}="#{@cbt_user_test_question.sort_by}"
                    -else
                      %em.current_answered{"aria-current" => "page"}="#{@cbt_user_test_question.sort_by}"

                  -else
                    -if q.end_time.nil?
                      %a{:href => "/cbt_home/get_user_test_question/#{q.id}", :rel => "next"}="#{q.sort_by}"
                    -else
                      %a.answered{:href => "/cbt_home/get_user_test_question/#{q.id}", :rel => "next"}="#{q.sort_by}"
                -if @cbt_user_test_question.sort_by < @cbt_user_test_questions.count
                  %a.next_page{:href => "/cbt_home/get_user_test_question/#{nn}", :rel => "next"}="Следующий →"
                -else
                  %span.next_page.disabled{"aria-disabled" => "true"}="Следующий →"
          %td
            %right
              %a.btn.btn-primary.active{"aria-pressed" => "true", :href => "/cbt_home/get_user_test_results/#{@cbt_user_test_question.cbt_user_test_id}", :role => "button", data: { confirm: "Вы уверены, то хотите завершить попытку? После этого изменить ответы станет невозможно!"}}="Завершить тест"

    = form_for @cbt_user_test_question do |f|
      =f.hidden_field :id, :value => @cbt_user_test_question.id
      .card
        -@cbt_question = @cbt_user_test_question.cbt_question
        .alert.alert-primary{:role => "alert"}
          %table.table-borderless{:style=>"width:100%;"}
            %tr
              %td
                ="#{@cbt_question.name}"
              %td
                %center
                  %b
                    -if !@cbt_question.help_pdf_file.nil?
                      -if !@cbt_question.help_pdf_file.file.nil?
                        -help_pdf_file = @cbt_question.help_pdf_file.file.path
                        -help_pdf_file = help_pdf_file.match('public.uploads.*')[0].gsub('public', '')
                        -help_pdf_file2="/uploads/cbt_trainings_pdfs/"+"#{@cbt_question.help_pdf_file}".split('/')[-1]+".pdf"
                        -help_pdf_file2=help_pdf_file2.squish.downcase.gsub('.pdf.pdf', '.pdf')
                        -if File.exist?("#{Rails.public_path}#{help_pdf_file2}")
                          -help_pdf_file = help_pdf_file2
                        -if File.exist?("#{Rails.public_path}#{help_pdf_file}")
                          =link_to "Скачать справочные материалы", help_pdf_file, target: :_blank
                        -else
                          -if current_user.admin?
                            ="не найден #{help_pdf_file2}"
              %td
                %right
                  .actions
                    = f.submit 'Сохранить ответ'
        .card-body
          =render :partial => "/cbt_questions/questions/top_question_type_id_#{@cbt_question.cbt_question_type_id}", :locals => {:cbt_question => @cbt_question}
          =render :partial => "/cbt_questions/answers/answer_type_id_#{@cbt_question.cbt_answer_type_id}", :locals => {:cbt_question => @cbt_question}
          =render :partial => "/cbt_questions/questions/bottom_question_type_id_#{@cbt_question.cbt_question_type_id}", :locals => {:cbt_question => @cbt_question}

-else
  %p=""