-if @cbt_training.nil?
  ="Не определён тренинг"
-else
  %h5=@cbt_training.name
  -cbt_training_tests = CbtTrainingTest.where(:cbt_training_id => @cbt_training).order("sort_by")
  %br
  %h6="Список разделов тренинга"
  -proshel = false
  %table.table-striped.table-bordered
    %tr
      -#%th="№"
      %th="Наименование"
      %th="Использовано попыток"
      %th="Максимальный набранный балл"
      %th="Доля от максимального балла"
      -if @cbt_training.for_experts
        %th="Расхождение на 2 и более балла"
    -i=0
    -cbt_training_tests.each do |tt|
      -i+=1
      -@max_primary_mark = 0
      -@max_mark100 = 0
      -begin
        -cbt_test = CbtTest.find(tt.cbt_test_id)
        -cbt_user_tests = CbtUserTest.where(:user_id => current_user.id, :cbt_test_id => cbt_test.id)
        -@max_primary_mark = cbt_user_tests.map(&:primary_mark).max
        -@max_mark100 = cbt_user_tests.map(&:mark100).max
        -@max_description = CbtUserTest.where(:primary_mark => @max_primary_mark).order("description DESC").first.description
      -rescue
        -cbt_test = nil
        -cbt_user_tests = nil
        -@max_primary_mark = 0
        -@max_mark100 = 0
        -@max_description = '0'
      -if !@max_description.nil?
        -@max_description = @max_description.strip.split(/\s+/)[0]
      -if @max_mark100.nil?
        -@max_mark100 = 0
      -if tt.mandatory == true
        -begin
          -if @cbt_training.for_employees and @max_mark100 >= 75
            -proshel = true
          -if @cbt_training.for_employees and @max_mark100 < 75
            -proshel = false
          -if @cbt_training.for_experts
            -proshel = true
          -if @cbt_training.for_observers and @max_mark100 >= 75
            -proshel = true
        -rescue
          -proshel = false

      %tr
        -#%td=i
        -begin
          %td=cbt_test.name
          %td=cbt_user_tests.count
          %td=@max_primary_mark.round(2)
          %td=@max_mark100.round(2)
          -if @cbt_training.for_experts
            %td=@max_description
        -rescue
          %td=""
          %td=""
          %td=""
          %td=""
          %td=""
  -if proshel == true
    %a{:href => "/cbt_home/get_user_training_results/#{@cbt_training.id}.pdf", :class=>"btn btn-primary stretched-link"}="Скачать сертификат"
