- if current_user.nil?
  = render :partial => 'trainings', :locals => {:legend => t(".title")}
-else
  = render(partial: 'trainings', locals: { trainings: @training })
-# -else
-#   = render :partial => 'dashbrd', :locals => {:legend => t(".title")}
-#   = render :partial => 'shedule', :locals => {:legend => t(".title")}
