-#%h2=@test.name
-#%h3=@test.description
-#%p=@test.manual
-#%p=@test.time_limit
-#%p=@test.explore_correct_answers
-#%p=@test.explore_correct_answers_after_stopped
-#%p=@test.attempts_number
-#%p=@test.started_at
-#%p=@test.stopped_at
-#%p=
-if !current_user.nil?
  %p.border-bottom-0
    = link_to '/cbt_home/', :class => "btn btn-primary btn-mini" do
      = bootstrap_icon "card-list", width: 15, height: 15, fill: "yellow"
      = " Вернуться к списку тренингов "
    =" | "
    = link_to :back, :class => "btn btn-primary btn-mini" do
      = bootstrap_icon "reply", width: 15, height: 15, fill: "yellow"
      = t('buttons.back')

  .span9
    %h3.pull-left
      .text3d=@test.name
    %p
      .card
        .alert.alert-primary{:role => "alert"}
          Параметры теста
        .card-body
          %p.card-text
            %b
              ="Временные рамки: "
            -begin
              ="доступен с #{@test.started_at.strftime("%d.%m.%Y")} по #{@test.stopped_at.strftime("%d.%m.%Y")}."
            -rescue
              ="не задано"
          %p.card-text
            %b
              ="Показ правильных ответов: "
            -if @test.explore_correct_answers == true
              ="по окончании теста."
            -elsif @test.explore_correct_answers_after_stopped == true
              ="по завершению времени тестирования."
            -else
              ="никогда."

          %p.card-text
            %b
              ="Ограничение по времени: "
            -if @test.time_limit.nil?
              -@test.time_limit = '0:0:0'
              -@test.save
            -if @test.time_limit.strftime("%H:%M") != "00:00"
              %td="#{@test.time_limit.strftime("%H:%M")}"
            -else
              %td="отсутствует."

          %p.card-text
            %b
              ="Справочные материалы: "
            -if !@test.manual.nil?
              -if !@test.manual.file.nil?
                =link_to "скачать.", @test.manual.to_s, target: :_blank
              -else
                %td="отсутствуют."
            -else
              %td="отсутствуют."

          %p.card-text
            %b
              ="Ограничение по количеству попыток: "
              -if "0#{@test.attempts_number}".to_i > 0
                %td="#{@test.attempts_number}"
              -else
                %td="отсутствует."

      .card
        .alert.alert-primary{:role => "alert"}
          Описание теста
        .card-body
          .card_text
            %p=@test.formatted_body

      .card
        .alert.alert-primary{:role => "alert"}
          -cu= current_user.first_name
          ="Результаты пользователя #{cu}"
        .card-body
          .card_text
            %table.table-borderless{:style=>"width:100%;"}
              %tr
                %td
                  -tryies = 999
                  -if @test.attempts_number > 0
                    %b
                      ="Максимальное число попыток: "
                    ="#{I18n.t :tryies, count: @test.attempts_number} "
                  -else
                    %b
                      ="Число попыток не ограничено."
                  -us = CbtUserTest.where(:user_id => current_user.id, :cbt_test_id => @test.id)
                  -if us.count > 0
                    -#%p="Вы уже проходили данный тест"
                    -if @test.attempts_number > 0
                      -tryies = @test.attempts_number - us.count
                      %p="Количество оставшихся попыток: #{I18n.t :tryies, count: tryies}"
                  -if tryies > 0
                    %p
                      %a{:href => "/cbt_home/get_user_test/#{@test.id}"}
                        ="Пройти тестирование"

                %td
                  -if us.count > 0
                    %b
                      ="Посмотреть результаты предыдущих попыток:"
                    %br
                    -us.each do |t|
                      -if !t.end_time.nil?
                        =link_to "Результат от #{t.end_time.strftime("%d.%m.%Y %H:%M")} (#{t.primary_mark} баллов)", "/cbt_home/get_user_test_results/#{t.id}"
                      -else
                        -q = CbtUserTestQuestion.where(:cbt_user_test_id => t.id).order("sort_by").first
                        -if !q.nil?
                          =link_to "Продолжить попытку от #{t.start_time.strftime("%d.%m.%Y %H:%M")}", "/cbt_home/get_user_test_question/#{q.id}"
                        -else
                          ="ошибка: вопрос отсутствует"
                      %br
-else
  %p="Вам следует войти в систему"