.span9
  %h3.pull-left
    .text3d=@training.name
  %hr
  %p.border-bottom-0
    = link_to '/cbt_home/', :class => "btn btn-primary btn-mini" do
      = bootstrap_icon "card-list", width: 15, height: 15, fill: "yellow"
      = " Вернуться к списку тренингов "
    =" | "
    = link_to :back, :class => "btn btn-primary btn-mini" do
      = bootstrap_icon "reply", width: 15, height: 15, fill: "yellow"
      = t('buttons.back')
  %p
    .card
      .alert.alert-primary{:role => "alert"}
        Параметры теста
      .card-body
        %p.card-text
          %b
            ="Временные рамки: "
          ="доступен с #{@training.started_at.strftime("%d.%m.%Y")} по #{@training.stopped_at.strftime("%d.%m.%Y")}."
        %p.card-text
          ="Предназначен для: "
          -whom = []
          -if @training.for_students == true
            -whom << "учащихся"
          -if @training.for_employees == true
            -whom << "сотрудников"
          -if @training.for_experts == true
            -whom << "экспертов"
          ="#{whom.join(', ')}."

    .card
      .alert.alert-primary{:role => "alert"}
        Описание тренинга
      .card-body
        .card_text
          %p=@training.formatted_body

    .card
      .alert.alert-primary{:role => "alert"}
        Разделы тренинга
      .card-body
        .card_text
          %table.table-striped.table-bordered{:style=>"width:100%;"}
            %thead
              %tr
                %th="Раздел"
                %th="Вопросов"
                %th="Время"
                %th="Попытки"
                %th="Показ ответов"
                %th
                  ="Обяза-"
                  %br
                  ="тельный"
                %th="Ваш балл"
            %tbody
              -@training_tests.each do |t|
                %tr
                  %td
                    =link_to t.cbt_test.name, "/cbt_home/test/#{t.cbt_test.id}"
                  %td=CbtTestQuestionSet.where(:cbt_test_id => t.cbt_test).count
                  -if t.cbt_test.time_limit.nil?
                    -t.cbt_test.time_limit = '0:0:0'
                    -t.save
                  -if t.cbt_test.time_limit.strftime("%H:%M") != "00:00"
                    %td="#{t.cbt_test.time_limit.strftime("%H:%M")}"
                  -else
                    %td="∞"
                  %td
                    =""
                    -begin
                      =CbtUserTest.where(:user_id=>current_user.id, :cbt_test_id=>t.cbt_test.id).count
                    -rescue
                      ="0"
                    =" из "
                    -if t.cbt_test.attempts_number.nil?
                      -cc = t.cbt_test
                      -cc.attempts_number = 0
                      -cc.save
                    -if t.cbt_test.attempts_number > 0
                      =t.cbt_test.attempts_number
                    -else
                      ="∞"
                    =""
                  %td
                    -if t.cbt_test.explore_correct_answers == true
                      ="сразу"
                    -elsif t.cbt_test.explore_correct_answers_after_stopped == true
                      ="после #{@training.stopped_at.strftime("%d.%m")}"
                    -else
                      ="скрыт"
                  %td
                    -if t.mandatory == true
                      ="да"
                    -else
                      ="нет"
                  %td
                    -begin
                      -ball = CbtUserTest.where(:user_id=>current_user.id, :cbt_test_id=>t.cbt_test.id).where("primary_mark is NOT NULL").map(&:primary_mark).max
                      -if !ball.nil?
                        =ball.to_i
                      -else
                        ="0"
                    -rescue
                      ="0"
                    -sb = 0
                    -CbtTestQuestionSet.where(:cbt_test_id => t.cbt_test).each do |qs|
                      -# =qs.cbt_test_id
                      -# -puts("qs: #{qs.inspect}")
                      -questions_set_questions = CbtQuestionSetQuestion.where(:cbt_questions_set_id => qs.cbt_questions_set_id)
                      -# -puts("questions_set_questions: #{questions_set_questions.inspect}")
                      -questions = CbtQuestion.where(:id => questions_set_questions.map(&:cbt_question_id))
                      -# -puts("questions: #{questions.inspect}")
                      -if questions.count > 0
                        -sb+=questions.sum(&:primary_mark)/questions.count
                      -else
                        -sb=0
                      -if sb.to_i == sb
                        -sb=sb.to_i
                    =" из #{sb}"
