.content-block
  %table.table-borderless
    %tr
      %td
        %center
          = image_tag('cat_meditation.png', :tooltip=>t("cat meditating"))
      %td
      .headline-wrapper
        %h1.headline Что-то пошло не так.
        %p.headline-copy
          Это ошибка 404, которая появляется, когда вы щёлкаете по неверной ссылке или переходите по неверному адресу URL.
          %br
          Может быть, вы начнёте поиск заново с главной страницы?
          = succeed "." do
            %a{href: "/"} нажмите сюда