-#%h1 Ошибка

-begin
  -if current_user.ous_role == true or current_user.mouo_role == true or current_user.admin?
    .content-block
    %table.table-borderless
      %tr
        %td
          %center
            = image_tag('cat_broke_cup', :tooltip=>t("cat break cup"))
        %td
          .headline-wrapper
            %h1.headline Что-то пошло не так...
            %p.headline-copy
              Это ошибка 500, которая появляется, когда вы выполняете действия, не предусмотренные разработчиками.
              %br
              %p Пожалуйста, сообщите о данной ошибке на altay.ege@yandex.ru с приложением следующего текста (не скриншотом):
              %p= request.referer
              %p= request.url
              %p= @exception
              %p Если Вы производили импорт какого-то файла, то обязательно приложите его.
              %p Также в заявке просим кратко описать, какие действия привели к появлению данной ошибки, можно сопроводить заявку скриншотами действий.
              %p
                ="А пока мы будем понимать источник ошибки, попробуйте начать всё заново с главной страницы?"
                = succeed "." do
                  %a{href: "/"} нажмите сюда
  -else
    %table.table-borderless
      %tr
        %td
          %center
            = image_tag('cat_broke_cup.png', :tooltip=>t("cat break cup"))
        %td
          .headline-wrapper
            %h1.headline Что-то пошло не так.
            %p.headline-copy
          Это ошибка 500, которая появляется, когда вы выполняете действия, не предусмотренные разработчиками.
          %br
          %p
            ="Пожалуйста, попробуйте сначала выйти по ссылке"
            %a{href: "/users/sign_out"}="нажмите сюда"
            =",а затем попробуйте сделать то, что вы хотели, заново"
          %p="Если не получится, то сообщите о данной ошибке на почту #{SiteInfo.find(1).email} с приложением следующего текста (не скриншотом):"
          %p= request.referer
          %p= request.url
          %p= @exception
-rescue
  %p
    ="Вы не имеете прав для выполнения данных действий. Можете обратиться по почте #{SiteInfo.find(1).email}, если считаете это сообщение ошибкой."