= form_for @download_count do |f|
  - if @download_count.errors.any?
    #error_explanation
      %h2= "#{pluralize(@download_count.errors.count, "error")} prohibited this download_count from being saved:"
      %ul
        - @download_count.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :resource
    = f.text_field :resource
  .actions
    = f.submit 'Save'
