%h1 Listing download_counts

%table
  %thead
    %tr
      %th User
      %th Resource
      %th
      %th
      %th

  %tbody
    - @download_counts.each do |download_count|
      %tr
        %td= download_count.user_id
        %td= download_count.resource
        %td= link_to 'Просмотр', download_count
        %td= link_to 'Правка', edit_download_count_path(download_count)
        %td= link_to 'Удаление', download_count, method: :delete, data: { confirm: 'Вы уверены? Это действие необратимо!' }

%br

= link_to 'New Download count', new_download_count_path
