%p#notice= notice

%p
  %b User:
  = @download_count.user_id
%p
  %b Resource:
  = @download_count.resource

= link_to 'Правка', edit_download_count_path(@download_count)
\|
= link_to 'Вернуться', download_counts_path
