<% controller = "#{class_name}Controller".constantize %>
require "spec_helper"
require "factories/dictionaries"
require "factories/user"
require "support/device"

describe <%= class_name %>Controller do
  render_views
  before(:each) do
    @user = FactoryGirl.create(:user)
    sign_in @user
  end

  describe "should be success" do
    before(:all) do
      @model_name = :<%= file_name.singularize %>
      @target = FactoryGirl.create(@model_name)
    end
<% if (controller.new.respond_to?(:index)) %>
    it "GET 'index'" do
      get :index
      response.should be_success
    end<% end %>
<% if (controller.new.respond_to?(:new)) %>
    it "GET 'new'" do
      get :new
      response.should be_success
    end<% end %>
<% if (controller.new.respond_to?(:edit)) %>
    it "GET 'edit'" do
      get :edit, :id => @target
      response.should be_success
    end<% end %>
<% if (controller.new.respond_to?(:create)) %>
    it "POST 'create'" do
      target = FactoryGirl.build(@model_name)
      post :create, target.attributes
      response.should be_success
    end<% end %>
<% if (controller.new.respond_to?(:update)) %>
    it "PUT 'update'" do
      target_params = get_accessible_attributes(FactoryGirl.build(@model_name))
      params = {@model_name => target_params, :id => @target.id}
      put :update, params
      response.should be_success
    end<%end%>
<% if (controller.new.respond_to?(:destroy)) %>
    it "DELETE 'destroy'" do
      lambda do
        delete :destroy, :id => @target
        response.should redirect_to(:controller => controller.controller_path, :action => :index)
      end.should change(@target.class, :count)
    end  <% end %>
  end
end