-# Вопрос с PDF-файлом
-if !@cbt_question.pdf_file.nil?
  -if !@cbt_question.pdf_file.file.nil?
    -pdffile = @cbt_question.pdf_file.file.path
    -pdffile = pdffile.match('public.uploads.*')[0].gsub('public', '')
    -pdffile2="/uploads/cbt_trainings_pdfs/"+"#{@cbt_question.pdf_file}".split('/')[-1]+".pdf"
    -pdffile2=pdffile2.squish.downcase.gsub('.pdf.pdf', '.pdf')
    -if File.exist?("#{Rails.public_path}#{pdffile2}")
      -pdffile = pdffile2
    -if File.exist?("#{Rails.public_path}#{pdffile}")
      %iframe{:frameborder => "0", :height => "700", :scrolling => "no", :src => "/pdfjs/web/viewer.html?file="+pdffile, :style => "border: 0", :width => "100%"}
    -else
      %p="Не получается найти PDF-файл #{pdffile2} Проверьте немного позднее."