-# Вопрос с mp3-файлом
-# Тут надо сделать проигрыватель

-if !@cbt_question.pdf_file.nil?
  -if !@cbt_question.pdf_file.file.nil?
    -mp3file = @cbt_question.pdf_file.file.path
    -mp3file = mp3file.match('public.uploads.*')[0].gsub('public', '')
    -mp3file2="/uploads/cbt_trainings_mp3s/"+"#{@cbt_question.pdf_file}".split('/')[-1]+".mp3"
    -mp3file2=mp3file2.squish.downcase.gsub('.mp3.mp3', '.mp3')
    -if File.exist?("#{Rails.public_path}#{mp3file2}")
      -mp3file = mp3file2
    -if File.exist?("#{Rails.public_path}#{mp3file}")
      %audio{:controls => "", :src => mp3file, :type => "audio/mpeg"}
        Ваш браузер не поддерживает воспроизведение аудио
    -else
      %p="Не получается найти mp3-файл. Проверьте немного позднее."
