.row
  .span9
    %h3.pull-left
      .text3d= "Перечень типов ответов"
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag cbt_answer_types_path, :method => 'get', :id => "cbt_answer_types_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = image_tag('find.png', size: "34")
                  = "искать"
          %td
            - if can? :create, CbtAnswerType
              = link_to new_cbt_answer_type_path, class: "btn btn-light" do
                = image_tag('create_new.png', size: "34")
                = "создать"
            - if (can? :create, CbtAnswerType) and (can? :export, CbtAnswerType)
              =" | "
            - if can? :export, CbtAnswerType
              = link_to cbt_answer_types_export_path + '.xlsx', class: "btn btn-light" do
                = image_tag('download.png', size: "34")
                = "скачать"
            - if (can? :export, CbtAnswerType) and (can? :import, CbtAnswerType)
              =" | "
            - if can? :import, CbtAnswerType
              = link_to new_cbt_answer_types_import_path, class: "btn btn-light disabled" do
                = image_tag('upload.png', size: "34")
                = "импорт"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}