#carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
  .carousel-inner
    .carousel-item.active
      %h2{:align => 'center'}=@cbt_answer_type.name.to_s
  -if !@previous.nil?
    %a.carousel-control-prev{"data-slide" => "prev", :href => "/cbt_answer_types/" + @previous.id.to_s, :role => "button"}
      %span.carousel-control-prev-icon{"aria-hidden" => "true"}
      %p=@previous.name[0..10]+'...'.to_s
  -if !@next.nil?
    %a.carousel-control-next{"data-slide" => "next", :href => "/cbt_answer_types/" + @next.id.to_s, :role => "button"}
      %p=@next.name[0..10]+'...'.to_s
      %span.carousel-control-next-icon{"aria-hidden" => "true"}

.alert.alert-info{:role => "alert"}
  - if can? :edit, @cbt_answer_type
    ="Внимание! На данной странице возможен как просмотр, так и редактирование отдельных полей (через двойной щелчок по полю), при этом "
    %b
      ="производится автоматическое сохранение"
    =" каждого отдельного поля. "
    ="В связи с этим, если в карточке есть хотя бы одно неверное заполненное поле, то изменения не сохраняются."
    %br
    ="Чтобы изменить несколько полей, следует перейти в режим редактирования всей записи по кнопке «Редактировать»."
    ="Поля, заблокированные для редактирования, помечены серым цветом."
  -else
    ="Редактирование данной записи заблокировано."
%table
  -if current_user.admin?
    %tr
      %th= t("cbt_answer_types.name")
      %td= best_in_place @cbt_answer_type, :name
  - else
    %tr
      %th= t("cbt_answer_types.name")
      %td{bgcolor: '#C0C0C0'}= @cbt_answer_type.name.to_s

%div
  %hr
    = link_to cbt_answer_types_path, :class => "btn btn-primary btn-mini" do
      = bootstrap_icon "card-list", width: 15, height: 15, fill: "yellow"
      = " Вернуться к списку типов ответов "
    \ 
    - if can? :edit, @cbt_answer_type
      = link_to edit_cbt_answer_type_path(@cbt_answer_type), :class => "btn btn-primary btn-mini" do
        = bootstrap_icon "pencil", width: 15, height: 15, fill: "yellow"
        = " Редактировать "

