.row
  .col-lg-4.col-md-6.ml-auto.mr-auto
    %h1.text-center=t('devise.registrations.edit.title')
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .form-group
        = f.text_field :name, autofocus: false, class: 'form-control', placeholder: t('devise.registrations.edit.full_name')
      .form-group
        = f.email_field :email, class: 'form-control', placeholder: t('devise.registrations.edit.email')
      .form-group
        = t('devise.label.avatar')
        = f.file_field :avatar, accept:'image/*'
      = image_tag avatar_path(f.object), class: "rounded border shadow-sm d-block mx-auto my-3"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        .alert.alert-warning
          =t('devise.registrations.edit.currently_waiting_confirmation_for_email')
      .form-group
        = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: t('Password')
        %p.form-text.text-muted
          %small
            = t('devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it')
      .form-group
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: t('devise.registrations.edit.confirm_password')
      .form-group
        = f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: t('devise.registrations.edit.current_password')
        %p.form-text.text-muted
          %small
            = t('devise.registrations.edit.we_need_your_current_password_to_confirm_your_changes')
      .form-group
        = f.submit t('devise.registrations.edit.save_changes'), class: 'btn btn-lg btn-block btn-primary'
    %hr/
    %p.text-center= link_to t("devise.registrations.edit.deactivate_my_account"), registration_path(resource_name), data: { confirm: t('devise.registrations.edit.are_you_sure_cant_undo')}, method: :delete
