.row
  .alert.alert-info{:role => "alert"}
    ="Внимание! В текущий момент в сервисе производится регистрация только общественных наблюдателей."
    %br
    ="Регистрация на ЕГЭ производится до 1 февраля; регистрация сотрудников, экспертов и др. категорий пользователей осуществляется только через ответственных за информационный обмен в образовательных организациях."
  .col-lg-4.col-md-6.ml-auto.mr-auto
    %h1.text-center=t("devise.registrations.new.sign_up")
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .form-group
        = f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: t("activerecord.attributes.user.first_name")
      .form-group
        = f.email_field :email, autofocus: false, class: 'form-control', placeholder: t("activerecord.attributes.user.email")
      .form-group
        = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: t("activerecord.attributes.user.password")
      .form-group
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: t("devise.passwords.edit.confirm_new_password")
      .form-group
        = f.submit t("devise.registrations.new.sign_up"), class: "btn btn-primary btn-block btn-lg"
    .text-center
      = render "devise/shared/links"
