-if !@except_records.nil?
  %p
    = I18n.t :except_record, count: @except_records.count

-if @except_records.count > 20
  .apple_pagination
    = will_paginate @except_records

-#name, code, created_at, updated_at, short_name, fisgia9code, fisgia11code
%p
  %table.styled-table
    %thead
      %th= t("except_records.code")
      %th= t("except_records.name")
      -#%th= t("except_records.short_name")
      -#%th= t("except_records.fisgia9code")
      -#%th= t("except_records.fisgia11code")
      -#%th= t("except_records.sort_by")
      -if current_user.admin?
        %th= t("except_records.actions.title")
    %tbody
      - @except_records.each do |row|
        -if can? :read, row
          %tr
            %td= row.id.to_s
            %td= link_to row.name.to_s, except_record_path(row)
            -#%td= row.short_name
            -#%td= row.fisgia9code
            -#%td= row.fisgia11code
            -#%td= row.sort_by
            -if current_user.admin?
              %td
                - if can? :edit, row
                  = link_to edit_except_record_path(row) do
                    = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
                - if (can? :edit, row) and  (can? :delete, row)
                  = "  "
                - if can? :delete, row
                  = link_to except_record_path(row), :method => :delete,  data: { confirm: t('except_records.delete_confirm')} do
                    = image_tag('trash.png', size: "24", :tooltip=>t("delete"))

-if @except_records.count > 20
  .apple_pagination
    = will_paginate @except_records