.row
  .span9
    %h3.pull-left
      .text3d= t("except_records.list.title")
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag except_records_path, :method => 'get', :id => "except_records_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = image_tag('find.png', size: "34")
                  = "искать"
          %td
            - if can? :create, ExceptRecord
              = link_to new_except_record_path do
                = image_tag('create_new.png', size: "34")
                = "создать"
            - if (can? :create, ExceptRecord) and (can? :export, ExceptRecord)
              =" | "
            - if can? :export, ExceptRecord
              = link_to except_records_export_path do
                = image_tag('download.png', size: "34")
                = "скачать"
            - if (can? :export, ExceptRecord) and (can? :import, ExceptRecord)
              =" | "
            - if can? :import, ExceptRecord
              = link_to new_except_records_import_path do
                = image_tag('upload.png', size: "34")
                = "импорт"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}