#carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
  .carousel-inner
    .carousel-item.active
      %h2{:align => 'center'}=@except_record.name.to_s
  -if !@previous.nil?
    %a.carousel-control-prev{"data-slide" => "prev", :href => "/except_records/" + @previous.id.to_s, :role => "button"}
      %span.carousel-control-prev-icon{"aria-hidden" => "true"}
      %p=@previous.name[0..10]+'...'.to_s
  -if !@next.nil?
    %a.carousel-control-next{"data-slide" => "next", :href => "/except_records/" + @next.id.to_s, :role => "button"}
      %p=@next.name[0..10]+'...'.to_s
      %span.carousel-control-next-icon{"aria-hidden" => "true"}

.alert.alert-info{:role => "alert"}
  - if can? :edit, @except_record
    ="Внимание! На данной странице возможен как просмотр, так и редактирование отдельных полей (через двойной щелчок по полю), при этом "
    %b
      ="производится автоматическое сохранение"
    =" каждого отдельного поля. "
    ="В связи с этим, если в карточке есть хотя бы одно неверное заполненное поле, то изменения не сохраняются."
    %br
    ="Чтобы изменить несколько полей, следует перейти в режим редактирования всей записи по кнопке «Редактировать»."
    ="Поля, заблокированные для редактирования, помечены серым цветом."
  -else
    ="Редактирование данной записи заблокировано."
%table
  -# -if current_user.admin?
  -#   %tr
  -#     %th= t("except_records.guid")
  -#     %td= best_in_place @ate, :guid
  -# - else
  -#   %tr
  -#     %th= t("except_records.guid")
  -#     %td{bgcolor: '#C0C0C0'}= @except_record.guid.to_s
  -#%tr
  -#  %th= t("except_records.code")
  -#  - if can? :edit, @ate
  -#    %td= best_in_place @ate, :code
  -#  - else
  -#    %td{bgcolor: '#C0C0C0'}=@except_record.code.to_s
  %tr
    %th= t("except_records.name")
    - if can? :edit, @ate
      %td= best_in_place @ate, :name
    - else
      %td{bgcolor: '#C0C0C0'}=@except_record.name.to_s
-#  %tr
-#    %th= t("except_records.district")
-#    - if can? :edit, @ate
-#      %td= best_in_place @ate, :district
-#    - else
-#      %td{bgcolor: '#C0C0C0'}=@except_record.district.to_s
-#  %tr
-#    %th
-#      = t("except_records.low_address")
-#      = "(поле не обязательно)"
-#    - if can? :edit, @ate
-#      %td= best_in_place @ate, :low_address
-#    - else
-#      %td{bgcolor: '#C0C0C0'}=@except_record.low_address.to_s
-#  %tr
-#    %th
-#      = t("except_records.address")
-#      = "(поле не обязательно)"
-#    - if can? :edit, @ate
-#      %td= best_in_place @ate, :address
-#    - else
-#      %td{bgcolor: '#C0C0C0'}=@except_record.address.to_s
-#  %tr
-#    %th= t("except_records.charge_fio")
-#    - if can? :edit, @ate
-#      %td= best_in_place @ate, :charge_fio
-#    - else
-#      %td{bgcolor: '#C0C0C0'}=@except_record.charge_fio.to_s
-#  %tr
-#    %th= t("except_records.phones")
-#    - if can? :edit, @ate
-#      %td= best_in_place @ate, :phones
-#    - else
-#      %td{bgcolor: '#C0C0C0'}=@except_record.phones.to_s
-#  %tr
-#    %th= t("except_records.email")
-#    - if can? :edit, @ate
-#      %td= best_in_place @ate, :email
-#    - else
-#      %td{bgcolor: '#C0C0C0'}=@except_record.email.to_s
-#  %tr
-#    %th= t("except_records.www")
-#    - if can? :edit, @ate
-#      %td= best_in_place @ate, :www
-#    - else
-#      %td{bgcolor: '#C0C0C0'}=@except_record.www.to_s
-#
-#-if @except_records.count > 1
-#  .apple_pagination
-#    .pagination{:role => "navigation"}
-#      %span.previous_page.disabled
-#      - i = 1
-#      - lm = (@except_records.count / 25).to_i
-#      - lmk = (@except_record.code.to_i / lm).to_i
-#      -if @except_records.count > 3
-#        -@except_records.each do |r|
-#          -if ((r.code.to_i == @except_records.first.code.to_i) or (r.code.to_i == @except_records.last.code.to_i)) and (r.code.to_i != @except_record.code.to_i)
-#            %a{:href => r.id.to_s}
-#              =r.code.to_s
-#          -else
-#            -if r.code.to_i == @except_record.code.to_i
-#              %em.current{"aria-current" => "page"}
-#                =r.code.to_s
-#            -else
-#              -if ((r.code.to_i >= @except_record.code.to_i - 8) and (r.code.to_i <= @except_record.code.to_i + 8)) or r.code.to_i % lm == 0
-#                %a{:href => r.id.to_s}
-#                  =r.code.to_s
-#      %span.next_page.disabled
-#
%div
  %hr
    = link_to except_records_path, :class => "btn btn-primary btn-mini" do
      = bootstrap_icon "card-list", width: 15, height: 15, fill: "yellow"
      = " Вернуться к списку фраз-исключений "
    \ 
    - if can? :edit, @except_record
      = link_to edit_except_record_path(@except_record), :class => "btn btn-primary btn-mini" do
        = bootstrap_icon "pencil", width: 15, height: 15, fill: "yellow"
        = " Редактировать "

