.row
  .span9
    %h3.pull-left
      .text3d= "Файлы для скачивания"
    %span.top-panel-actions

      %h5 Файлы для школ
      %table.styled-table{:style=>"width:100%;"}
        %tr
          %th="Наименование файла"
          %th="Дата создания"
          %th="Размер"
          %th="Кто скачал"
          %th="Когда скачал"
          %th="Скачать"
        -@oofiles.sort_by{ |f| File.ctime(f) }.reverse.each do |av|
          -fn = File.basename(av, File.extname(av))
          -if @oo_codes.include? "#{fn[3..8]}"
            %tr
              -time = File.ctime(av).strftime("%d.%m.%Y %H:%M:%S")
              -downloads = Download.where("filename = '#{fn}' and done = true")
              -last = downloads.map(&:created_at).max
              %td=fn
              %td=time
              -if File.size(av) > 0
                %td=number_to_human_size(File.size(av))
              -else
                %td=0
              %td=User.where(:id => downloads.map(&:user_id)).uniq.map(&:first_name).join(', ')
              -if !last.nil?
                -if Time.parse(time) > Time.parse(last.localtime.strftime("%d.%m.%Y %H:%M:%S"))
                  %td{:bgcolor=>'red'}=last.localtime.strftime("%d.%m.%Y %H:%M:%S")
                -else
                  %td=last.localtime.strftime("%d.%m.%Y %H:%M:%S")
              -else
                %td="Файл не скачивался"
              %td
                = link_to "/downloads/#{fn}" do
                  = image_tag('zip.png', size: "24")
                  = "скачать"



      %h5 Файлы авторассадки
      %table.styled-table{:style=>"width:100%;"}
        %tr
          %th="Дата"
          %th="Форма"
          %th="Наименование файла"
          %th="Дата создания"
          %th="Размер"
          %th="Кто скачал"
          %th="Когда скачал"
          %th="Скачать"
        -@avfiles.sort_by{ |f| File.ctime(f) }.reverse.each do |av|
          -fn = File.basename(av, File.extname(av))
          -if @station_codes.include? "#{fn[7..10]}"
            %tr
              %td="#{fn[20..21]}.#{fn[17..18]}.#{fn[12..15]}"
              %td="#{fn[23..25]}"
              %td=fn[0..25]
              -time = File.ctime(av).strftime("%d.%m.%Y %H:%M:%S")
              %td=time
              %td=number_to_human_size(File.size(av))
              -downloads = Download.where("filename = '#{fn[0..25]}' and done = true")
              %td=User.where(:id => downloads.map(&:user_id)).uniq.map(&:first_name).join(', ')
              -last = downloads.map(&:created_at).max
              -if !last.nil?
                -if Time.parse(time) > Time.parse(last.localtime.strftime("%d.%m.%Y %H:%M:%S"))
                  %td{:bgcolor=>'red'}=last.localtime.strftime("%d.%m.%Y %H:%M:%S")
                -else
                  %td=last.localtime.strftime("%d.%m.%Y %H:%M:%S")
              -else
                %td="Файл не скачивался"
              %td
                = link_to "/downloads/#{fn[0..25]}" do
                  = image_tag('encrypted_file.png', size: "24")
                  = "скачать"

      %h5 Файлы с дополнительными материалами
      %table.styled-table{:style=>"width:100%;"}
        %tr
          %th="Дата"
          %th="Форма"
          %th="Наименование файла"
          %th="Дата создания"
          %th="Размер"
          %th="Кто скачал"
          %th="Когда скачал"
          %th="Скачать"
        -@ikfiles.sort_by{ |f| File.ctime(f) }.reverse.each do |av|
          -fn = File.basename(av, File.extname(av))
          -if @station_codes.include? "#{fn[7..10]}"
            %tr
              -time = File.ctime(av).strftime("%d.%m.%Y %H:%M:%S")
              -downloads = Download.where("filename = '#{fn}' and done = true")
              -last = downloads.map(&:created_at).max
              %td="#{fn[20..21]}.#{fn[17..18]}.#{fn[12..15]}"
              %td="#{fn[23..25]}"
              %td=fn
              %td=time
              -if File.size(av) > 0
                %td=number_to_human_size(File.size(av))
              -else
                %td=0
              %td=User.where(:id => downloads.map(&:user_id)).uniq.map(&:first_name).join(', ')
              -if !last.nil?
                -if Time.parse(time) > Time.parse(last.localtime.strftime("%d.%m.%Y %H:%M:%S"))
                  %td{:bgcolor=>'red'}=last.localtime.strftime("%d.%m.%Y %H:%M:%S")
                -else
                  %td=last.localtime.strftime("%d.%m.%Y %H:%M:%S")
              -else
                %td="Файл не скачивался"
              %td
                = link_to "/downloads/#{fn}" do
                  = image_tag('encrypted_file.png', size: "24")
                  = "скачать"
