%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title Импорт

  %body
  %h2
    .text3d= "Импорт вопросов для онлайн-тестирования из Excel-файла"

  %p
    %b
      ="Помните:"
    ="следует загружать только таблицы, соответствующие формату выгрузки."
    %br

  %p
    .card.bg-light.mb-3
      .card-header="Требования"
      .card-body
        .card-text
          %ul
            %li Вы должны проверить свой файл на соответствие требованиями к модели вопросов.
            %li Файл должен быть в формате XLSX Excel, при этом содержать столбцы, соответствующие модели.
            %li
              ="Скачать файл-заготовку можно здесь:"
              =link_to 'заготовка', '/docs/cbt_questions_list.xlsx'

  %h5 Выберите файл
  = form_for @cbt_questions_import do |f|
    - if @cbt_questions_import.errors.any?
      = pluralize(@cbt_questions_import.errors.count, "error")
      защита от неверного импорта таблиц.
      Пожалуйста, измените свою электронную таблицу и попробуйте снова.
      %ul
        - @cbt_questions_import.errors.full_messages.each do |msg|
          %li= msg

    = f.file_field :file, class: "filestyle", "data-input" => false

    = f.submit t("Import File")

  %hr

  %p.border-bottom-0
    = link_to cbt_questions_path, :class => "btn btn-primary btn-mini" do
      = bootstrap_icon "card-list", width: 15, height: 15, fill: "yellow"
      = " Вернуться к списку "
    =" | "
    = link_to :back, :class => "btn btn-primary btn-mini" do
      = bootstrap_icon "reply", width: 15, height: 15, fill: "yellow"
      = t('buttons.back')
