#myCarousel.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  .carousel-inner
    .carousel-item.active
      %img.first-slide{:alt => "First slide", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="}/
      .container
        .carousel-caption.text-left
          %h1 Просмотр результатов и бланков олимпиад.
          %p Вы можете посмотреть на этом ресурсе результаты и бланки работы
          %p
            %a.btn.btn-lg.btn-primary{:href => "#", :role => "button"} Войти в систему
    .carousel-item
      %img.second-slide{:alt => "Second slide", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="}/
      .container
        .carousel-caption
          %h1 Результаты диагностических работ.
          %p На этом ресурсе возможен просмотр результатов диагностических работ, выполнение заданий и получение консультаций специалистов, лучших учителей, экспертов государственной итоговой аттестации.
          %p
            %a.btn.btn-lg.btn-primary{:href => "#", :role => "button"} Узнать больше
    .carousel-item
      %img.third-slide{:alt => "Third slide", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="}/
      .container
        .carousel-caption.text-right
          %h1 Результаты функциональной грамотности.
          %p На сервисе можно озакомиться с результатами по функциональной грамотности.
          %p
            %a.btn.btn-lg.btn-primary{:href => "#", :role => "button"} Browse gallery
  %a.carousel-control-prev{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
    %span.carousel-control-prev-icon{"aria-hidden" => "true"}
    %span.sr-only Предыдущий
  %a.carousel-control-next{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
    %span.carousel-control-next-icon{"aria-hidden" => "true"}
    %span.sr-only Следующий