!!!
%html
  %head
    %title We are coming soon
    /
      Coming2Live series free coming soon templates!
      HTML version by Awe7 (http://awe7.com/)
      You can find WordPress version here:
      https://wordpress.org/plugins/coming2live/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:content => "telephone=no", :name => "format-detection"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    / Fonts
    %link{:href => "assets/fonts/fontawesome/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    / Vendors
    %link{:href => "assets/vendors/bootstrap/grid.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/vendors/YTPlayer/css/jquery.mb.YTPlayer.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/vendors/vegas/vegas.min.css", :rel => "stylesheet", :type => "text/css"}/
    / App & fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Work+Sans:300,400,500,700", :rel => "stylesheet", :type => "text/css"}/
    %link#app-stylesheet{:href => "assets/css/main.css", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 9]
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  %body
    #root.page-wrap
      / Content
      .md-content
        / hero
        .hero.md-skin-dark{:style => "background-image:url(https://images.pexels.com/photos/764880/pexels-photo-764880.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);"}
          / header
          .header
            .header__left
              %span 90 Queen St Melbourne Vic. AU
              %span +1-202-555-0192
              %span info@awe7.com
            .header__social
              / social-icon
              %a.social-icon.social-icon__rounded{:href => "#"}
                %i.fa.fa-facebook
              / End / social-icon
              / social-icon
              %a.social-icon.social-icon__rounded{:href => "#"}
                %i.fa.fa-twitter
              / End / social-icon
              / social-icon
              %a.social-icon.social-icon__rounded{:href => "#"}
                %i.fa.fa-behance
              / End / social-icon
              / social-icon
              %a.social-icon.social-icon__rounded{:href => "#"}
                %i.fa.fa-google-plus
              / End / social-icon
          / End / header
          .container
            .hero__wrapper
              .row
                .col-lg-10.col-xs-offset-0.col-sm-offset-0.col-md-offset-0.col-lg-offset-1
                  .hero__title_inner
                    %span.hero__icon b
                    %h1.hero__title We Are Almost Ready for Launch
                    %p.hero__text
                      Perfect and awesome template to present your future product or service.
                      %br>/
                      Hooking audience attention is all in the opener.
              / countdown__module hide undefined
              .countdown__module.hide.undefined{"data-date" => "2018/5/21"}
                %p
                  %span %D
                  Days
                %p
                  %span %H
                  Hours
                %p
                  %span %M
                  Minutes
                %p
                  %span %S
                  Seconds
              / End / countdown__module hide undefined
              .service-wrapper
                / service
                .service
                  %h2.service__title Web Development
                  %p.service__text Curabitur elementum urna augue, eu porta purus gravida in. Cras consectetur, lor
                / End / service
                / service
                .service
                  %h2.service__title App Mobile Design
                  %p.service__text Suspendisse ac elit vitae est lacinia interdum eu sit amet mauris. Phasellus ali
                / End / service
                / service
                .service
                  %h2.service__title Cloud Security
                  %p.service__text Duis porttitor libero ac egestas euismod. Maecenas quis felis turpis. Nulla quis
                / End / service
        / End / hero
      / End / Content
    / Vendors
    %script{:src => "/bs460/jquery.min.js"}
    %script{:src => "assets/vendors/jquery.countdown/jquery.countdown.min.js", :type => "text/javascript"}
    %script{:src => "assets/vendors/flat-surface-shader/fss.min.js", :type => "text/javascript"}
    %script{:src => "assets/vendors/particles.js/particles.js", :type => "text/javascript"}
    %script{:src => "assets/vendors/waterpipe/waterpipe.js", :type => "text/javascript"}
    %script{:src => "assets/vendors/quietflow/quietflow.min.js", :type => "text/javascript"}
    %script{:src => "assets/vendors/YTPlayer/jquery.mb.YTPlayer.min.js", :type => "text/javascript"}
    %script{:src => "assets/vendors/vegas/vegas.min.js", :type => "text/javascript"}
    / App
    %script{:src => "assets/js/main.js", :type => "text/javascript"}