%br
%br
%br
%br
%footer.footer.text-muted.bg-light
  .container
    %span
    %span
      ="© #{Date.today.year} #{SiteInfo.find(1).copyright}"
    %ul.list-inline.mb-0.float-right
      -if SiteInfo.find(1).is_help == true
        %li.list-inline-item.mr-3= link_to t("navigation.help"), help_path
      -if SiteInfo.find(1).is_condition == true
        %li.list-inline-item.mr-3= link_to t("navigation.privacy"), privacy_path

