-#%title= Rails.configuration.application_name
%title= "#{SiteInfo.find(1).open_name}"
%meta{:charset => "utf-8"}/
%meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
= csrf_meta_tags
= csp_meta_tag
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
%script{:src => "/bs460/jquery.min.js"}
= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
