-# =render 'open/navbar'
-# =render 'open/carousel'
-# =render 'open/marketing'
-# #modal-holder
-#   .container
-#     = yield
-# = render 'shared/footer'


%underconstruction
  %h1{:align=>'center'} Сайт ещё не открыт
  %p{:align=>'center'} Сайт временно не работает! Просмотр результатов будет доступен с середины сентября.
  %p{:align=>'center'} Для получения доступа, обратитесь в свою школу.
  %p{:align=>'center'}
    = image_tag('reconstruktion.png', :width=>"50%;")
