-sql = "SELECT count(distinct(o.id)) as ous ,   sum(coalesce(participants_gia9, 0)) + sum(coalesce(participants_gia11, 0)) as wating_students ,   sum(coalesce(participants_gia9, 0)) as participants_gia9 ,   sum(coalesce(participants_gia11, 0)) as participants_gia11 ,   sum(g.compositions) as compositions, sum(g.compositions_is) as compositions_is, sum(g.compositions_iz) as compositions_iz, sum(g.compositions_sob) as compositions_sob,    sum(g.st_ege) as st_ege, sum(g.st_oge) as st_oge, sum(g.st_gve11) as st_gve11, sum(g.st_gve9) as st_gve9, sum(g.st_rdn9) as st_rdn9, sum(g.st_rdn11) as st_rdn11,   sum(g.boys) as boys, sum(g.girls) as girls, sum(g.groups) as groups, sum(g.students) as students, sum(stt.cnt) as stt,    sum(stt9.cnt) as stt9, sum(g.st_11) as st_11, sum(g.st_9) as st_9, sum(g.e11) as e11, sum(g.e9) as e9    FROM ous o   left join (select s.ou_id, count(distinct(s.id)) as cnt from stations s join exam_types_stations ets ON ets.station_id = s.id and ets.exam_type_id in (31, 5, 19, 27, 24, 32)  group by s.ou_id) stt ON stt.ou_id = o.id  left join (select s.ou_id, count(distinct(s.id)) as cnt from stations s join exam_types_stations ets ON ets.station_id = s.id and ets.exam_type_id in (22, 23, 28, 33)  group by s.ou_id) stt9 ON stt9.ou_id = o.id  join mouos m ON m.id = o.mouo_id  join ates a ON a.id = o.ate_id   left join (           select g.ou_id, count(distinct(g.id)) as groups,                  count(distinct(case when s.gender then s.id else null end)) as boys ,                  count(distinct(case when not s.gender then s.id else null end)) as girls ,                  count(distinct(cs.composition_id)) as compositions,                  count(distinct(case when c.composition_type_code IN (1) then afs.student_id else NULL end)) as compositions_is,                  count(distinct(case when c.composition_type_code IN (2) then afs.student_id else NULL end)) as compositions_iz,                  count(distinct(case when c.composition_type_code IN (3) then afs.student_id else NULL end)) as compositions_sob,                  count(distinct(s.id)) as students ,                  count(distinct(case when afs.attestation_form_id IN (1) then afs.student_id else NULL end)) as st_ege ,                  count(distinct(case when afs.attestation_form_id IN (2) then afs.student_id else NULL end)) as st_oge ,                  count(distinct(case when afs.attestation_form_id IN (3) then afs.student_id else NULL end)) as st_gve11 ,                  count(distinct(case when afs.attestation_form_id IN (4) then afs.student_id else NULL end)) as st_gve9 ,                  count(distinct(case when afs.attestation_form_id IN (1, 3) then afs.student_id else NULL end)) as st_11 ,                  count(distinct(case when afs.attestation_form_id IN (2, 4) then afs.student_id else NULL end)) as st_9 ,                  count(distinct(case when afs.attestation_form_id IN (5) and g.number < 11 then afs.student_id else NULL end)) as st_rdn9 ,                  count(distinct(case when afs.attestation_form_id IN (5) and g.number > 10 then afs.student_id else NULL end)) as st_rdn11,                  count(distinct(case when e.on_station is NOT NULL and e.station_post_code is NOT NULL then e.id else NULL end)) as e11,                  count(distinct(case when e.on_station_oge is NOT NULL and e.station_post_code_oge is NOT NULL then e.id else NULL end)) as e9            from groups g join ous o ON o.id = g.ou_id           left join students s ON s.group_id = g.id and s.deleted_at is NULL           left join employees e ON e.ou_id = o.id and e.deleted_at is NULL           left join attestation_forms_students afs ON afs.student_id = s.id           left join compositions_students cs ON cs.student_id = s.id           left join compositions c ON c.id = cs.composition_id where g.deleted_at is NULL group by g.ou_id )          g ON g.ou_id = o.id  where o.deleted_at is NULL"
-if current_user.ous_role?
  -sql = "SELECT count(distinct(o.id)) as ous ,   sum(coalesce(participants_gia9, 0)) + sum(coalesce(participants_gia11, 0)) as wating_students ,   sum(coalesce(participants_gia9, 0)) as participants_gia9 ,   sum(coalesce(participants_gia11, 0)) as participants_gia11 ,   sum(g.compositions) as compositions, sum(g.compositions_is) as compositions_is, sum(g.compositions_iz) as compositions_iz, sum(g.compositions_sob) as compositions_sob,    sum(g.st_ege) as st_ege, sum(g.st_oge) as st_oge, sum(g.st_gve11) as st_gve11, sum(g.st_gve9) as st_gve9, sum(g.st_rdn9) as st_rdn9, sum(g.st_rdn11) as st_rdn11,   sum(g.boys) as boys, sum(g.girls) as girls, sum(g.groups) as groups, sum(g.students) as students, sum(stt.cnt) as stt,    sum(stt9.cnt) as stt9, sum(g.st_11) as st_11, sum(g.st_9) as st_9, sum(g.e11) as e11, sum(g.e9) as e9    FROM ous o   left join (select s.ou_id, count(distinct(s.id)) as cnt from stations s join exam_types_stations ets ON ets.station_id = s.id and ets.exam_type_id in (31, 5, 19, 27, 24, 32)  group by s.ou_id) stt ON stt.ou_id = o.id  left join (select s.ou_id, count(distinct(s.id)) as cnt from stations s join exam_types_stations ets ON ets.station_id = s.id and ets.exam_type_id in (22, 23, 28, 33)  group by s.ou_id) stt9 ON stt9.ou_id = o.id  join mouos m ON m.id = o.mouo_id  join ates a ON a.id = o.ate_id   left join (           select g.ou_id, count(distinct(g.id)) as groups,                  count(distinct(case when s.gender then s.id else null end)) as boys ,                  count(distinct(case when not s.gender then s.id else null end)) as girls ,                  count(distinct(cs.composition_id)) as compositions,                  count(distinct(case when c.composition_type_code IN (1) then afs.student_id else NULL end)) as compositions_is,                  count(distinct(case when c.composition_type_code IN (2) then afs.student_id else NULL end)) as compositions_iz,                  count(distinct(case when c.composition_type_code IN (3) then afs.student_id else NULL end)) as compositions_sob,                  count(distinct(s.id)) as students ,                  count(distinct(case when afs.attestation_form_id IN (1) then afs.student_id else NULL end)) as st_ege ,                  count(distinct(case when afs.attestation_form_id IN (2) then afs.student_id else NULL end)) as st_oge ,                  count(distinct(case when afs.attestation_form_id IN (3) then afs.student_id else NULL end)) as st_gve11 ,                  count(distinct(case when afs.attestation_form_id IN (4) then afs.student_id else NULL end)) as st_gve9 ,                  count(distinct(case when afs.attestation_form_id IN (1, 3) then afs.student_id else NULL end)) as st_11 ,                  count(distinct(case when afs.attestation_form_id IN (2, 4) then afs.student_id else NULL end)) as st_9 ,                  count(distinct(case when afs.attestation_form_id IN (5) and g.number < 11 then afs.student_id else NULL end)) as st_rdn9 ,                  count(distinct(case when afs.attestation_form_id IN (5) and g.number > 10 then afs.student_id else NULL end)) as st_rdn11,                  count(distinct(case when e.on_station is NOT NULL and e.station_post_code is NOT NULL then e.id else NULL end)) as e11,                  count(distinct(case when e.on_station_oge is NOT NULL and e.station_post_code_oge is NOT NULL then e.id else NULL end)) as e9            from groups g join ous o ON o.id = g.ou_id           left join students s ON s.group_id = g.id and s.deleted_at is NULL           left join employees e ON e.ou_id = o.id and e.deleted_at is NULL           left join attestation_forms_students afs ON afs.student_id = s.id           left join compositions_students cs ON cs.student_id = s.id           left join compositions c ON c.id = cs.composition_id where g.deleted_at is NULL group by g.ou_id )          g ON g.ou_id = o.id   where o.deleted_at is NULL and cast(o.code as integer) = #{current_user.target_id} "
-if current_user.mouo_role?
  -sql = "SELECT count(distinct(o.id)) as ous ,   sum(coalesce(participants_gia9, 0)) + sum(coalesce(participants_gia11, 0)) as wating_students ,   sum(coalesce(participants_gia9, 0)) as participants_gia9 ,   sum(coalesce(participants_gia11, 0)) as participants_gia11 ,   sum(g.compositions) as compositions, sum(g.compositions_is) as compositions_is, sum(g.compositions_iz) as compositions_iz, sum(g.compositions_sob) as compositions_sob,    sum(g.st_ege) as st_ege, sum(g.st_oge) as st_oge, sum(g.st_gve11) as st_gve11, sum(g.st_gve9) as st_gve9, sum(g.st_rdn9) as st_rdn9, sum(g.st_rdn11) as st_rdn11,   sum(g.boys) as boys, sum(g.girls) as girls, sum(g.groups) as groups, sum(g.students) as students, sum(stt.cnt) as stt,    sum(stt9.cnt) as stt9, sum(g.st_11) as st_11, sum(g.st_9) as st_9, sum(g.e11) as e11, sum(g.e9) as e9    FROM ous o   left join (select s.ou_id, count(distinct(s.id)) as cnt from stations s join exam_types_stations ets ON ets.station_id = s.id and ets.exam_type_id in (31, 5, 19, 27, 24, 32)  group by s.ou_id) stt ON stt.ou_id = o.id  left join (select s.ou_id, count(distinct(s.id)) as cnt from stations s join exam_types_stations ets ON ets.station_id = s.id and ets.exam_type_id in (22, 23, 28, 33)  group by s.ou_id) stt9 ON stt9.ou_id = o.id  join mouos m ON m.id = o.mouo_id  join ates a ON a.id = o.ate_id   left join (           select g.ou_id, count(distinct(g.id)) as groups,                  count(distinct(case when s.gender then s.id else null end)) as boys ,                  count(distinct(case when not s.gender then s.id else null end)) as girls ,                  count(distinct(cs.composition_id)) as compositions,                  count(distinct(case when c.composition_type_code IN (1) then afs.student_id else NULL end)) as compositions_is,                  count(distinct(case when c.composition_type_code IN (2) then afs.student_id else NULL end)) as compositions_iz,                  count(distinct(case when c.composition_type_code IN (3) then afs.student_id else NULL end)) as compositions_sob,                  count(distinct(s.id)) as students ,                  count(distinct(case when afs.attestation_form_id IN (1) then afs.student_id else NULL end)) as st_ege ,                  count(distinct(case when afs.attestation_form_id IN (2) then afs.student_id else NULL end)) as st_oge ,                  count(distinct(case when afs.attestation_form_id IN (3) then afs.student_id else NULL end)) as st_gve11 ,                  count(distinct(case when afs.attestation_form_id IN (4) then afs.student_id else NULL end)) as st_gve9 ,                  count(distinct(case when afs.attestation_form_id IN (1, 3) then afs.student_id else NULL end)) as st_11 ,                  count(distinct(case when afs.attestation_form_id IN (2, 4) then afs.student_id else NULL end)) as st_9 ,                  count(distinct(case when afs.attestation_form_id IN (5) and g.number < 11 then afs.student_id else NULL end)) as st_rdn9 ,                  count(distinct(case when afs.attestation_form_id IN (5) and g.number > 10 then afs.student_id else NULL end)) as st_rdn11,                  count(distinct(case when e.on_station is NOT NULL and e.station_post_code is NOT NULL then e.id else NULL end)) as e11,                  count(distinct(case when e.on_station_oge is NOT NULL and e.station_post_code_oge is NOT NULL then e.id else NULL end)) as e9            from groups g join ous o ON o.id = g.ou_id           left join students s ON s.group_id = g.id and s.deleted_at is NULL           left join employees e ON e.ou_id = o.id and e.deleted_at is NULL           left join attestation_forms_students afs ON afs.student_id = s.id           left join compositions_students cs ON cs.student_id = s.id           left join compositions c ON c.id = cs.composition_id where g.deleted_at is NULL group by g.ou_id )          g ON g.ou_id = o.id   where o.deleted_at is NULL and cast(a.code as integer) = #{current_user.target_id} "
-records_array = ActiveRecord::Base.connection.execute(sql)


.pricing-header.px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
  -name = 'Наименование'
  -name = Ou.where("cast (code as int) = #{current_user.target_id}").first.to_s if current_user.ous_role
  -name = Mouo.where("cast (code as int) = #{current_user.target_id}").first.short_name_code if current_user.mouo_role
  -name = 'Свердловская область' if current_user.target_id == 99 or current_user.admin?
  %h5.display-4=name
  -#%p На данной странице будет отображаться краткая информация по внесённым сведениям и срокам внесения.

.card-deck.mb-3.text-center
  .card.mb-4.box-shadow
    .card-header
      %h4.my-0.font-weight-normal="Сведения по муниципалитету"
    .card-body
      %h1.card-title.pricing-card-title
        Общие сведения
        %small.text-muted
          =""
      %ul.list-unstyled.mt-3.mb-4
        -if current_user.mouo_role? or current_user.admin?
          %li
            ="#{records_array[0]['ous'].to_i} организаций"
        %li
          ="#{records_array[0]['groups'].to_i} классов"
        %li
          ="#{records_array[0]['students'].to_i} учащихся"
        %li
          ="#{records_array[0]['boys'].to_i} юношей и "
          ="#{records_array[0]['girls'].to_i} девушек"
      %br
      %br
      %br
      %button.btn.btn-lg.btn-block.btn-outline-primary{:type => "button"}
        =link_to 'Перейти к статистике', '/mouo_statistics'
  %hr

  .card.mb-4.box-shadow
    .card-header
      %h4.my-0.font-weight-normal ГИА-9
    .card-body
      %h1.card-title.pricing-card-title
        ГИА-9
        %small.text-muted
          =""
      %ul.list-unstyled.mt-3.mb-4
        %li
          = "#{records_array[0]['compositions_sob'].to_i} запланированых участников ИС"
        %li
          = "#{records_array[0]['st_9'].to_i}  участников ГИА ("
          = "#{records_array[0]['st_oge'].to_i} в форме ОГЭ, "
          = "#{records_array[0]['st_gve9'].to_i} в форме ГВЭ, "
          = "#{records_array[0]['st_rdn9'].to_i} РоднЯзык"
          = ")"
        %li
          = "#{records_array[0]['participants_gia9'].to_i} ожидаемых участников ГИА"
        %li
          = "#{records_array[0]['stt9'].to_i} ППЭ"
        %li
          = "#{records_array[0]['e9'].to_i} сотрудников"
      %br
      %button.btn.btn-lg.btn-block.btn-outline-primary{:type => "button"}
        =link_to 'Перейти к статистике', '/'

  .card.mb-4.box-shadow
    .card-header
      %h4.my-0.font-weight-normal ГИА-11
    .card-body
      %h1.card-title.pricing-card-title
        ГИА-11
        %small.text-muted
          =""
      %ul.list-unstyled.mt-3.mb-4
        %li
          = "#{records_array[0]['compositions_is'].to_i} запланированных участников ИС, #{records_array[0]['compositions_iz'].to_i} участников ИИ"
        %li
          = "#{records_array[0]['st_11'].to_i} участников ГИА ("
          = "#{records_array[0]['st_ege'].to_i} в форме ЕГЭ, "
          = "#{records_array[0]['st_gve11'].to_i} в форме ГВЭ, "
          = "#{records_array[0]['st_rdn11'].to_i} РоднЯзык"
          = ")"
        %li
          = "#{records_array[0]['participants_gia11'].to_i} ожидаемых участников ГИА"
        %li
          = "#{records_array[0]['stt'].to_i} ППЭ"
        %li
          = "#{records_array[0]['e11'].to_i} сотрудников"
      %br
      %button.btn.btn-lg.btn-block.btn-outline-primary{:type => "button"}
        =link_to 'Перейти к статистике', '/'


-#SELECT count(distinct(o.id)) as ous, count(distinct(s.id)) as students
-#  ,sum(coalesce(participants_gia9, 0)) + sum(coalesce(participants_gia11, 0)) as wating_students
-#  ,sum(coalesce(participants_gia9, 0)) as participants_gia9
-#  ,sum(coalesce(participants_gia11, 0)) as participants_gia11
-#  ,count(distinct(g.id)) as groups
-#  ,count(distinct(case when s.gender then s.id else null end)) as boys
-#  ,count(distinct(case when not s.gender then s.id else null end)) as girls
-#  ,count(distinct(cs.composition_id)) as compositions
-#
-#  FROM ous o
-#  join mouos m ON m.id = o.mouo_id
-#  join ates a ON a.id = o.ate_id
-#  left join groups g ON g.ou_id = o.id
-#  left join students s ON s.group_id = g.id
-#  left join compositions_students cs ON cs.student_id = s.id
-#where cast(o.code as integer) = 010000

-#SELECT count(distinct(o.id)) as ous, count(distinct(s.id)) as students
-#    ,sum(coalesce(participants_gia9, 0)) + sum(coalesce(participants_gia11, 0)) as wating_students 	,
-#      sum(coalesce(participants_gia9, 0)) as participants_gia9 	,
-#        sum(coalesce(participants_gia11, 0)) as participants_gia11 	,
-#        count(distinct(g.id)) as groups 	,
-#        count(distinct(case when s.gender then s.id else null end)) as boys 	,
-#        count(distinct(case when not s.gender then s.id else null end)) as girls 	,
-#        count(distinct(cs.composition_id)) as compositions
-#
-#        FROM ous o
-#        join mouos m ON m.id = o.mouo_id
-#        join ates a ON a.id = o.ate_id
-#        left join groups g ON g.ou_id = o.id
-#        left join students s ON s.group_id = g.id
-#        left join compositions_students cs ON cs.student_id = s.id


-# SELECT count(distinct(o.id)) as ous ,
-# 		sum(coalesce(participants_gia9, 0)) + sum(coalesce(participants_gia11, 0)) as wating_students ,
-#		sum(coalesce(participants_gia9, 0)) as participants_gia9 ,
-#		sum(coalesce(participants_gia11, 0)) as participants_gia11 ,
-#
-#		sum(g.compositions) as compositions,
-#		sum(g.compositions_is) as compositions_is,
-#		sum(g.compositions_iz) as compositions_iz,
-#		sum(g.compositions_sob) as compositions_sob,
-#
-#		sum(g.st_ege) as st_ege,
-#		sum(g.st_oge) as st_oge,
-#		sum(g.st_gve11) as st_gve11,
-#		sum(g.st_gve9) as st_gve9,
-#		sum(g.st_rdn9) as st_rdn9,
-#		sum(g.st_rdn11) as st_rdn11,
-#
-#		sum(g.boys) as boys, sum(g.girls) as girls,
-#		sum(g.groups) as groups,
-#		sum(g.students) as students
-#FROM ous o
-#join mouos m ON m.id = o.mouo_id
-#join ates a ON a.id = o.ate_id
-#left join (
-#  select g.ou_id, count(distinct(g.id)) as groups,
-#    count(distinct(case when s.gender then s.id else null end)) as boys ,
-#    count(distinct(case when not s.gender then s.id else null end)) as girls ,
-#    count(distinct(cs.composition_id)) as compositions,
-#    count(distinct(case when c.composition_type_code IN (1) then afs.student_id else NULL end)) as compositions_is,
-#    count(distinct(case when c.composition_type_code IN (2) then afs.student_id else NULL end)) as compositions_iz,
-#    count(distinct(case when c.composition_type_code IN (3) then afs.student_id else NULL end)) as compositions_sob,
-#    count(distinct(s.id)) as students
-#    ,count(distinct(case when afs.attestation_form_id IN (1) then afs.student_id else NULL end)) as st_ege
-#    ,count(distinct(case when afs.attestation_form_id IN (2) then afs.student_id else NULL end)) as st_oge
-#    ,count(distinct(case when afs.attestation_form_id IN (3) then afs.student_id else NULL end)) as st_gve11
-#    ,count(distinct(case when afs.attestation_form_id IN (4) then afs.student_id else NULL end)) as st_gve9
-#    ,count(distinct(case when afs.attestation_form_id IN (5) and g.number < 11 then afs.student_id else NULL end)) as st_rdn9
-#    ,count(distinct(case when afs.attestation_form_id IN (5) and g.number > 10 then afs.student_id else NULL end)) as st_rdn11
-#    from groups g
-#    join ous o ON o.id = g.ou_id
-#    left join students s ON s.group_id = g.id
-#    left join attestation_forms_students afs ON afs.student_id = s.id
-#    left join compositions_students cs ON cs.student_id = s.id
-#    left join compositions c ON c.id = cs.composition_id
-#    left join stations st ON st.ou_id = o.ou_id
-#    left join exam_types_stations ets ON ets.station_id = s.id
-#    left join exam_types et ON et.id = ets.exam_id
-#  group by g.ou_id )g ON g.ou_id = o.id
-#where cast(o.code as integer) = 190103