/*! CSS Used from: https://edu.gia66.ru/sites/default/files/css/css_GYyyXyqwgLPXavAv7kclNKKtQNoTPuSmKh64OLLDb_s.css ; media=all */
@media all {
  /* line 3, app/assets/stylesheets/edu_home.scss */
  *, :after, :before {
    box-sizing: border-box;
  }
  /* line 4, app/assets/stylesheets/edu_home.scss */
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  /* line 5, app/assets/stylesheets/edu_home.scss */
  b {
    font-weight: bolder;
  }
  /* line 6, app/assets/stylesheets/edu_home.scss */
  a {
    color: #009ee0;
    text-decoration: none;
    background-color: transparent;
  }
  /* line 7, app/assets/stylesheets/edu_home.scss */
  a:hover {
    color: #006894;
    text-decoration: underline;
  }
  /* line 8, app/assets/stylesheets/edu_home.scss */
  img {
    border-style: none;
  }
  /* line 9, app/assets/stylesheets/edu_home.scss */
  img {
    vertical-align: middle;
  }
  /* line 10, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media all and (min-width: 576px) {
  /* line 12, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media all {
  /* line 14, app/assets/stylesheets/edu_home.scss */
  .mb-2 {
    margin-bottom: 0.5rem !important;
  }
}

@media all {
  /* line 16, app/assets/stylesheets/edu_home.scss */
  *, :after, :before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  /* line 17, app/assets/stylesheets/edu_home.scss */
  a:not(.btn):not([type=reset]):not([type=submit]):not([type=button]):not(a.button):not(button) {
    text-decoration: underline;
  }
  /* line 18, app/assets/stylesheets/edu_home.scss */
  img {
    page-break-inside: avoid;
  }
  /* line 19, app/assets/stylesheets/edu_home.scss */
  p {
    orphans: 3;
    widows: 3;
  }
}

@media all {
  /* line 21, app/assets/stylesheets/edu_home.scss */
  img {
    max-width: 100%;
    min-height: 1px;
    height: auto;
  }
  /* line 22, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row {
    margin-bottom: 32px;
  }
  /* line 23, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content {
    background-color: #f8f7f5;
    padding: 1rem .5rem 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-top: .5rem solid #95d5f4;
    position: relative;
  }
  /* line 24, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content a {
    color: inherit;
    text-decoration: none;
    flex: 1 0 auto;
  }
  /* line 25, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .views-field {
    background-color: #fff;
    padding: 0 1rem;
  }
  /* line 26, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .views-field .field-content > :last-child {
    margin-bottom: 0;
  }
  /* line 27, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .views-field-opigno-lp-progress {
    color: #b3b3b2;
    text-align: right;
    padding-bottom: .5rem;
  }
  /* line 28, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .views-field-opigno-lp-progress .chart {
    width: 65px;
    height: 2px;
    background-color: #dadada;
    margin-left: auto;
  }
  /* line 29, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .views-field-opigno-lp-progress .chart .bar {
    height: 2px;
    background-color: #efa693;
  }
  /* line 30, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .not-take-link-wrapper {
    display: flex;
    flex-direction: column;
  }
  /* line 31, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .not-take-link-wrapper .views-field-field-learning-path-media-image {
    padding: 0;
    margin-left: -.5rem;
    margin-right: -.5rem;
    top: -1rem;
    position: relative;
  }
  /* line 32, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .not-take-link-wrapper .views-field-field-learning-path-media-image .field-content {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
  }
  /* line 33, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .not-take-link-wrapper .views-field-field-learning-path-media-image .field-content:before {
    display: block;
    content: "";
    padding-top: 62.38532%;
  }
  /* line 34, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .not-take-link-wrapper .views-field-field-learning-path-media-image .field-content img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
  /* line 35, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .not-take-link-wrapper .text-wrapper {
    flex: 1 0 auto;
    background-color: #fff;
  }
  /* line 36, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .not-take-link-wrapper .text-wrapper .views-field-field-learning-path-category {
    color: #b3b3b2;
    padding-top: .5rem;
  }
  /* line 37, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .not-take-link-wrapper .text-wrapper .views-field-label {
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: .5rem;
  }
  /* line 38, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .not-take-link-wrapper .text-wrapper .views-field-field-learning-path-description {
    padding-bottom: .5rem;
    flex: 1 0 auto;
  }
  /* line 39, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .views-field-opigno-lp-take-link {
    margin-left: -.5rem;
    margin-right: -.5rem;
    padding: 0;
    position: relative;
    z-index: 1;
  }
  /* line 40, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .views-field-opigno-lp-take-link a {
    text-align: center;
    padding: 12px 20px;
    height: 48px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #dadada;
    color: #70706f;
  }
  /* line 41, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .views-field-opigno-lp-take-link a:hover {
    background-color: #c2e76b;
    color: #fff;
  }
  /* line 42, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content.is-not-member .not-take-link-wrapper:after {
    content: "";
    background-color: #000;
    opacity: .3;
    position: absolute;
    top: -.5rem;
    bottom: 0;
    right: 0;
    left: 0;
  }
  /* line 43, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content.is-not-member .views-field-opigno-lp-take-link a {
    background-color: #c2e76b;
    color: #fff;
  }
  /* line 44, app/assets/stylesheets/edu_home.scss */
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content.is-not-member .views-field-opigno-lp-take-link a:hover {
    background-color: #b9e355;
  }
}
