%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
  %body
    %h4
      .text3d= t("cbt_user_tests.actions.edit")
    = form_for @cbt_user_test do |f|
      .form-group
        .alert.alert-info{:role => "alert"}
          ="Внимание! На данной странице"
          %b
            ="не выполняется"
          ="автоматическое сохранение."
          %br
          ="Вы можете в любой момент нажать «Вернуться», чтобы отменить все сделанные изменения."
          %br
          ="Для применения изменений, служит кнопка «Сохранить»."
        -#name, code, created_at, updated_at, short_name, fisgia9code, fisgia11code

        %table.table-borderless
          %tr
            %td{:style=>"vertical-align: top;"}
              .card
                .card-header
                  Связь теста и пользователя
                .card-body
                  %h5.card-title Связка теста с пользователем
                  %p.card-text
                    %table.table-bordered.table-striped
                      %tr
                        %th= t("cbt_user_tests.cbt_test_id")
                        %td= f.collection_select :cbt_test_id, @cbt_tests, :id, :name, prompt: true
                      %tr
                        %th= t("cbt_user_tests.user_id")
                        %td= f.number_field :user_id

                      -start_year = 2022
                      %tr
                        %th= t("cbt_user_tests.start_time")
                        %td= f.date_select :start_time, autofocus: false, placeholder: t("cbt_user_tests.start_time"), class: 'form-control', :start_year => start_year
                      %tr
                        %th= t("cbt_user_tests.end_time")
                        %td= f.date_select :end_time, autofocus: false, placeholder: t("cbt_user_tests.end_time"), class: 'form-control', :start_year => start_year
                      %tr
                        %th= t("cbt_user_tests.primary_mark")
                        %td= f.number_field :primary_mark, step: :any
                      %tr
                        %th= t("cbt_user_tests.mark100")
                        %td= f.number_field :mark100, step: :any
                      %tr
                        %th= t("cbt_user_tests.description")
                        %td= f.text_area :description

              %p
                .form-actions
                  = f.submit @cbt_user_test.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
                  = link_to t('buttons.back'), :back, :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.back")
            %td{:style=>"vertical-align: top;"}
              - if @cbt_user_test.errors.any?
                #error_explanation
                  .alert.alert-danger.shadow
                    %h4= "#{I18n.t :error, count: @cbt_user_test.errors.count} не #{I18n.t :pozvol, count: @cbt_user_test.errors.count} сохранить запись:"
                  .shadow-sm.p-3.mb-5.bg-white.rounded
                    %ul
                      - @cbt_user_test.errors.full_messages.each do |message|
                        %li= message
