-if !@cbt_user_tests.nil?
  %p
    = I18n.t :cbt_user_test, count: @cbt_user_tests.count

-if @cbt_user_tests.count > 20
  .apple_pagination
    = will_paginate @cbt_user_tests

-#:cbt_test_id, :user_id, :start_time, :end_time, :primary_mark, :mark100, :description
%p
  %table.styled-table{:style=>"width:100%;"}
    %thead
      %th= t("cbt_user_tests.code")
      %th= t("cbt_user_tests.cbt_test_id")
      %th= t("cbt_user_tests.user_id")
      %th= t("cbt_user_tests.start_time")
      %th= t("cbt_user_tests.end_time")
      %th= t("cbt_user_tests.primary_mark")
      %th= t("cbt_user_tests.mark100")
      %th= t("cbt_user_tests.description")
      -if current_user.admin?
        %th= t("cbt_user_tests.actions.title")
    %tbody
      - @cbt_user_tests.each do |row|
        -if can? :read, row
          %tr
            %td= row.id.to_s
            %td= link_to row.cbt_test.to_s, cbt_user_test_path(row)
            %td= row.user.first_name
            %td= row.start_time
            %td= row.end_time
            %td= row.primary_mark
            %td= row.mark100
            %td= row.description
            -if current_user.admin?
              %td
                - if can? :edit, row
                  = link_to edit_cbt_user_test_path(row) do
                    = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
                - if (can? :edit, row) and  (can? :delete, row)
                  = "  "
                - if can? :delete, row
                  = link_to cbt_user_test_path(row), :method => :delete,  data: { confirm: t('cbt_user_tests.delete_confirm')} do
                    = image_tag('trash.png', size: "24", :tooltip=>t("delete"))

-if @cbt_user_tests.count > 20
  .apple_pagination
    = will_paginate @cbt_user_tests