%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
  %body
    %h4
      .text3d= t("analytic_tasks.actions.edit")
    = form_for @statistic do |f|
      .form-group
        = f.hidden_field :page, :value => params[:page]
        .alert.alert-info{:role => "alert"}
          ="Внимание! На данной странице"
          %b
            ="не выполняется"
          ="автоматическое сохранение."
          %br
          ="Вы можете в любой момент нажать «Вернуться», чтобы отменить все сделанные изменения."
          %br
          ="Для применения изменений, служит кнопка «Сохранить»."
        -#okato, guid, name, code, district, postcode, vpl_station_code
        %table.table-borderless
          %tr
            %td{:style=>"vertical-align: top;"}
              %table.table-bordered.table-striped
                %tr
                  %th= t("analytic_tasks.name")
                  %td= f.text_field :name, autofocus: false
                %tr
                  %th= t("analytic_tasks.short_name")
                  %td= f.text_field :short_name, autofocus: false
                %tr
                  %th= t("analytic_tasks.sql_string_region")
                  %td= f.text_area :sql_string_region, cols: 80, rows: 15
                %tr
                  %th= t("analytic_tasks.sql_string_mouo")
                  %td= f.text_area :sql_string_mouo, cols: 80, rows: 15
                %tr
                  %th= t("analytic_tasks.sql_sting_ou")
                  %td= f.text_area :sql_sting_ou, cols: 80, rows: 15
                %tr
                  %th= t("analytic_tasks.sql_string_ekb")
                  %td= f.text_area :sql_string_ekb, cols: 80, rows: 15
                %tr
                  %th= t("analytic_tasks.is_active")
                  %td= f.check_box :is_active, autofocus: false
                %tr
                  %th= t("analytic_tasks.description")
                  %td= f.text_field :description, autofocus: false
                %tr
                  %th= t("analytic_tasks.object_columns")
                  %td= f.text_field :object_columns, autofocus: false
                %tr
                  %th= t("analytic_tasks.object_columns_width")
                  %td= f.text_field :object_columns_width, autofocus: false
              %p
                .form-actions
                  = f.submit @statistic.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
                  = link_to t('buttons.back'), :back, :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.back")
            %td{:style=>"vertical-align: top;"}
              - if @statistic.errors.any?
                #error_explanation
                  .alert.alert-danger.shadow
                    %h4= "#{I18n.t :error, count: @ate.errors.count} не #{I18n.t :pozvol, count: @ate.errors.count} сохранить блок статистики :"
                  .shadow-sm.p-3.mb-5.bg-white.rounded
                    %ul
                      - @statistic.errors.full_messages.each do |message|
                        %li= message.gsub('not_valid_okato', ' не соответствует формату').gsub('not_valid_www', ' не соответствует формату ссылки')
