-if !@statistics.nil?
  %p
    = I18n.t :statistic, count: @statistics.count

-if @statistics.count > 20
  .apple_pagination
    = will_paginate @statistics

-#name, code, created_at, updated_at, short_name, fisgia9code, fisgia11code
%p
  %table.styled-table{:style=>"width:100%;"}
    %thead
      %th= t("statistics.name")
      %th= t("statistics.short_name")
      %th= t("statistics.description")
      %th= t("statistics.actions.title")
    %tbody
      - @statistics.each do |row|
        -if can? :read, row
          %tr
            %td= link_to row.name.to_s, statistic_path(row)
            %td= row.short_name
            %td= row.description
            %td
              - if can? :view, row
                = link_to "#{statistic_path(row)}?page=#{params[:page]}" do
                  = image_tag('eye.png', size: "24", :tooltip=>t("edit"))
              - if (can? :edit, row) and  (can? :delete, row)
                = "  "
              - if can? :view, row
                = link_to "#{statistic_path(row)}/export.xlsx" do
                  = image_tag('export_statistics.png', size: "24", :tooltip=>t("edit"))
              - if (can? :edit, row) and  (can? :delete, row)
                = "  "
              - if can? :edit, row
                = link_to "#{edit_statistic_path(row)}?page=#{params[:page]}" do
                  = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
              - if (can? :edit, row) and  (can? :delete, row)
                = "  "
              - if can? :delete, row
                = link_to "#{statistic_path(row)}?page=#{params[:page]}", :method => :delete,  data: { confirm: t('statistics.delete_confirm')} do
                  = image_tag('trash.png', size: "24", :tooltip=>t("delete"))

-if @statistics.count > 20
  .apple_pagination
    = will_paginate @statistics