-sql = "SELECT o.code, o.short_name, coalesce(o.participants_gia9, 0) as participants_gia9_waiting, coalesce(o.participants_gia11, 0) as participants_gia11_waiting    ,coalesce(p.participants_gia9_real, 0) as participants_gia9_real    ,coalesce(p.participants_gia11_real, 0) as participants_gia11_real  FROM ous o    JOIN ates a ON a.id = o.ate_id    LEFT JOIN (select g.ou_id          ,coalesce(sum(case when coalesce(g.number, 0) in (11, 12) or (coalesce(g.number, 0) = 10 and coalesce(s.ege_participant_category_code, 0) = 10) then 1 else 0 end), 0) as participants_gia11_real          ,coalesce(sum(case when coalesce(g.number, 0) in (9, 10) and coalesce(s.ege_participant_category_code, 0) <> 10 then 1 else 0 end), 0) as participants_gia9_real       from groups g       JOIN students s ON s.group_id = g.id and s.deleted_at is NULL           group by g.ou_id          ) p ON p.ou_id = o.id where o.deleted_at is NULL and o.code not like '%0000' order by o.code"
-if current_user.mouo_role? and current_user.target_id != 99
  -sql = "SELECT o.code, o.short_name, coalesce(o.participants_gia9, 0) as participants_gia9_waiting, coalesce(o.participants_gia11, 0) as participants_gia11_waiting    ,coalesce(p.participants_gia9_real, 0) as participants_gia9_real    ,coalesce(p.participants_gia11_real, 0) as participants_gia11_real  FROM ous o    JOIN ates a ON a.id = o.ate_id    LEFT JOIN (select g.ou_id          ,coalesce(sum(case when coalesce(g.number, 0) in (11, 12) or (coalesce(g.number, 0) = 10 and coalesce(s.ege_participant_category_code, 0) = 10) then 1 else 0 end), 0) as participants_gia11_real          ,coalesce(sum(case when coalesce(g.number, 0) in (9, 10) and coalesce(s.ege_participant_category_code, 0) <> 10 then 1 else 0 end), 0) as participants_gia9_real       from groups g       JOIN students s ON s.group_id = g.id and s.deleted_at is NULL           group by g.ou_id          ) p ON p.ou_id = o.id where o.deleted_at is NULL and o.code not like '%0000' and cast(a.code as int) in (#{current_user.target_id}) order by o.code"
-elsif current_user.ous_role?
  -sql = "SELECT o.code, o.short_name, coalesce(o.participants_gia9, 0) as participants_gia9_waiting, coalesce(o.participants_gia11, 0) as participants_gia11_waiting    ,coalesce(p.participants_gia9_real, 0) as participants_gia9_real    ,coalesce(p.participants_gia11_real, 0) as participants_gia11_real  FROM ous o    JOIN ates a ON a.id = o.ate_id    LEFT JOIN (select g.ou_id          ,coalesce(sum(case when coalesce(g.number, 0) in (11, 12) or (coalesce(g.number, 0) = 10 and coalesce(s.ege_participant_category_code, 0) = 10) then 1 else 0 end), 0) as participants_gia11_real          ,coalesce(sum(case when coalesce(g.number, 0) in (9, 10) and coalesce(s.ege_participant_category_code, 0) <> 10 then 1 else 0 end), 0) as participants_gia9_real       from groups g       JOIN students s ON s.group_id = g.id and s.deleted_at is NULL           group by g.ou_id          ) p ON p.ou_id = o.id where o.deleted_at is NULL and o.code not like '%0000' and cast(o.code as int) in (#{current_user.target_id}) order by o.code"

%h4 Прогресс внесения сведений об участниках ГИА

%table.styled-table.table-striped{:style=>"width:100%;"}
  %thead
    %td
      %center
        ="Образовательная организация"
    %td
      %center
        ="Прогресс внесения сведений"
    %td
      %center
        ="Количество"
  %tbody
    -all_waiting_9 = 0
    -all_waiting_11 = 0
    -all_created_9 = 0
    -all_created_11 = 0
    -records_array = ActiveRecord::Base.connection.execute(sql)
    -records_array.each do |r|
      %tr
        %td="#{r['code']} #{r['short_name']}"
        -waiting = r['participants_gia9_waiting'].to_i + r['participants_gia11_waiting'].to_i
        -created = r['participants_gia9_real'].to_i + r['participants_gia11_real'].to_i
        -all_waiting_9+= r['participants_gia9_waiting'].to_i
        -all_waiting_11+=  r['participants_gia11_waiting'].to_i
        -all_created_9+= r['participants_gia9_real'].to_i
        -all_created_11+= r['participants_gia11_real'].to_i
        -if waiting > 0
          -prc = created*100/waiting
        -else
          -prc = 100
        %td{:style=>"width:250px;"}
          .progress
            -if prc == 100
              .progress-bar.bg-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{prc.round(0)}", :role => "progressbar", :style => "width: 100%;"}
                ="#{prc.round(2)}%"
            -elsif prc < 50
              .progress-bar.progress-bar-striped.bg-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{prc.round(0)}", :role => "progressbar", :style => "width: #{prc.round(0)}%;"}
                ="#{prc.round(2)}%"
            -elsif prc < 75
              .progress-bar.progress-bar-striped.bg-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{prc.round(0)}", :role => "progressbar", :style => "width: #{prc.round(0)}%;"}
                ="#{prc.round(2)}%"
            -elsif prc < 90
              .progress-bar.progress-bar-striped.bg-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{prc.round(0)}", :role => "progressbar", :style => "width: #{prc.round(0)}%;"}
                ="#{prc.round(2)}%"
            -elsif prc < 99
              .progress-bar.progress-bar-striped{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{prc.round(0)}", :role => "progressbar", :style => "width: #{prc.round(0)}%;"}
                ="#{prc.round(2)}%"
        %td="#{r['participants_gia9_real']} из #{r['participants_gia9_waiting']} ГИА-9; #{r['participants_gia11_real']} из #{r['participants_gia11_waiting']} ГИА-11"
    %tr
      %td="Итого"
      %td
        -prc = ((all_created_9 + all_created_11)*100/(all_waiting_9 + all_waiting_11)).round(2)
        .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{prc}", :role => "progressbar", :style => "width: #{prc.round(0)}%;"}
          ="#{prc}%"
      %td="#{all_created_9} из #{all_waiting_9} ГИА-9; #{all_created_11} из #{all_waiting_11} ГИА-11"


-#SELECT o.code, o.short_name, o.participants_gia9 as participants_gia9_waiting, o.participants_gia11 as participants_gia11_waiting
-#  ,sum(case when g.number in (9, 10) and s.ege_participant_category_code <> 10 then 1 else 0 end) as participants_gia9_real
-#  ,sum(case when g.number in (11, 12) or (g.number = 10 and s.ege_participant_category_code = 10) then 1 else 0 end) as participants_gia11_real
-#  FROM ous o
-#  JOIN ates a ON a.id = o.ate_id
-#  JOIN groups g ON g.ou_id = o.id
-#  JOIN students s ON s.group_id = g.id and s.deleted_at is NULL
-#where o.deleted_at is NULL and o.code not like '%0000'
-#group by o.code, o.short_name, o.participants_gia9, o.participants_gia11
-#order by o.code