-if current_user.admin? or (current_user.mouo_role? and current_user.target_id == 99)
  %h2="ГЛАВА 1. Основные результаты ГИА-9 в регионе"
-elsif current_user.mouo_role?
  %h2="ГЛАВА 1. Основные результаты ГИА-9 в муниципальном образовании #{Ate.where("cast(code as int) == #{current_user.target_id}").name}"
-else current_user.ous_role?
  %h2="ГЛАВА 1. Основные результаты ГИА-9 в образовательной организации #{Ou.where("cast(code as int) == #{current_user.target_id}").short_name}"

%h3="1. Количество участников экзаменационной кампании ГИА-9 в 2022 году"
%p
  %right
    ="Таблица 1-1"
-sql= "SELECT count(distinct(s.id)) as plan  		,count(distinct(case when s.deleted_at is NOT NULL then s.id else NULL end)) as deleted  		,count(distinct(case when r.id is NOT NULL then s.id else NULL end)) as fact  	FROM exam_students es  	JOIN exams e ON e.id = es.exam_id  	JOIN exam_types et ON et.id = e.exam_type_id and et.name like 'ОГЭ%'  	JOIN students s ON s.id = es.student_id  	JOIN groups g ON g.id = s.group_id  	JOIN ous o ON o.id = g.ou_id  	JOIN ates a ON a.id = o.ate_id  	JOIN mouos m ON m.id = o.mouo_id  	JOIN subjects sj ON sj.code = e.subject_code  	LEFT JOIN results r ON r.identifier = s.guid and r.examdate = e.date and r.subject_code = sj.fisgia9code and r.deleted_at is NULL  	  where es.deleted_at is NULL and sj.fisgia9code = 51 "
%table.table-bordered
  %thead
    %tr
      %td{:rowspan=>2}
        %center
          %b
            ="№ п/п"
      %td{:rowspan=>2}
        %center
          %b
            ="Наименование предмета"
      %td{:colspan=>3}
        %center
          %b
            ="Количество участников ГИА-9 в форме ОГЭ, чел."
      %td{:colspan=>3}
        %center
          %b
            ="Количество участников ГИА-9 в форме ГВЭ, чел."
      %td{:colspan=>8}
        %center
          %b
            ="Факт участия по в ГВЭ вариантам, чел."
    %tr
      %td
        %center
          %b
            ="План"
      %td
        %center
          %b
            ="Удалены"
      %td
        %center
          %b
            ="Факт"
      %td
        %center
          %b
            ="План"
      %td
        %center
          %b
            ="Удалены"
      %td
        %center
          %b
            ="Факт"
      %td
        %center
          %b
            ="В100"
      %td
        %center
          %b
            ="В200"
      %td
        %center
          %b
            ="В300"
      %td
        %center
          %b
            ="В400"
      %td
        %center
          %b
            ="В500"
      %td
        %center
          %b
            ="В600"
      %td
        %center
          %b
            ="В700"
      %td
        %center
          %b
            ="В900 (устн)"
  %tbody
    %tr
      -# Русский язык
      -ss = sql.gsub('sj.fisgia9code = 51', 'sj.fisgia9code = 1')
      -rr = ActiveRecord::Base.connection.execute(ss)
      -rr.each do |row|
        %td
          %center
            ="1"
        %td="Русский язык"
        %td
          %center
            =row['plan']
        %td
          %center
            =row['deleted']
        %td
          %center
            =row['fact']
      -ss = sql.gsub('sj.fisgia9code = 51', 'sj.fisgia9code = 51')
      -rr = ActiveRecord::Base.connection.execute(ss)
      -rr.each do |row|
        %td
          %center
            =row['plan']
        %td
          %center
            =row['deleted']
        %td
          %center
            =row['fact']
      -ss = sql.gsub('sj.fisgia9code = 51', 'sj.fisgia9code = 51 and sj.code = 211')
      -rr = ActiveRecord::Base.connection.execute(ss)
      -rr.each do |row|
        %td
          %center
            =row['fact']
      -ss = sql.gsub('sj.fisgia9code = 51', 'sj.fisgia9code = 51 and sj.code = 212')
      -rr = ActiveRecord::Base.connection.execute(ss)
      -rr.each do |row|
        %td
          %center
            =row['fact']
      -ss = sql.gsub('sj.fisgia9code = 51', 'sj.fisgia9code = 51 and sj.code = 213')
      -rr = ActiveRecord::Base.connection.execute(ss)
      -rr.each do |row|
        %td
          %center
            =row['fact']
      -ss = sql.gsub('sj.fisgia9code = 51', 'sj.fisgia9code = 51 and sj.code = 214')
      -rr = ActiveRecord::Base.connection.execute(ss)
      -rr.each do |row|
        %td
          %center
            =row['fact']
      -ss = sql.gsub('sj.fisgia9code = 51', 'sj.fisgia9code = 51 and sj.code = 215')
      -rr = ActiveRecord::Base.connection.execute(ss)
      -rr.each do |row|
        %td
          %center
            =row['fact']
      -ss = sql.gsub('sj.fisgia9code = 51', 'sj.fisgia9code = 51 and sj.code = 216')
      -rr = ActiveRecord::Base.connection.execute(ss)
      -rr.each do |row|
        %td
          %center
            =row['fact']
      -ss = sql.gsub('sj.fisgia9code = 51', 'sj.fisgia9code = 51 and sj.code = 217')
      -rr = ActiveRecord::Base.connection.execute(ss)
      -rr.each do |row|
        %td
          %center
            =row['fact']
      -ss = sql.gsub('sj.fisgia9code = 51', 'sj.fisgia9code = 51 and sj.code = 114')
      -rr = ActiveRecord::Base.connection.execute(ss)
      -rr.each do |row|
        %td
          %center
            =row['fact']
    %tr
      -# Математика
      -ss = sql.gsub('sj.fisgia9code = 51', 'sj.fisgia9code = 2')
      -rr = ActiveRecord::Base.connection.execute(ss)
      -rr.each do |row|
        %td
          %center
            ="2"
        %td="Математика"
        %td
          %center
            =row['plan']
        %td
          %center
            =row['deleted']
        %td
          %center
            =row['fact']
      -ss = sql.gsub('sj.fisgia9code = 51', 'sj.fisgia9code = 52')
      -rr = ActiveRecord::Base.connection.execute(ss)
      -rr.each do |row|
        %td
          %center
            =row['plan']
        %td
          %center
            =row['deleted']
        %td
          %center
            =row['fact']
      -ss = sql.gsub('sj.fisgia9code = 51', 'sj.fisgia9code = 52 and sj.code = 221')
      -rr = ActiveRecord::Base.connection.execute(ss)
      -rr.each do |row|
        %td
          %center
            =row['fact']
      -ss = sql.gsub('sj.fisgia9code = 51', 'sj.fisgia9code = 52 and sj.code = 222')
      -rr = ActiveRecord::Base.connection.execute(ss)
      -rr.each do |row|
        %td
          %center
            =row['fact']
      -ss = sql.gsub('sj.fisgia9code = 51', 'sj.fisgia9code = 52 and sj.code = 223')
      -rr = ActiveRecord::Base.connection.execute(ss)
      -rr.each do |row|
        %td
          %center
            =row['fact']
        %td
          %center
            ="-"
        %td
          %center
            ="-"
        %td
          %center
            ="-"
        %td
          %center
            ="-"
      -ss = sql.gsub('sj.fisgia9code = 51', 'sj.fisgia9code = 52 and sj.code = 251')
      -rr = ActiveRecord::Base.connection.execute(ss)
      -rr.each do |row|
        %td
          %center
            =row['fact']

    -# Физика и далее
    -subj_names = ['Физика', 'Химия', 'Информатика', 'Биология', 'История', 'География', 'Обществознание', 'Литература', 'Английский язык', 'Немецкий язык', 'Французский язык', 'Испанский язык']
    -subj_codes = [3, 4, 5, 6, 7, 8, 12, 18, 9, 10, 11, 13]
    -i=0
    -subj_names.each do |sjname|
      %tr
        -ss = sql.gsub('sj.fisgia9code = 51', "sj.fisgia9code = #{subj_codes[i]}")
        -rr = ActiveRecord::Base.connection.execute(ss)
        -rr.each do |row|
          %td
            %center
              ="#{3 + i}"
          %td="#{subj_names[i]}"
          %td
            %center
              =row['plan']
          %td
            %center
              =row['deleted']
          %td
            %center
              =row['fact']
        -ss = sql.gsub('sj.fisgia9code = 51', "sj.fisgia9code = #{subj_codes[i] + 50}")
        -rr = ActiveRecord::Base.connection.execute(ss)
        -rr.each do |row|
          %td
            %center
              =row['plan']
          %td
            %center
              =row['deleted']
          %td
            %center
              =row['fact']
          %td{:colspan=>8}
            %center
              ="-"
      -i = i + 1

%h3="2. Соответствие шкалы пересчета первичного балла за экзаменационные работы ОГЭ в пятибалльную систему оценивания, установленной в субъекте Российской Федерации, рекомендуемой Рособрнадзором шкале в 2022 году (далее – шкала РОН)"
%p
  %i
    ="Письмо Федеральной службы по надзору в сфере образования и науки (Рособрнадзора) от 14.02.2021 г. № 04-36 «Рекомендации по определению минимального количества первичных баллов основного государственного экзамена в 2022 году, включая Рекомендации по переводу суммы первичных баллов за экзаменационные работы основного государственного экзамена в пятибалльную систему оценивания в 2022»."
%p
  %right
    ="Таблица 1-2"
%table.table-bordered
  %thead
    %tr
      %td{:rowspan=>2}="№ п/п"
      %td{:rowspan=>2}="Учебный предмет"
      %td{:colspan=>4}="Суммарные первичные баллы"
    %tr
      %td="Отметка «2»"
      %td="Отметка «3»"
      %td="Отметка «4»"
      %td="Отметка «5»"
  %tbody
    %tr
      %td="1"
      %td="Русский язык"
      %td="0 – 14"
      %td="15 – 22"
      %td="23 – 28, из них не менее 4 баллов за грамотность (по критериям ГК1 - ГК4). Если по критериям ГК1-ГК4 обучающийся набрал менее 4 баллов, выставляется «3»"
      %td="29 – 33, из них не менее 6 баллов за грамотность (по критериям ГК1 - ГК4). Если по критериям ГК1-ГК4 обучающийся набрал менее 6 баллов, выставляется «4»"
    %tr
      %td="2"
      %td="Математика"
      %td="0 – 7"
      %td="8 – 14, не менее 2 баллов получено за выполнение заданий по геометрии"
      %td="15 – 21, не менее 2 баллов получено за выполнение заданий по геометрии"
      %td="22 – 31, не менее 2 баллов получено за выполнение заданий по геометрии"
    %tr
      %td="3"
      %td="Физика"
      %td="0 – 10"
      %td="11 – 22"
      %td="23 – 34"
      %td="35 – 45"
    %tr
      %td="4"
      %td="Химия"
      %td="0 – 9"
      %td="10 – 20"
      %td="21 – 30"
      %td="31 – 40"
    %tr
      %td="5"
      %td="Информатика"
      %td="0 – 4"
      %td="5 – 10"
      %td="11 – 15"
      %td="16 – 19"
    %tr
      %td="6"
      %td="Биология"
      %td="0 – 12"
      %td="13 – 24"
      %td="25 – 35"
      %td="36 – 45"
    %tr
      %td="7"
      %td="История"
      %td="0 – 10"
      %td="11 – 20"
      %td="21 – 29"
      %td="30 – 37"
    %tr
      %td="8"
      %td="География"
      %td="0 – 11"
      %td="12 – 18"
      %td="19 – 25"
      %td="26 – 31"
    %tr
      %td="9"
      %td="Обществознание"
      %td="0 – 13"
      %td="14 – 23"
      %td="24 – 31"
      %td="32 – 37"
    %tr
      %td="10"
      %td="Литература"
      %td="0 – 15"
      %td="16 – 26"
      %td="27 – 36"
      %td="37 – 45"
    %tr
      %td="11"
      %td="Иностранные языки (английский, немецкий, французский, испанский)"
      %td="0 – 28"
      %td="29 – 45"
      %td="46 – 57"
      %td="58 – 68"

%h3="3. Результаты ОГЭ в 2022 году"
-sql = "SELECT sj.sort_by, replace(sj.name, 'и ИКТ', '') as name  			, count(distinct(s.id)) as parts  			, count(distinct(case when s.limited_facilities_group_code > 1 then s.id else NULL end)) as parts_ovz    			, count(distinct(case when r.mark5 = 2 then s.id else NULL end)) as parts_2  			, replace(cast(round(cast(count(distinct(case when r.mark5 = 2 then s.id else NULL end)) as float)*100/count(distinct(s.id)), 2) as varchar), '.', ',') as dolya_2  			, count(distinct(case when r.mark5 = 2 and s.limited_facilities_group_code > 1 then s.id else NULL end)) as parts_ovz_2  			, replace(cast(round(cast(count(distinct(case when r.mark5 = 2 and s.limited_facilities_group_code > 1 then s.id else NULL end)) as float)*100/count(distinct(s.id)), 2) as varchar), '.', ',') as dolya_ovz_2    			, count(distinct(case when r.mark5 = 3 then s.id else NULL end)) as parts_3  			, replace(cast(round(cast(count(distinct(case when r.mark5 = 3 then s.id else NULL end)) as float)*100/count(distinct(s.id)), 2) as varchar), '.', ',') as dolya_3  			, count(distinct(case when r.mark5 = 3 and s.limited_facilities_group_code > 1 then s.id else NULL end)) as parts_ovz_3  			, replace(cast(round(cast(count(distinct(case when r.mark5 = 3 and s.limited_facilities_group_code > 1 then s.id else NULL end)) as float)*100/count(distinct(s.id)), 2) as varchar), '.', ',') as dolya_ovz_3    			, count(distinct(case when r.mark5 = 4 then s.id else NULL end)) as parts_4  			, replace(cast(round(cast(count(distinct(case when r.mark5 = 4 then s.id else NULL end)) as float)*100/count(distinct(s.id)), 2) as varchar), '.', ',') as dolya_4  			, count(distinct(case when r.mark5 = 4 and s.limited_facilities_group_code > 1 then s.id else NULL end)) as parts_ovz_4  			, replace(cast(round(cast(count(distinct(case when r.mark5 = 4 and s.limited_facilities_group_code > 1 then s.id else NULL end)) as float)*100/count(distinct(s.id)), 2) as varchar), '.', ',') as dolya_ovz_4    			, count(distinct(case when r.mark5 = 5 then s.id else NULL end)) as parts_5  			, replace(cast(round(cast(count(distinct(case when r.mark5 = 5 then s.id else NULL end)) as float)*100/count(distinct(s.id)), 2) as varchar), '.', ',') as dolya_5  			, count(distinct(case when r.mark5 = 5 and s.limited_facilities_group_code > 1 then s.id else NULL end)) as parts_ovz_5  			, replace(cast(round(cast(count(distinct(case when r.mark5 = 5 and s.limited_facilities_group_code > 1 then s.id else NULL end)) as float)*100/count(distinct(s.id)), 2) as varchar), '.', ',') as dolya_ovz_5      	FROM results r  	JOIN subjects sj ON sj.fisgia9code = r.subject_code and sj.fisgia9code < 50  	JOIN exams e ON e.date = r.examdate and e.subject_code = sj.code  	JOIN students s ON s.guid = r.identifier  group by sj.name, sj.sort_by  order by sj.sort_by"
-rr = ActiveRecord::Base.connection.execute(sql)
%p
  %right
    ="Таблица 1-3"
%table.table-bordered
  %thead
    %tr
      %td{:rowspan=>3}
        %center
          %b
            ="№ п/п"
      %td{:rowspan=>3}
        %center
          %b
            ="Учебный предмет"
      %td{:rowspan=>3}
        %center
          %b
            ="Всего участников"
      %td{:rowspan=>3}
        %center
          %b
            ="Участников с ОВЗ"
      %td{:colspan=>8}
        %center
          %b
            ="Общие сведения"
      %td{:colspan=>8}
        %center
          %b
            ="Сведения об участниках с ОВЗ"
    %tr
      %td{:colspan=>2}
        %center
          %b
            ="Отметка «2»"
      %td{:colspan=>2}
        %center
          %b
            ="Отметка «3»"
      %td{:colspan=>2}
        %center
          %b
            ="Отметка «4»"
      %td{:colspan=>2}
        %center
          %b
            ="Отметка «5»"
      %td{:colspan=>2}
        %center
          %b
            ="Отметка «2»"
      %td{:colspan=>2}
        %center
          %b
            ="Отметка «3»"
      %td{:colspan=>2}
        %center
          %b
            ="Отметка «4»"
      %td{:colspan=>2}
        %center
          %b
            ="Отметка «5»"
    %tr
      %td
        %center
          %b
            ="чел."
      %td
        %center
          %b
            ="%"
      %td
        %center
          %b
            ="чел."
      %td
        %center
          %b
            ="%"
      %td
        %center
          %b
            ="чел."
      %td
        %center
          %b
            ="%"
      %td
        %center
          %b
            ="чел."
      %td
        %center
          %b
            ="%"
      %td
        %center
          %b
            ="чел."
      %td
        %center
          %b
            ="%"
      %td
        %center
          %b
            ="чел."
      %td
        %center
          %b
            ="%"
      %td
        %center
          %b
            ="чел."
      %td
        %center
          %b
            ="%"
      %td
        %center
          %b
            ="чел."
      %td
        %center
          %b
            ="%"
  %tbody
    -i = 0
    -rr.each do |row|
      -i+=1
      %tr
        %td
          %center
            =row['sort_by']
        %td=row['name']
        %td
          %center
            =row['parts']
        %td
          %center
            =row['parts_ovz']
        %td
          %center
            =row['parts_2']
        %td
          %center
            =row['dolya_2']
        %td
          %center
            =row['parts_3']
        %td
          %center
            =row['dolya_3']
        %td
          %center
            =row['parts_4']
        %td
          %center
            =row['dolya_4']
        %td
          %center
            =row['parts_5']
        %td
          %center
            =row['dolya_5']
        %td
          %center
            =row['parts_ovz_2']
        %td
          %center
            =row['dolya_ovz_2']
        %td
          %center
            =row['parts_ovz_3']
        %td
          %center
            =row['dolya_ovz_3']
        %td
          %center
            =row['parts_ovz_4']
        %td
          %center
            =row['dolya_ovz_4']
        %td
          %center
            =row['parts_ovz_5']
        %td
          %center
            =row['dolya_ovz_5']

%p Под % подразумевается процент участников, получивших соответствующую отметку, от общего числа участников по предмету



%h3="4. Результаты ГВЭ-9 в 2022 году"
-sql = "SELECT sj.sort_by, replace(replace(sj.name, ' (ГВЭ) в Устной форме', ''), 'и ИКТ', '') as name  			, count(distinct(s.id)) as parts  			, count(distinct(case when s.limited_facilities_group_code > 1 then s.id else NULL end)) as parts_ovz    			, count(distinct(case when r.mark5 = 2 then s.id else NULL end)) as parts_2  			, replace(cast(round(cast(count(distinct(case when r.mark5 = 2 then s.id else NULL end)) as float)*100/count(distinct(s.id)), 2) as varchar), '.', ',') as dolya_2  			, count(distinct(case when r.mark5 = 2 and s.limited_facilities_group_code > 1 then s.id else NULL end)) as parts_ovz_2  			, replace(cast(round(cast(count(distinct(case when r.mark5 = 2 and s.limited_facilities_group_code > 1 then s.id else NULL end)) as float)*100/count(distinct(s.id)), 2) as varchar), '.', ',') as dolya_ovz_2    			, count(distinct(case when r.mark5 = 3 then s.id else NULL end)) as parts_3  			, replace(cast(round(cast(count(distinct(case when r.mark5 = 3 then s.id else NULL end)) as float)*100/count(distinct(s.id)), 2) as varchar), '.', ',') as dolya_3  			, count(distinct(case when r.mark5 = 3 and s.limited_facilities_group_code > 1 then s.id else NULL end)) as parts_ovz_3  			, replace(cast(round(cast(count(distinct(case when r.mark5 = 3 and s.limited_facilities_group_code > 1 then s.id else NULL end)) as float)*100/count(distinct(s.id)), 2) as varchar), '.', ',') as dolya_ovz_3    			, count(distinct(case when r.mark5 = 4 then s.id else NULL end)) as parts_4  			, replace(cast(round(cast(count(distinct(case when r.mark5 = 4 then s.id else NULL end)) as float)*100/count(distinct(s.id)), 2) as varchar), '.', ',') as dolya_4  			, count(distinct(case when r.mark5 = 4 and s.limited_facilities_group_code > 1 then s.id else NULL end)) as parts_ovz_4  			, replace(cast(round(cast(count(distinct(case when r.mark5 = 4 and s.limited_facilities_group_code > 1 then s.id else NULL end)) as float)*100/count(distinct(s.id)), 2) as varchar), '.', ',') as dolya_ovz_4    			, count(distinct(case when r.mark5 = 5 then s.id else NULL end)) as parts_5  			, replace(cast(round(cast(count(distinct(case when r.mark5 = 5 then s.id else NULL end)) as float)*100/count(distinct(s.id)), 2) as varchar), '.', ',') as dolya_5  			, count(distinct(case when r.mark5 = 5 and s.limited_facilities_group_code > 1 then s.id else NULL end)) as parts_ovz_5  			, replace(cast(round(cast(count(distinct(case when r.mark5 = 5 and s.limited_facilities_group_code > 1 then s.id else NULL end)) as float)*100/count(distinct(s.id)), 2) as varchar), '.', ',') as dolya_ovz_5      	FROM results r  	JOIN subjects sj ON sj.fisgia9code = r.subject_code and sj.fisgia9code > 50 and sj.code not in (221,222,223, 211,212,213,214,215,216,217)  	JOIN exams e ON e.date = r.examdate and e.subject_code = sj.code  	JOIN students s ON s.guid = r.identifier  group by replace(replace(sj.name, ' (ГВЭ) в Устной форме', ''), 'и ИКТ', ''), sj.sort_by  order by sj.sort_by"
-rr = ActiveRecord::Base.connection.execute(sql)
%p
  %right
    ="Таблица 1-4"
%table.table-bordered
  %thead
    %tr
      %td{:rowspan=>3}
        %center
          %b
            ="№ п/п"
      %td{:rowspan=>3}
        %center
          %b
            ="Учебный предмет"
      %td{:rowspan=>3}
        %center
          %b
            ="Всего участников"
      %td{:rowspan=>3}
        %center
          %b
            ="Участников с ОВЗ"
      %td{:colspan=>8}
        %center
          %b
            ="Общие сведения"
      %td{:colspan=>8}
        %center
          %b
            ="Сведения об участниках с ОВЗ"
    %tr
      %td{:colspan=>2}
        %center
          %b
            ="Отметка «2»"
      %td{:colspan=>2}
        %center
          %b
            ="Отметка «3»"
      %td{:colspan=>2}
        %center
          %b
            ="Отметка «4»"
      %td{:colspan=>2}
        %center
          %b
            ="Отметка «5»"
      %td{:colspan=>2}
        %center
          %b
            ="Отметка «2»"
      %td{:colspan=>2}
        %center
          %b
            ="Отметка «3»"
      %td{:colspan=>2}
        %center
          %b
            ="Отметка «4»"
      %td{:colspan=>2}
        %center
          %b
            ="Отметка «5»"
    %tr
      %td
        %center
          %b
            ="чел."
      %td
        %center
          %b
            ="%"
      %td
        %center
          %b
            ="чел."
      %td
        %center
          %b
            ="%"
      %td
        %center
          %b
            ="чел."
      %td
        %center
          %b
            ="%"
      %td
        %center
          %b
            ="чел."
      %td
        %center
          %b
            ="%"
      %td
        %center
          %b
            ="чел."
      %td
        %center
          %b
            ="%"
      %td
        %center
          %b
            ="чел."
      %td
        %center
          %b
            ="%"
      %td
        %center
          %b
            ="чел."
      %td
        %center
          %b
            ="%"
      %td
        %center
          %b
            ="чел."
      %td
        %center
          %b
            ="%"
  %tbody
    -i = 0
    -rr.each do |row|
      -i+=1
      %tr
        %td
          %center
            =row['sort_by']
        %td=row['name']
        %td
          %center
            =row['parts']
        %td
          %center
            =row['parts_ovz']
        %td
          %center
            =row['parts_2']
        %td
          %center
            =row['dolya_2']
        %td
          %center
            =row['parts_3']
        %td
          %center
            =row['dolya_3']
        %td
          %center
            =row['parts_4']
        %td
          %center
            =row['dolya_4']
        %td
          %center
            =row['parts_5']
        %td
          %center
            =row['dolya_5']
        %td
          %center
            =row['parts_ovz_2']
        %td
          %center
            =row['dolya_ovz_2']
        %td
          %center
            =row['parts_ovz_3']
        %td
          %center
            =row['dolya_ovz_3']
        %td
          %center
            =row['parts_ovz_4']
        %td
          %center
            =row['dolya_ovz_4']
        %td
          %center
            =row['parts_ovz_5']
        %td
          %center
            =row['dolya_ovz_5']

%p Под % подразумевается процент участников, получивших соответствующую отметку, от общего числа участников по предмету



%h3="5. Основные учебники по предмету из ФПУ, которые использовались ОО субъекта Российской Федерации в 2021-2022 учебном году"
-sql = "select sj.sort_by,   		replace(sj.name, 'Геометрия', 'Математика (Геометрия)') as name,   		tb.authors || '. ' || tb.title || '. - ' || tb.publishing_house as umk,   		replace(cast(round(cast(count(distinct(o.id)) as float)*100/cnn.cnt, 2) as varchar), '.', ',') as cnt  	from group_textbooks gtb  	join textbooks tb ON tb.id = gtb.textbook_id  	join subjects sj ON sj.id = gtb.subject_id  	join groups g ON g.id = gtb.group_id  	join ous o ON o.id = g.ou_id  	join (select count(o.id) as cnt from ous o where o.code not like '%0000' and o.id in (select ou_id from groups where number in (9, 10))) cnn ON 1 = 1  where tb.parallel = '9' and g.number in (9, 10)  group by sj.sort_by, replace(sj.name, 'Геометрия', 'Математика (Геометрия)'), tb.authors || '. ' || tb.title || '. - ' || tb.publishing_house, cnn.cnt  order by sj.sort_by asc, count(distinct(o.id))*100/cnn.cnt desc  "
-rr = ActiveRecord::Base.connection.execute(sql)
%p
  %right
    ="Таблица 1-5"
%table.table-bordered
  %thead
    %tr
      %td
        %center
          %b
            ="№ п/п"
      %td
        %center
          %b
            ="Наименование учебного предмета"
      %td
        %center
          %b
            ="Название учебника / линия учебников"
      %td
        %center
          %b
            ="Примерный процент ОО, в которых использовался данный учебник / линия учебников"
  %tbody
    -rr.each do |row|
      %tr
        %td
          %center
            =row['sort_by']
        %td=row['name']
        %td=row['umk']
        %td
          %center
            =row['cnt']