-@subject_code = 2
%h2="ГЛАВА 2. Методический анализ результатов ОГЭ по учебному предмету #{Subject.where(:fisgia9code => @subject_code).first.name}"

%h3="2.1. Количество участников ОГЭ по учебному предмету (за последние годы  проведения ОГЭ по предмету) по категориям"
%p
  %right
    ="Таблица 2-1"
-sql= "select   		  count(distinct(s.id)) as students_count  		, count(distinct(case when o.full_name like '%имназ%' or o.full_name like 'ицей' then s.id else NULL end)) as students_gym_count  		, count(distinct(case when o.short_name like '%СОШ%' then s.id else NULL end)) as students_sosh_count  		, count(distinct(case when s.on_home is True then s.id else NULL end)) as students_home_count  		, count(distinct(case when  s.limited_facilities_group_code > 1 then s.id else NULL end)) as students_ovz_count  	from students s  	join groups g ON g.id = s.group_id  	join ous o ON o.id = g.ou_id  	join ates a ON a.id = o.ate_id  	join exam_students es ON es.deleted_at is NULL and es.student_id = s.id  	join exams e ON e.id = es.exam_id  	join exam_types et ON et.id = e.exam_type_id and et.name like '%ОГЭ%'  	join subjects sj ON sj.code = e.subject_code  	join results r ON r.examdate = e.date and r.subject_code = sj.fisgia9code and r.identifier = s.guid  where sj.fisgia9code = #{@subject_code}"
%table.table-bordered{:style=>"width:100%;"}
  %thead
    %tr
      %th{:rowspan=>2}
        %center
          %b="Участники ОГЭ"
      %th{:colspan=>2}
        %center
          %b="2018 г."
      %th{:colspan=>2}
        %center
          %b="2019 г."
      %th{:colspan=>2}
        %center
          %b="2021 г."
      %th{:colspan=>2}
        %center
          %b="2022 г."
    %tr
      %th
        %center
          %b="чел."
      %th
        %center
          %b="%"
      %th
        %center
          %b="чел."
      %th
        %center
          %b="%"
      %th
        %center
          %b="чел."
      %th
        %center
          %b="%"
      %th
        %center
          %b="чел."
      %th
        %center
          %b="%"
  %tbody
    -rr = ActiveRecord::Base.connection.execute(sql)
    -rr.each do |row|
      %tr
        %th="Выпускники текущего года, обучающиеся по программам ООО"
        %td='-'
        %td='-'
        %td='-'
        %td='-'
        %td='-'
        %td='-'
        %td=row['students_count']
        %td="100%"
      %tr
        %th="Выпускники лицеев и гимназий"
        %td='-'
        %td='-'
        %td='-'
        %td='-'
        %td='-'
        %td='-'
        %td=row['students_gym_count']
        %td=(row['students_gym_count'].to_f*100/row['students_count']).round(2)
      %tr
        %th="Выпускники СОШ"
        %td='-'
        %td='-'
        %td='-'
        %td='-'
        %td='-'
        %td='-'
        %td=row['students_sosh_count']
        %td=(row['students_sosh_count'].to_f*100/row['students_count']).round(2)
      %tr
        %th="Обучающиеся на дому"
        %td='-'
        %td='-'
        %td='-'
        %td='-'
        %td='-'
        %td='-'
        %td=row['students_home_count']
        %td=(row['students_home_count'].to_f*100/row['students_count']).round(2)
      %tr
        %th="Участники с ограниченными возможностями здоровья"
        %td='-'
        %td='-'
        %td='-'
        %td='-'
        %td='-'
        %td='-'
        %td=row['students_ovz_count']
        %td=(row['students_ovz_count'].to_f*100/row['students_count']).round(2)
%p
  %i
    = "% - Процент от общего числа участников по предмету"