.row
  .span9
    %h3.pull-left
      .text3d= t("statistics.list.title")
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag statistics_path, :method => 'get', :id => "statistics_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = image_tag('find.png', size: "34")
                  = "искать"
          %td
            - if can? :create, Statistic
              = link_to new_statistic_path, class: "btn btn-light" do
                = image_tag('create_new.png', size: "34")
                = "создать"
            - if (can? :create, Statistic) and (can? :export, Statistic)
              =" | "
            - if can? :export, Statistic
              = link_to statistics_export_path + '.xlsx', class: "btn btn-light" do
                = image_tag('download.png', size: "34")
                = "скачать"
            - if (can? :export, Statistic) and (can? :import, Statistic)
              =" | "
            - if can? :import, Statistic
              = link_to new_statistics_import_path, class: "btn btn-light" do
                = image_tag('upload.png', size: "34")
                = "импорт"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}