#carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
  .carousel-inner
    .carousel-item.active
      %h2{:align => 'center'}=@statistic.name.to_s

%p=@statistic.description

%table.table-bordered.table-striped{:style=>"width:100%;"}
  %thead
    %tr
      -i = 0
      -@statistic.object_columns.split("#").each do |ss|
        %th{:style=>"width:#{@statistic.object_columns_width.split("#")[i]}%;"}
          %center
            =ss
        -i+=1
  %tbody
    -columns=@statistic.object_columns.split("#").count
    -@rows.each do |r|
      %tr
        -i= 0
        -while i<columns
          -i+=1
          %td=r["col#{i}"]




%div
  %hr
    = link_to "#{statistics_path}?page=#{params[:page]}", :class => "btn btn-primary btn-mini" do
      = bootstrap_icon "card-list", width: 15, height: 15, fill: "yellow"
      = " Вернуться к списку  "
