#carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
  .carousel-inner
    .carousel-item.active
      %h2{:align => 'center'}=@statistic.name.to_s



%table
  %tr
    %th= t("statistics.name")
    %td= best_in_place_if (can? :edit, @statistic), @statistic, :name, :as => :inputs
  %tr
    %th= t("statistics.short_name")
    %td= best_in_place_if (can? :edit, @statistic), @statistic, :short_name, :as => :inputs
  %tr
    %th= t("statistics.sql_string_region")
    %td= best_in_place_if (can? :edit, @statistic), @statistic, :sql_string_region, :as => :textarea
  %tr
    %th= t("statistics.sql_string_mouo")
    %td= best_in_place_if (can? :edit, @statistic), @statistic, :sql_string_mouo, :as => :textarea
  %tr
    %th= t("statistics.sql_sting_ou")
    %td= best_in_place_if (can? :edit, @statistic), @statistic, :sql_sting_ou, :as => :textarea
  %tr
    %th= t("statistics.sql_string_ekb")
    %td= best_in_place_if (can? :edit, @statistic), @statistic, :sql_string_ekb, :as => :textarea
  %tr
    %th= t("statistics.description")
    %td= best_in_place_if (can? :edit, @statistic), @statistic, :description, :as => :textarea
  %tr
    %th= t("statistics.is_active")
    %td= best_in_place_if (can? :edit, @statistic), @statistic, :is_active, as: :checkbox, collection: {false: "Нет", true: "Да"}
  %tr
    %th= t("statistics.object_columns")
    %td= best_in_place_if (can? :edit, @statistic), @statistic, :object_columns, :as => :inputs
  %tr
    %th= t("statistics.object_columns_width")
    %td= best_in_place_if (can? :edit, @statistic), @statistic, :object_columns_width, :as => :inputs

%div
  %hr
    = link_to statistics_path, :class => "btn btn-primary btn-mini" do
      = bootstrap_icon "card-list", width: 15, height: 15, fill: "yellow"
      = " Вернуться к списку  "
