%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
  %body
    %h4
      .text3d= t("cbt_tests.actions.edit")
    = form_for @cbt_test do |f|
      .form-group
        .alert.alert-info{:role => "alert"}
          ="Внимание! На данной странице"
          %b
            ="не выполняется"
          ="автоматическое сохранение."
          %br
          ="Вы можете в любой момент нажать «Вернуться», чтобы отменить все сделанные изменения."
          %br
          ="Для применения изменений, служит кнопка «Сохранить»."

        %table.table-borderless
          %tr
            %td{:style=>"vertical-align: top;"}
              .card
                .card-header
                  Карточка теста
                .card-body
                  %h5.card-title Настройки теста
                  %p.card-text
                    %table.table-bordered.table-striped

                      %tr
                        %th= t("cbt_tests.name")
                        %td= f.text_field :name, autofocus: false, placeholder: t("cbt_tests.name"), class: 'form-control'
                      %tr
                        %th= t("cbt_tests.description")
                        %td= f.text_field :description, autofocus: false, placeholder: t("cbt_tests.name"), class: 'form-control'

                      %tr
                        %th= t("cbt_tests.active")
                        %td= f.check_box :active, autofocus: false

                      %tr
                        %th= t("cbt_tests.explore_correct_answers")
                        %td= f.check_box :explore_correct_answers, autofocus: false

                      %tr
                        %th= t("cbt_tests.explore_correct_answers_after_stopped")
                        %td= f.check_box :explore_correct_answers_after_stopped, autofocus: false

                      %tr
                        %th= t("cbt_tests.attempts_number")
                        %td= f.number_field :attempts_number, autofocus: false

                      %tr
                        %th= t("cbt_tests.shuffle")
                        %td= f.check_box :shuffle, autofocus: false


                      -start_year = 2022

                      %tr
                        %th= t("cbt_tests.started_at")
                        %td= f.date_select :started_at, autofocus: false, placeholder: t("employees.started_at"), class: 'form-control', :start_year => start_year

                      %tr
                        %th= t("cbt_tests.stopped_at")
                        %td= f.date_select :stopped_at, autofocus: false, placeholder: t("employees.stopped_at"), class: 'form-control', :start_year => start_year

                      %tr
                        %th= t("cbt_tests.time_limit")
                        %td= f.time_select :time_limit, value: "%H:%M", min: '00:00:00', max: '24:59:59'
                      -# Тест по базовой математике. Полностью соответствует формату ФИПИ.
                      -# Математика базовая, 11 класс
                      -# Тест в полном соответствии со спецификацией ФИПИ
                      %tr
                        %td= t("cbt_tests.manual")
                        %td= picture_upload_group2 f, :manual

                      %tr
                        %td{:colspan=>2}
                          %h5=t("cbt_tests.manual_text")
                          .field{"data-controller" => "rich-text-table"}
                            =f.rich_text_area :manual_text

              %p
                .form-actions
                  = f.submit @cbt_test.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
                  = link_to t('buttons.back'), :back, :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.back")
            %td{:style=>"vertical-align: top;"}
              - if @cbt_test.errors.any?
                #error_explanation
                  .alert.alert-danger.shadow
                    %h4= "#{I18n.t :error, count: @cbt_test.errors.count} не #{I18n.t :pozvol, count: @cbt_test.errors.count} сохранить запись:"
                  .shadow-sm.p-3.mb-5.bg-white.rounded
                    %ul
                      - @cbt_test.errors.full_messages.each do |message|
                        %li= message
