-if !@cbt_tests.nil?
  %p
    = I18n.t :cbt_test, count: @cbt_tests.count

-if @cbt_tests.count > 20
  .apple_pagination
    = will_paginate @cbt_tests

-# :name, :description, :manual, :active, :shuffle, :time_limit,
-# :explore_correct_answers, :explore_correct_answers_after_stopped,
-# :attempts_number, :started_at, :stopped_at


%p
  %table.styled-table{:style=>"width:100%;"}
    %thead
      %th= t("cbt_tests.code")
      %th= t("cbt_tests.name")
      %th= t("cbt_tests.active")
      %th= t("cbt_tests.trainings")
      %th= t("cbt_tests.started_at")
      %th= t("cbt_tests.stopped_at")
      -if current_user.admin?
        %th= t("cbt_tests.actions.title")
    %tbody
      - @cbt_tests.each do |row|
        -if can? :read, row
          %tr
            %td= row.id.to_s
            %td= link_to row.name.to_s, cbt_test_path(row)
            %td= bool_to_word(row.active)
            %td
              -begin
                = CbtTraining.where(:id => CbtTrainingTest.where(:cbt_test_id => row.id).map(&:cbt_training_id)).map(&:name).join(', ')
              -rescue
                ="Нет"
            %td
              -if !row.started_at.nil?
                = row.started_at.strftime("%Y-%m-%d %H-%M-%S")
              -else
                ="-"
            %td
              -if !row.stopped_at.nil?
                = row.stopped_at.strftime("%Y-%m-%d %H-%M-%S")
              -else
                ="-"
            -if current_user.admin?
              %td
                - if can? :edit, row
                  = link_to edit_cbt_test_path(row) do
                    = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
                - if (can? :edit, row) and  (can? :delete, row)
                  = "  "
                - if can? :delete, row
                  = link_to cbt_test_path(row), :method => :delete,  data: { confirm: t('cbt_tests.delete_confirm')} do
                    = image_tag('trash.png', size: "24", :tooltip=>t("delete"))

-if @cbt_tests.count > 20
  .apple_pagination
    = will_paginate @cbt_tests