#carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
  .carousel-inner
    .carousel-item.active
      %h2{:align => 'center'}=@cbt_test.name.to_s
  -if !@previous.nil?
    %a.carousel-control-prev{"data-slide" => "prev", :href => "/cbt_tests/" + @previous.id.to_s, :role => "button"}
      %span.carousel-control-prev-icon{"aria-hidden" => "true"}
      %p=@previous.name[0..10]+'...'.to_s
  -if !@next.nil?
    %a.carousel-control-next{"data-slide" => "next", :href => "/cbt_tests/" + @next.id.to_s, :role => "button"}
      %p=@next.name[0..10]+'...'.to_s
      %span.carousel-control-next-icon{"aria-hidden" => "true"}

.alert.alert-info{:role => "alert"}
  - if can? :edit, @cbt_test
    ="Внимание! На данной странице возможен как просмотр, так и редактирование отдельных полей (через двойной щелчок по полю), при этом "
    %b
      ="производится автоматическое сохранение"
    =" каждого отдельного поля. "
    ="В связи с этим, если в карточке есть хотя бы одно неверное заполненное поле, то изменения не сохраняются."
    %br
    ="Чтобы изменить несколько полей, следует перейти в режим редактирования всей записи по кнопке «Редактировать»."
    ="Поля, заблокированные для редактирования, помечены серым цветом."
  -else
    ="Редактирование данной записи заблокировано."

%table.styled-table{:style=>"width:100%;"}
  -if current_user.admin?
    %tr
      %th= t("cbt_tests.name")
      %td= best_in_place_if (can? :edit, @cbt_test), @cbt_test, :name
    %tr
      %th= t("cbt_tests.description")
      %td= best_in_place_if (can? :edit, @cbt_test), @cbt_test, :description
    %tr
      %th= t("cbt_tests.active")
      %td= best_in_place_if (can? :edit, @cbt_test), @cbt_test, :active, as: :checkbox, collection: {false: "Нет, тест отключён", true: "Да, тест активный"}
    %tr
      %th= t("cbt_tests.explore_correct_answers")
      %td= best_in_place_if (can? :edit, @cbt_test), @cbt_test, :explore_correct_answers, as: :checkbox, collection: {false: "Нет, не показывать", true: "Да, показывать"}
    %tr
      %th= t("cbt_tests.explore_correct_answers_after_stopped")
      %td= best_in_place_if (can? :edit, @cbt_test), @cbt_test, :explore_correct_answers_after_stopped, as: :checkbox, collection: {false: "Нет, не показывать даже после окончания тестирования", true: "Да, показывать после окончания тестирования"}
    %tr
      %th= t("cbt_tests.attempts_number")
      %td= best_in_place_if (can? :edit, @cbt_test), @cbt_test, :attempts_number
    %tr
      %th= t("cbt_tests.shuffle")
      %td= best_in_place_if (can? :edit, @cbt_test), @cbt_test, :shuffle, as: :checkbox, collection: {false: "Нет, не перемешивать вопросы внутри теста", true: "Да, перемешивать вопросы в тесте"}
    %tr
      %th= t("cbt_tests.started_at")
      %td= best_in_place_if (can? :edit, @cbt_test), @cbt_test, :started_at
    %tr
      %th= t("cbt_tests.stopped_at")
      %td= best_in_place_if (can? :edit, @cbt_test), @cbt_test, :stopped_at
    %tr
      %th= t("cbt_tests.time_limit")
      %td= best_in_place_if (can? :edit, @cbt_test), @cbt_test, :time_limit
    %tr
      %th= t("cbt_tests.manual")
      %td= @cbt_test.manual
    %tr
      %th{:colspan=>2}= t("cbt_tests.manual_text")
    %tr
      %td{:colspan=>2}
        = @cbt_test.formatted_body

%table.styled-table{:style=>"width:100%;"}
  %thead
    %tr
      %th="Набор вопросов"
      %th="Вопрос"
      %th="Порядок"
      %th="Тип ответа"
      %th="Тип вопроса"
      %th="Наличие файла помощи"
      %th="Наличие файла с заданием"
  %tbody
    -cbt_test_question_sets = CbtTestQuestionSet.where(:cbt_test_id => @cbt_test.id)
    -cbt_test_question_sets.each do |tqs|
      -cbt_question_set_questions=CbtQuestionSetQuestion.where(:cbt_questions_set_id => tqs.id)
      -cbt_question_set_questions.each do |qsq|
        -cbt_questions = CbtQuestion.where(:id => qsq)
        -cbt_questions.each do |q|
          %tr
            %td=qsq.cbt_questions_set.name
            %td=q.name
            %td=best_in_place_if (can? :edit, tqs), tqs, :sort_by
            %td=q.cbt_answer_type
            %td=q.cbt_question_type
            %td
              -if !q.help_pdf_file.nil?
                -if !q.help_pdf_file.file.nil?
                  -help_pdf_file = q.help_pdf_file.file.path
                  -help_pdf_file = help_pdf_file.match('public.uploads.*')[0].gsub('public', '')
                  -help_pdf_file2="/uploads/cbt_trainings_pdfs/"+"#{q.help_pdf_file}".split('/')[-1]+".pdf"
                  -help_pdf_file2=help_pdf_file2.squish.downcase.gsub('.pdf.pdf', '.pdf')
                  -if File.exist?("#{Rails.public_path}#{help_pdf_file2}")
                    -help_pdf_file = help_pdf_file2
                  -if File.exist?("#{Rails.public_path}#{help_pdf_file}")
                    =link_to "Скачать", help_pdf_file, target: :_blank
                  -else
                    -if current_user.admin?
                      ="не найден #{help_pdf_file2}"
              -else
                ="не указан"
            %td
              -if q.cbt_question_type.name == "Вопрос с PDF-файлом"
                -if !q.pdf_file.nil?
                  -if !q.pdf_file.file.nil?
                    -pdffile = q.pdf_file.file.path
                    -pdffile = pdffile.match('public.uploads.*')[0].gsub('public', '')
                    -pdffile2="/uploads/cbt_trainings_pdfs/"+"#{q.pdf_file}".split('/')[-1]+".pdf"
                    -pdffile2=pdffile2.squish.downcase.gsub('.pdf.pdf', '.pdf')
                    -if File.exist?("#{Rails.public_path}#{pdffile2}")
                      -pdffile = pdffile2
                    -if File.exist?("#{Rails.public_path}#{pdffile}")
                      =link_to "Скачать", pdffile, target: :_blank
                    -else
                      %p="PDF-файл #{pdffile2} отсутствует."
                -else
                  ="не указан"
              -else
                ="для типа вопроса #{q.cbt_question_type} не предполагается"

-#SELECT id, name, description, manual, active, shuffle, time_limit, explore_correct_answers, explore_correct_answers_after_stopped, attempts_number, started_at, stopped_at, deleted_at, created_at, updated_at

%div
  %hr
    = link_to cbt_tests_path, :class => "btn btn-primary btn-mini" do
      = bootstrap_icon "card-list", width: 15, height: 15, fill: "yellow"
      = " Вернуться к списку типов ответов "
    \ 
    - if can? :edit, @cbt_test
      = link_to edit_cbt_test_path(@cbt_test), :class => "btn btn-primary btn-mini" do
        = bootstrap_icon "pencil", width: 15, height: 15, fill: "yellow"
        = " Редактировать "

