.row
  .span9
    %h3.pull-left
      .text3d= "Настройки портала"
    %span.top-panel-actions
      %table.styled-table{:style=>"width:100%;"}
        %thead
          %th{:style=>"width:350px;"}= "Параметр"
          %th= "Значение"
        %tbody
          %tr
            %td=t("site_infos.is_close")
            %td=best_in_place @site_info, :is_close, as: :checkbox, collection: {false: "Нет, сайт открытый, разделение не требуется", true: "Да, сайт требует разделения на открытый/закрытый"}, :place_holder => "Нажмите для внесения сведений"
          %tr
            %td=t("site_infos.is_close")
            %td=best_in_place @site_info, :close_ips, :place_holder => "Щёлкните здесь для внесения сведений"
          %tr
            %td=t("site_infos.open_name")
            %td=best_in_place @site_info, :open_name, :place_holder => "Щёлкните здесь для внесения сведений"
          %tr
            %td=t("site_infos.close_name")
            %td=best_in_place @site_info, :close_name, :place_holder => "Щёлкните здесь для внесения сведений"
          %tr
            %td=t("site_infos.host")
            %td=best_in_place @site_info, :host, :place_holder => "Щёлкните здесь для внесения сведений"
          %tr
            %td="Email, зарегистрированный на Yandex для осуществления рассылок по SMTP"
            %td=best_in_place @site_info, :email, :place_holder => "Щёлкните здесь для внесения сведений"
          %tr
            %td="Пароль от Email на Yandex"
            %td=best_in_place @site_info, :email_password, :place_holder => "Щёлкните здесь для внесения сведений"
          %tr
            %td="Что написать в Copyright внизу"
            %td=best_in_place @site_info, :copyright, :place_holder => "Щёлкните здесь для внесения сведений"
          %tr
            %td="Показывать ли 'Помощь' внизу?"
            %td
              =best_in_place @site_info, :is_help, as: :checkbox, collection: {false: "Нет, не показывать", true: "Да, показывать"}, :place_holder => "Нажмите для внесения сведений"
              %br
              =link_to 'Для заполнения', '/manuals'
          %tr
            %td="Показывать ли 'Соглашение' внизу?"
            %td
              =best_in_place @site_info, :is_condition, as: :checkbox, collection: {false: "Нет, не показывать", true: "Да, показывать"}, :place_holder => "Нажмите для внесения сведений"
              %br
              =link_to 'Для заполнения', '/manuals'
          %tr
            %td="Адрес поддержки школ и муниципалитетов"
            %td=best_in_place @site_info, :support, :place_holder => "Щёлкните здесь для внесения сведений"
