%br
%br
%br
%br
%footer.footer.text-muted.bg-light
  .container
    %span
      ="© #{Date.today.year} #{SiteInfo.find(1).copyright}"
    %ul.list-inline.mb-0.float-right
      -if SiteInfo.find(1).is_help == true
        %li.list-inline-item.mr-3= link_to t("navigation.help"), help_path
      -if SiteInfo.find(1).is_condition == true
        %li.list-inline-item.mr-3= link_to t("navigation.privacy"), privacy_path

-#%footer.bg-light.footer.mt-auto.py-3
-#  .container.d-flex.justify-content-between.mx-auto.text-muted
-#    %span
-#      © #{Date.today.year} Your Company
-#    %ul.d-inline.float-end.list-inline.mb-0
-#      %li.list-inline-item.mr-3= link_to "Terms", terms_path
-#      %li.list-inline-item.mr-3= link_to "Privacy", privacy_path
