- if user_masquerade?
  .alert.alert-warning.text-center
    Вы вошли под именем
    %b
      = current_user.name
      (#{current_user.email})
    = link_to back_masquerade_path(current_user) do
      = icon("fas", "times")
      Выйти
%nav.navbar.navbar-expand-md.navbar-light.bg-light
  .container
    = link_to root_path, class: "navbar-brand", :style=>"text-shadow: 2px 2px 8px #555555;" do
      = image_tag('kubok.png', size: "34")
      = "#{SiteInfo.find(1).close_name}"
    -current_uri = request.env['PATH_INFO']
    -manuals = Manual.where(:url => current_uri).first
    -if !manuals.nil?
      / Button trigger modal
      %div{"data-target" => "#exampleModalLong", "data-toggle" => "modal", class: "navbar-brand"}
        = bootstrap_icon "question-octagon-fill", width: 15, height: 15, fill: "green"

      / Modal
      #exampleModalLong.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLongTitle", :role => "dialog", :tabindex => "-1"}
        .modal-dialog{:role => "document"}
          .modal-content
            .modal-header
              %h5#exampleModalLongTitle.modal-title Справка
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
            .modal-body
              =manuals.manual_text
            .modal-footer
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Закрыть


    %button.navbar-toggler{"aria-controls" => "navbarsExample04", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarMain", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarMain.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto.mt-2.mt-md-0
      %ul.navbar-nav
        %li.nav-item
          = link_to announcements_path, class: "nav-link #{unread_announcements(current_user)}" do
            = image_tag('announcements.png', size: "34")
            =t("navigation.announcements")
        - if user_signed_in?
          %li.nav-item.dropdown
            - if current_user.admin?
              = link_to "#", id: "navbar-dropdown", class: "nav-link dropdown-toggle", data: { target: "nav-account-dropdown", toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do
                = image_tag('buildings.png', size: "34")
                = "Организация тренингов"
              #nav-account-dropdown.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbar-dropdown"}
                = link_to t("navigation.statistics"), statistics_path, class: "dropdown-item"
                = link_to t("navigation.experts"), experts_path, class: "dropdown-item"

          - if current_user.admin?
            %li.nav-item.dropdown
              = link_to "#", id: "navbar-dropdown", class: "nav-link dropdown-toggle", data: { target: "nav-account-dropdown", toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do
                = image_tag('cbts.png', size: "34")
                = "Онлайн-тестирования"
              #nav-account-dropdown.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbar-dropdown"}
                %p="Главная страница"
                = link_to t("navigation.cbt_home"), cbt_home_index_path, class: "dropdown-item"
                %p="Вопросы"
                = link_to t("navigation.cbt_questions_sets"), cbt_questions_sets_path , class: "dropdown-item"
                = link_to t("navigation.cbt_questions"), cbt_questions_path , class: "dropdown-item"
                = link_to t("navigation.cbt_question_set_questions"), cbt_question_set_questions_path , class: "dropdown-item"
                %p="Тесты"
                = link_to t("navigation.cbt_tests"), cbt_tests_path , class: "dropdown-item"
                = link_to t("navigation.cbt_test_question_sets"), cbt_test_question_sets_path , class: "dropdown-item"
                %p="Прохождение тестов"
                = link_to t("navigation.cbt_user_tests"), cbt_user_tests_path , class: "dropdown-item"
                = link_to t("navigation.cbt_user_test_questions"), cbt_user_test_questions_path , class: "dropdown-item"
                %p="Тренинги"
                = link_to t("navigation.cbt_trainings"), cbt_trainings_path , class: "dropdown-item"
                = link_to t("navigation.cbt_training_tests"), cbt_training_tests_path , class: "dropdown-item"
                %p="Логины"
                = link_to "Создать логины для экспертов", "/experts/create_users_for_experts" , class: "dropdown-item"

          - if current_user.admin?
            %li.nav-item.dropdown
              = link_to "#", id: "navbar-dropdown", class: "nav-link dropdown-toggle", data: { target: "nav-account-dropdown", toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do
                = image_tag('folders.png', size: "34")
                = "Справочники"
              #nav-account-dropdown.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbar-dropdown"}
                = link_to t("navigation.cbt_question_types"), cbt_question_types_path , class: "dropdown-item"
                = link_to t("navigation.cbt_answer_types"), cbt_answer_types_path, class: "dropdown-item"
                = link_to t("navigation.cbt_subjects"), cbt_subjects_path, class: "dropdown-item"
                .dropdown-divider
                = link_to t("navigation.subjects"), subjects_path, class: "dropdown-item"
                .dropdown-divider
                = link_to t("navigation.except_records"), except_records_path, class: "dropdown-item"
          %li.nav-item.dropdown
            = link_to "#", id: "navbar-dropdown", class: "nav-link dropdown-toggle", data: { target: "nav-account-dropdown", toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do
              -if !avatar_path(current_user).nil?
                = image_tag avatar_path(current_user, size: 40), height: 20, width: 20, class: "rounded"
              -else
                = bootstrap_icon "user", width: 15, height: 15, fill: "blue"
            #nav-account-dropdown.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbar-dropdown"}
              - if current_user.admin? && respond_to?(:admin_root_path)
                = link_to t("navigation.admin_area"), admin_root_path, class: "dropdown-item"
                = link_to "Информация о портале", '/site_infos/', class: "dropdown-item"
                .dropdown-divider
              = link_to t("navigation.logout"), destroy_user_session_path, class: "dropdown-item"
        - else
          %li.nav-item= link_to t("navigation.login"), new_user_session_path, class: "nav-link"

