%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
  %body
    %h4
      .text3d= t("cbt_trainings.actions.edit")
    = form_for @cbt_training do |f|
      .form-group
        .alert.alert-info{:role => "alert"}
          ="Внимание! На данной странице"
          %b
            ="не выполняется"
          ="автоматическое сохранение."
          %br
          ="Вы можете в любой момент нажать «Вернуться», чтобы отменить все сделанные изменения."
          %br
          ="Для применения изменений, служит кнопка «Сохранить»."

        %table.table-borderless
          %tr
            %td{:style=>"vertical-align: top;"}
              .card
                .card-header
                  Карточка теста
                .card-body
                  %h5.card-title Настройки теста
                  %p.card-text
                    %table.table-bordered.table-striped

                      %tr
                        %th= t("cbt_trainings.name")
                        %td= f.text_field :name, autofocus: false, placeholder: t("cbt_trainings.name"), class: 'form-control'

                      %tr
                        %th= t("cbt_trainings.active")
                        %td= f.check_box :active, autofocus: false
                      %tr
                        %th= t("cbt_trainings.for_students")
                        %td= f.check_box :for_students, autofocus: false
                      %tr
                        %th= t("cbt_trainings.for_employees")
                        %td= f.check_box :for_employees, autofocus: false
                      %tr
                        %th= t("cbt_trainings.for_experts")
                        %td= f.check_box :for_experts, autofocus: false
                      %tr
                        %th= t("cbt_trainings.for_observers")
                        %td= f.check_box :for_observers, autofocus: false

                      %tr
                        %th= "Предмет тестирования"
                        %td= f.collection_select :cbt_subject_id, @cbt_subjects, :id, :name, prompt: true, placeholder: t('mouos.cbt_subject_id')
                      %tr
                        %th= "Предмет на ГИА"
                        %td= f.collection_select :subject_id, @subjects, :id, :name, prompt: true, placeholder: t('mouos.cbt_subject_id')

                      %tr
                        %td= "Картинка (желательно в PNG)"
                        %td= picture_upload_group2 f, :title_image

                      %tr
                        %td= "Отображать статус на бланках"
                        %td= f.check_box :show_status, autofocus: false

                      %tr
                        %td= "Сертификат в формате pdf"
                        %td= picture_upload_group2 f, :certificate

                      %tr
                        %td= "Укажите настройки сертификата"
                        -if "#{@cbt_training.certificate_geometry}" == ''
                          -@cbt_training.certificate_geometry = "'КОМУ',320,350,'center',18,'BeerMoney','#BCA669'+'СТАТУС',360,215,'center',18,'Arial','#BCA669'+'ПРЕДМЕТ',350,290,'center',18,'Arial','#000000'+'БАЛЛ',350,255,'center',18,'Arial','#000000'"
                        %td= f.text_area :certificate_geometry, cols: 40, rows: 10

                      -start_year = 2022

                      %tr
                        %th= t("cbt_trainings.started_at")
                        %td= f.date_select :started_at, autofocus: false, placeholder: t("employees.started_at"), class: 'form-control', :start_year => start_year

                      %tr
                        %th= t("cbt_trainings.stopped_at")
                        %td= f.date_select :stopped_at, autofocus: false, placeholder: t("employees.stopped_at"), class: 'form-control', :start_year => start_year


                      %tr
                        %td{:colspan=>2}
                          %h5=t("cbt_trainings.manual_text")
                          .field{"data-controller" => "rich-text-table"}
                            =f.rich_text_area :manual_text

              %p
                .form-actions
                  = f.submit @cbt_training.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
                  = link_to t('buttons.back'), :back, :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.back")
            %td{:style=>"vertical-align: top;"}
              - if @cbt_training.errors.any?
                #error_explanation
                  .alert.alert-danger.shadow
                    %h4= "#{I18n.t :error, count: @cbt_training.errors.count} не #{I18n.t :pozvol, count: @cbt_training.errors.count} сохранить запись:"
                  .shadow-sm.p-3.mb-5.bg-white.rounded
                    %ul
                      - @cbt_training.errors.full_messages.each do |message|
                        %li= message
