-if !@cbt_trainings.nil?
  %p
    = I18n.t :cbt_training, count: @cbt_trainings.count

-if @cbt_trainings.count > 20
  .apple_pagination
    = will_paginate @cbt_trainings

-# :name, :description, :manual, :active, :shuffle, :time_limit,
-# :explore_correct_answers, :explore_correct_answers_after_stopped,
-# :attempts_number, :started_at, :stopped_at


%p
  %table.styled-table{:style=>"width:100%;"}
    %thead
      %th= t("cbt_trainings.code")
      %th= t("cbt_trainings.name")
      %th= t("cbt_trainings.active")
      %th= t("cbt_trainings.started_at")
      %th= t("cbt_trainings.stopped_at")
      -if current_user.admin?
        %th= t("cbt_trainings.actions.title")
    %tbody
      - @cbt_trainings.each do |row|
        -if can? :read, row
          %tr
            %td= row.id.to_s
            %td= link_to row.name.to_s, cbt_training_path(row)
            %td= bool_to_word(row.active)
            %td= row.started_at.strftime("%Y-%m-%d %H-%M-%S")
            %td= row.stopped_at.strftime("%Y-%m-%d %H-%M-%S")
            -if current_user.admin?
              %td
                - if can? :edit, row
                  = link_to edit_cbt_training_path(row) do
                    = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
                - if (can? :edit, row) and  (can? :delete, row)
                  = "  "
                - if can? :delete, row
                  = link_to cbt_training_path(row), :method => :delete,  data: { confirm: t('cbt_trainings.delete_confirm')} do
                    = image_tag('trash.png', size: "24", :tooltip=>t("delete"))

-if @cbt_trainings.count > 20
  .apple_pagination
    = will_paginate @cbt_trainings