%h3="Выберите тесты, которые следует добавить к тренингу"
-cbt_tests=params[:cbt_tests]
-if !cbt_tests.nil?
  -i = 0
  %ul
    -cbt_tests.each do |t|
      -i = i + 1
      -tt = CbtTrainingTest.new
      -tt.cbt_test_id = t[0].to_i
      -tt.cbt_training_id = @cbt_training.id
      -tt.sort_by = i
      -tt.mandatory = false
      -tt.save
      %li="Добавлен тест #{tt.cbt_test.name}"
-else
  -cbt_tests=params[:cbt_tests]
  -if !cbt_tests.nil?
    -cbt_tests.each do |t|
      %p=t
  %form{action: "/cbt_trainings/#{@cbt_training.id}/addtests", method: "get"}
    -@cbt_tests.each do |t|
      .form-check
        %input#flexCheckDefault.form-check-input{id: "cbt_tests_#{t.id}", type: "checkbox", value: "", name: "cbt_tests[#{t.id}]"}/
        %label.form-check-label{for: "flexCheckDefault_cbt_tests_#{t.id}"}
          =t.name
    %input{type: "submit", value: "Добавить"}

%div
  %hr
    = link_to cbt_training_path(@cbt_training), :class => "btn btn-primary btn-mini" do
      = bootstrap_icon "eye", width: 15, height: 15, fill: "yellow"
      = " Вернуться к тренингу "
    \ 
    - if can? :edit, @cbt_training
      = link_to edit_cbt_training_path(@cbt_training), :class => "btn btn-primary btn-mini" do
        = bootstrap_icon "pencil", width: 15, height: 15, fill: "yellow"
        = " Редактировать "
    \ 
    - if can? :edit, @cbt_training
      = link_to "/cbt_trainings/#{@cbt_training.id}/addtests", :class => "btn btn-primary btn-mini" do
        = bootstrap_icon "card-list", width: 15, height: 15, fill: "yellow"
        = " Добавить тесты в тренинг "
