.row
  .span9
    %h3.pull-left
      .text3d= t("cbt_trainings.list.title")
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag cbt_trainings_path, :method => 'get', :id => "cbt_trainings_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = image_tag('find.png', size: "34")
                  = "искать"
          %td
            - if can? :create, CbtTraining
              = link_to new_cbt_training_path, class: "btn btn-light" do
                = image_tag('create_new.png', size: "34")
                = "создать"
            - if (can? :create, CbtTraining) and (can? :export, CbtTraining)
              =" | "
            - if can? :export, CbtTraining
              = link_to cbt_trainings_export_path + '.xlsx', class: "btn btn-light" do
                = image_tag('download.png', size: "34")
                = "скачать"
            - if (can? :export, CbtTraining) and (can? :import, CbtTraining)
              =" | "
            - if can? :import, CbtTraining
              = link_to new_cbt_trainings_import_path, class: "btn btn-light" do
                = image_tag('upload.png', size: "34")
                = "импорт"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}