.row
  .span9
    %h3.pull-left
      .text3d="#{@cbt_training.name}"

-#%p="После обновления системы здесь будет показываться прогресс тренинга."
-cbt_training_tests = CbtTrainingTest.where(:cbt_training_id => @cbt_training.id).order("sort_by asc, id asc")
-# -tests = CbtTest.where(:id=>.map(&:cbt_test_id))
%table.styled-table{:style=>"width:100%;"}
  %thead
    %tr
      %th="ID теста"
      %th="Наименование теста"
      %th="Сортировка"
      %th="Обязательный"
      %th="Пользователей"
      %th="В процессе"
      %th="Завершивших"
      %th="Действие"
  %tbody
    -cbt_training_tests.each do |tt|
      %tr
        %td=link_to tt.cbt_test.id, "/cbt_tests/#{tt.cbt_test.id}"
        %td=best_in_place CbtTest.find(tt.cbt_test.id), :name
        %td=best_in_place tt, :sort_by
        %td=best_in_place tt, :mandatory, as: :checkbox, collection: {false: "Не обязательный", true: "Обязательный"}
        %td=CbtUserTest.where(:cbt_test_id => tt.cbt_test.id).map(&:user_id).uniq.count
        %td=CbtUserTest.where(:cbt_test_id => tt.cbt_test.id).where("end_time is NULL").map(&:user_id).uniq.count
        %td=CbtUserTest.where(:cbt_test_id => tt.cbt_test.id).where("end_time is NOT NULL").map(&:user_id).uniq.count
        %td
          - if can? :edit, tt
            = link_to edit_cbt_training_test_path(tt) do
              = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
          - if (can? :edit, tt) and  (can? :delete, tt)
            = "  "
          - if can? :delete, tt
            = link_to cbt_training_test_path(tt), :method => :delete,  data: { confirm: t('cbt_training_test.delete_confirm')} do
              = image_tag('trash.png', size: "24", :tooltip=>t("delete"))


%div
  %hr
    = link_to cbt_trainings_path, :class => "btn btn-primary btn-mini" do
      = bootstrap_icon "card-list", width: 15, height: 15, fill: "yellow"
      = " Вернуться к списку тренингов "
    \ 
    - if can? :edit, @cbt_training
      = link_to edit_cbt_training_path(@cbt_training), :class => "btn btn-primary btn-mini" do
        = bootstrap_icon "pencil", width: 15, height: 15, fill: "yellow"
        = " Редактировать "
    \ 
    - if can? :edit, @cbt_training
      = link_to "/cbt_trainings/#{@cbt_training.id}/addtests", :class => "btn btn-primary btn-mini" do
        = bootstrap_icon "pencil", width: 15, height: 15, fill: "yellow"
        = " Добавить тесты в тренинг "

