-sql = "SELECT count(distinct(case when ex.subject1_subject_code is NOT NULL or ex.subject2_subject_code is NOT NULL or ex.subject3_subject_code is NOT NULL then ex.id else NULL end)) as ex9   ,count(distinct(case when ex.subject1_ege_subject_code is NOT NULL or ex.subject2_ege_subject_code is NOT NULL then ex.id else NULL end)) as ex11  FROM public.experts ex where ex.deleted_at is NULL"
-records_array = ActiveRecord::Base.connection.execute(sql)

.pricing-header.px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
  -name = "#{SiteInfo.find(1).region_name}"
  %h5.display-4=name

.card-deck.mb-3.text-center
  .card.mb-4.box-shadow
    .card-header
      %h4.my-0.font-weight-normal="Сведения об экспертах"
    .card-body
      %h1.card-title.pricing-card-title
        Сведения
        %small.text-muted / %
      %ul.list-unstyled.mt-3.mb-4
        %li
          ="#{records_array[0]['ex9'].to_i} экспертов ГИА-9"
        %li
          ="#{records_array[0]['ex9'].to_i} экспертов ГИА-11"
      %br
      %br
      %br
      %button.btn.btn-lg.btn-block.btn-outline-primary{:type => "button"}
        -if current_user.ous_role?
          =link_to 'Перейти к заполнению', Ou.where("cast(code as int) = #{current_user.target_id}").first
        -else
          =link_to 'Перейти к заполнению', '/experts'
  %hr

  .card.mb-4.box-shadow
    .card-header
      %h4.my-0.font-weight-normal ГИА-9
    .card-body
      %h1.card-title.pricing-card-title
        Сведения
        %small.text-muted / %
      %ul.list-unstyled.mt-3.mb-4
        %li=""
        %li=""
      %br
      %button.btn.btn-lg.btn-block.btn-outline-primary{:type => "button"}
        =link_to 'Статистика экспертов ГИА-9', '/statistics/29'

  .card.mb-4.box-shadow
    .card-header
      %h4.my-0.font-weight-normal ГИА-11
    .card-body
      %h1.card-title.pricing-card-title
        Сведения
        %small.text-muted / %
      %ul.list-unstyled.mt-3.mb-4
        %li=""
        %li=""
      %button.btn.btn-lg.btn-block.btn-outline-primary{:type => "button"}
        =link_to 'Статистика экспертов ГИА-11', '/statistics/30'