%body
  %h1 Помощь
  -if ['127.0.0.1', '192.168.16.101', '192.168.16.150', '127.0.0.1', '192.168.18.155', '192.168.18.150', '192.168.29.79'].include?(request.remote_ip.to_s)
    -@manual = Manual.find(1)
    -if !@manual.nil?
      =@manual.formatted_body
    -else
      ="Раздел в разработке"
  -else
    -@manual = Manual.find(2)
    -if !@manual.nil?
      =@manual.formatted_body
    -else
      ="Раздел в разработке"