- if current_user.nil?
  = controller.redirect_to "/users/sign_in"
-else
  -if !current_user.admin?
    = controller.redirect_to "/cbt_home/"
  -else
    = render :partial => 'dashbrd', :locals => {:legend => t(".title")}