%nav.navigation{:role => "navigation"}
  = link_to(                    |
      "← Back to App",          |
      root_path,                |
      class: "navigation__link" |
    )                           |
  - Administrate::Namespace.new(namespace).resources_with_index_route.each do |resource|
    = link_to(                                                                                    |
        display_resource_name(resource),                                                          |
        resource_index_route(resource),                                                           |
        class: "navigation__link navigation__link--#{nav_link_state(resource)}"                   |
      ) if valid_action?(:index, resource) && show_action?(:index, model_from_resource(resource)) |
