-if !@cbt_subjects.nil?
  %p
    = I18n.t :cbt_subject, count: @cbt_subjects.count

-if @cbt_subjects.count > 20
  .apple_pagination
    = will_paginate @cbt_subjects

-#name, code, created_at, updated_at, short_name, fisgia9code, fisgia11code
%p
  %table.styled-table{:style=>"width:100%;"}
    %thead
      %th= t("cbt_subjects.code")
      %th= t("cbt_subjects.name")
      %th= t("cbt_subjects.short_name")
      %th= t("cbt_subjects.fisgia9code")
      %th= t("cbt_subjects.fisgia11code")
      %th= t("cbt_subjects.sort_by")
      -if current_user.admin?
        %th= t("cbt_subjects.actions.title")
    %tbody
      - @cbt_subjects.each do |row|
        -if can? :read, row
          %tr
            %td= row.code.to_s
            %td= link_to row.name.to_s, cbt_subject_path(row)
            %td= row.short_name
            %td= row.fisgia9code
            %td= row.fisgia11code
            %td= row.sort_by
            -if current_user.admin?
              %td
                - if can? :edit, row
                  = link_to edit_cbt_subject_path(row) do
                    = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
                - if (can? :edit, row) and  (can? :delete, row)
                  = "  "
                - if can? :delete, row
                  = link_to cbt_subject_path(row), :method => :delete,  data: { confirm: t('cbt_subjects.delete_confirm')} do
                    = image_tag('trash.png', size: "24", :tooltip=>t("delete"))

-if @cbt_subjects.count > 20
  .apple_pagination
    = will_paginate @cbt_subjects