.row
  .span9
    %h3.pull-left
      .text3d= t("cbt_subjects.list.title")
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag cbt_subjects_path, :method => 'get', :id => "cbt_subjects_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = image_tag('find.png', size: "34")
                  = "искать"
          %td
            - if can? :create, CbtSubject
              = link_to new_cbt_subject_path, class: "btn btn-light" do
                = image_tag('create_new.png', size: "34")
                = "создать"
            - if (can? :create, CbtSubject) and (can? :export, CbtSubject)
              =" | "
            - if can? :export, CbtSubject
              = link_to '/cbt_subjects/export.xlsx', class: "btn btn-light" do
                = image_tag('download.png', size: "34")
                = "скачать"
            - if (can? :export, CbtSubject) and (can? :import, CbtSubject)
              =" | "
            - if can? :import, CbtSubject
              = link_to new_cbt_subjects_import_path, class: "btn btn-light" do
                = image_tag('upload.png', size: "34")
                = "импорт"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}