%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title="Просмотр #{@cbt_subject.name}"
  %body
    .row
      .span9
        %h3.pull-left
          %table.table-borderless{:style=>"width:100%;"}
            %tr
              %td{:style=>"width:95%;"}
                .text3d= "Информация о предмете тестирования #{@cbt_subject.name}"
              %td
                %right
                  - if can? :edit, @cbt_subject
                    = link_to edit_cbt_subject_path(@cbt_subject) do
                      = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
          %hr
          %table.styled-table{:style=>"width:100%;"}
            %thead
              %tr
                %th{:style=>"width:350px;"}= "Параметр"
                %th= "Значение"
            %tbody
              %tr
                %td= t("cbt_subjects.code")
                %td=best_in_place @cbt_subject, :code
              %tr
                %td= t("cbt_subjects.name")
                %td=best_in_place @cbt_subject, :name
              %tr
                %td= t("cbt_subjects.short_name")
                %td=best_in_place @cbt_subject, :short_name
              %tr
                %td= t("cbt_subjects.sort_by")
                %td=best_in_place @cbt_subject, :sort_by
          %table.styled-table{:style=>"width:100%;"}
            %thead
              %tr
                %th{:colspan=>6}
                  %center
                    ="Баллы для статусов"
              %tr
                %th{:colspan=>2}
                  %center
                    ="Основной эксперт"
                %th{:colspan=>2}
                  %center
                    ="Старший эксперт"
                %th{:colspan=>2}
                  %center
                    ="Ведущий эксперт"
            %tbody
              %tr
                %th
                  %center
                    ="Мин. балл"
                %th
                  %center
                    ="Макс."
                    %br
                    ="расхождение"
                %th
                  %center
                    ="Мин. балл"
                %th
                  %center
                    ="Макс."
                    %br
                    ="расхождение"
                %th
                  %center
                    ="Мин. балл"
                %th
                  %center
                    ="Макс."
                    %br
                    ="расхождение"
              %tr
                %td
                  %center
                    =best_in_place @cbt_subject, :border_osn
                %td
                  %center
                    =best_in_place @cbt_subject, :border_osn_error
                %td
                  %center
                    =best_in_place @cbt_subject, :border_st
                %td
                  %center
                    =best_in_place @cbt_subject, :border_st_error
                %td
                  %center
                    =best_in_place @cbt_subject, :border_ved
                %td
                  %center
                    =best_in_place @cbt_subject, :border_ved_error
          %table.styled-table{:style=>"width:100%;"}
            %thead
              -list = CbtQuestion.where(:cbt_subject_id => @cbt_subject.id)
              %tr
                %th="Список вопросов по данному предмету (#{list.count})"
            %tbody
              %tr
                %td
                  -list.each do |q|
                    =link_to "#{q.name}; ", "/cbt_questions/#{q.id}"

          %table.styled-table{:style=>"width:100%;"}
            %thead
              -list = CbtTraining.where(:cbt_subject_id => @cbt_subject.id)
              %tr
                %th="Список тренингов по данному предмету (#{list.count})"
            %tbody
              %tr
                %td
                  -list.each do |q|
                    =link_to "#{q.name}; ", "/cbt_trainings/#{q.id}"

              -# -list = CbtTestQuestionSet.where(:cbt_questions_set_id => @cbt_questions_set.id).map(&:cbt_test_id)
              -# -list = CbtTest.where(:id => list)
              -#%tr
              -#  %th="Список связанных тестов (#{list.count})"
              -#  %td
              -#    -list.each do |q|
              -#      =link_to "#{q.id} #{q.name}", "/cbt_tests/#{q.id}"
              -#      ="; "

%p
  %i
    ="* для редактирования параметра следует перейти в асинхронное редактирование; редактирование на лету невозможно"