-if !@cbt_test_question_sets.nil?
  %p
    = I18n.t :cbt_test_question_set, count: @cbt_test_question_sets.count

-if @cbt_test_question_sets.count > 20
  .apple_pagination
    = will_paginate @cbt_test_question_sets

-#name, code, created_at, updated_at, short_name, fisgia9code, fisgia11code
                        %th= t("cbt_questions_set_questions.cbt_subject_id")
                        %td= f.collection_select :cbt_questions_set_id, @cbt_question_sets, :id, :name, prompt: true, placeholder: t('mouos.cbt_subject_id')
                      %tr
                        %th= t("cbt_questions_set_questions.cbt_question_id")
%p
  %table.styled-table{:style=>"width:100%;"}
    %thead
      %th= t("cbt_test_question_sets.code")
      %th= t("cbt_test_question_sets.cbt_test")
      %th= t("cbt_test_question_sets.cbt_questions_set")
      %th= t("cbt_test_question_sets.sort_by")
      -if current_user.admin?
        %th= t("cbt_test_question_sets.actions.title")
    %tbody
      - @cbt_test_question_sets.each do |row|
        -if can? :read, row
          %tr
            %td= row.id.to_s
            %td= row.cbt_test
            %td= row.cbt_questions_set
            %td= row.sort_by
            -if current_user.admin?
              %td
                - if can? :edit, row
                  = link_to edit_cbt_test_question_set_path(row) do
                    = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
                - if (can? :edit, row) and  (can? :delete, row)
                  = "  "
                - if can? :delete, row
                  = link_to cbt_test_question_set_path(row), :method => :delete,  data: { confirm: t('cbt_test_question_sets.delete_confirm')} do
                    = image_tag('trash.png', size: "24", :tooltip=>t("delete"))

-if @cbt_test_question_sets.count > 20
  .apple_pagination
    = will_paginate @cbt_test_question_sets