.row
  .span9
    %h3.pull-left
      .text3d= t("cbt_test_question_sets.list.title")
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag cbt_test_question_sets_path, :method => 'get', :id => "cbt_test_question_sets_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = image_tag('find.png', size: "34")
                  = "искать"
          %td
            - if can? :create, CbtTestQuestionSet
              = link_to new_cbt_test_question_set_path, class: "btn btn-light" do
                = image_tag('create_new.png', size: "34")
                = "создать"
            - if (can? :create, CbtTestQuestionSet) and (can? :export, CbtTestQuestionSet)
              =" | "
            - if can? :export, CbtTestQuestionSet
              = link_to cbt_test_question_sets_export_path + '.xlsx', class: "btn btn-light disabled" do
                = image_tag('download.png', size: "34")
                = "скачать"
            - if (can? :export, CbtTestQuestionSet) and (can? :import, CbtTestQuestionSet)
              =" | "
            - if can? :import, CbtTestQuestionSet
              = link_to new_cbt_test_question_sets_import_path, class: "btn btn-light disabled" do
                = image_tag('upload.png', size: "34")
                = "импорт"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}