-# Выбор одного варианта из многих
-if @cbt_question.cbt_answer_type.name == 'Выбор одного варианта из многих'
  -cr_count = @cbt_question.settings.count('#') + 1
  -cr_split = @cbt_question.settings.split('#')
  -if !@cbt_question.shuffle.nil?
    -if @cbt_question.shuffle == true
      -cr_split = cr_split.shuffle
  -i = 0
  -balls_list = ""
  -if !balls_list.nil?
    -balls= balls_list.split('#')

  %p
    %i
      ="Установите отметку на правильном на ваш взгляд варианте ответа."

  %fieldset
    -cr_split.each do |r|
      -i = i + 1
      ="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;".html_safe
      -if balls_list == cr_split[i-1]
        =radio_button "mark_k[0]", true, cr_split[i-1], {:name => "mark_k[0]", :values=>"cr_split[i-1]", :checked => "checked"}
      -else
        =radio_button "mark_k[0]", false, cr_split[i-1], {:name => "mark_k[0]", :value=>"cr_split[i-1]"}
      ="#{cr_split[i-1]}"
      %br