-# Отметки по критериям
-if @cbt_question.cbt_answer_type.name == 'Отметки по критериям'
  -cr_count = "#{@cbt_question.settings}".count('#') + 1
  -cr_split = "#{@cbt_question.settings}".split('#')
  -k_split = "#{@cbt_question.k_nums}".split('#')
  -i = 0
  -balls_list = ""
  -if !balls_list.nil?
    -balls= balls_list.split('#')

  -# Это только первая строчка, первые 10 критериев
  -if cr_count > 0
    %table.table-borderless
      %tr
      -while i<cr_count and i<10
        -i = i + 1
        %th
          -begin
            -if  k_split.length > 0
              =k_split[i-1]
            -else
              ="K#{i}"
          -rescue
            ="K#{i}"
        %td
          -if !balls_list.nil?
            -ball=balls_list.split('#')[i-1]
          -else
            -ball=nil
          =text_field "mark_k", i, :size=>"#{cr_split[i-1]&.length}", :value=>ball, :placeholder =>"(#{cr_split[i-1]})"

  -# Это только первая строчка, первые 10 критериев
  -if cr_count > 10
    %table.table-borderless
      %tr
      -while i<cr_count and i<20
        -i = i + 1
        %th
          -begin
            -if  k_split.length > 0
              =k_split[i-1]
            -else
              ="K#{i}"
          -rescue
            ="K#{i}"
        %td
          -if !balls_list.nil?
            -ball=balls_list.split('#')[i-1]
          -else
            -ball=nil
          =text_field "mark_k", i, :size=>"#{cr_split[i-1].length}", :value=>ball, :placeholder =>"(#{cr_split[i-1]})"

