-# Свободный краткий ответ
-begin
  %input{:id => "mark_k[0]", :placeholder=>"Введите ответ", :name => "mark_k[0]", :type => "text", :value => "#{mark_k[0]}"}
-rescue
  %input{:id => "mark_k[0]", :placeholder=>"Введите ответ", :name => "mark_k[0]", :type => "text", :value => "#{@cbt_user_test_question.user_answer}"}