-# Выбор нескольких вариантов из многих
-if @cbt_question.cbt_answer_type.name == 'Выбор нескольких вариантов из многих'
  -cr_count = @cbt_question.settings.count('#') + 1
  -cr_split = @cbt_question.settings.split('#')
  -if !@cbt_question.shuffle.nil?
    -if @cbt_question.shuffle == true
      -cr_split = cr_split.shuffle
  -i = 0
  -balls_list = "".split('#')

  %p
    %i
      ="Установите отметки во всех правильных на ваш взгляд вариантах ответа."

  -cr_split.each do |r|
    -i = i + 1
    -if balls_list.include? cr_split[i-1]
      =check_box "mark_k", cr_split[i-1], {:name => "mark_k[#{cr_split[i-1]}]", :value => "cr_split[i-1]", :checked => "checked"}
    -else
      =check_box "mark_k", cr_split[i-1], {:name => "mark_k[#{cr_split[i-1]}]", :value => "cr_split[i-1]"}
    ="#{cr_split[i-1]}"
    %br
