%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
  %body
    %h4
      .text3d= t("cbt_training_tests.actions.edit")
    = form_for @cbt_training_test do |f|
      .form-group
        .alert.alert-info{:role => "alert"}
          ="Внимание! На данной странице"
          %b
            ="не выполняется"
          ="автоматическое сохранение."
          %br
          ="Вы можете в любой момент нажать «Вернуться», чтобы отменить все сделанные изменения."
          %br
          ="Для применения изменений, служит кнопка «Сохранить»."
        -#name, code, created_at, updated_at, short_name, fisgia9code, fisgia11code

        %table.table-borderless
          %tr
            %td{:style=>"vertical-align: top;"}
              .card
                .card-header
                  Связка вопросов с набором вопросов
                .card-body
                  %h5.card-title Связка вопросов с набором вопросов
                  %p.card-text
                    %table.table-bordered.table-striped
                      %tr
                        %th= t("cbt_training_tests.cbt_training_id")
                        %td= f.collection_select :cbt_training_id, @cbt_trainings, :id, :name, prompt: true
                      %tr
                        %th= t("cbt_training_tests.cbt_test_id")
                        %td= f.collection_select :cbt_test_id, @cbt_tests, :id, :name, prompt: true
                      %tr
                        %th= t("cbt_training_tests.sort_by")
                        %td= f.number_field :sort_by

                      %tr
                        %th= t("cbt_tests.mandatory")
                        %td= f.check_box :mandatory, autofocus: false
              %p
                .form-actions
                  = f.submit @cbt_training_test.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
                  = link_to t('buttons.back'), :back, :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.back")
            %td{:style=>"vertical-align: top;"}
              - if @cbt_training_test.errors.any?
                #error_explanation
                  .alert.alert-danger.shadow
                    %h4= "#{I18n.t :error, count: @cbt_training_test.errors.count} не #{I18n.t :pozvol, count: @cbt_training_test.errors.count} сохранить запись:"
                  .shadow-sm.p-3.mb-5.bg-white.rounded
                    %ul
                      - @cbt_training_test.errors.full_messages.each do |message|
                        %li= message
