-if !@cbt_training_tests.nil?
  %p
    = I18n.t :cbt_training_test, count: @cbt_training_tests.count

-if @cbt_training_tests.count > 20
  .apple_pagination
    = will_paginate @cbt_training_tests

-#name, code, created_at, updated_at, short_name, fisgia9code, fisgia11code
                        %th= t("cbt_questions_set_questions.cbt_subject_id")
                        %td= f.collection_select :cbt_questions_set_id, @cbt_question_sets, :id, :name, prompt: true, placeholder: t('mouos.cbt_subject_id')
                      %tr
                        %th= t("cbt_questions_set_questions.cbt_question_id")
%p
  %table.styled-table{:style=>"width:100%;"}
    %thead
      %th= t("cbt_training_tests.code")
      %th= t("cbt_training_tests.cbt_training_id")
      %th= t("cbt_training_tests.cbt_test")
      %th= t("cbt_training_tests.sort_by")
      %th= t("cbt_training_tests.mandatory")
      -if current_user.admin?
        %th= t("cbt_training_tests.actions.title")
    %tbody
      - @cbt_training_tests.each do |row|
        -if can? :read, row
          %tr
            %td= row.id.to_s
            %td= row.cbt_training
            %td= row.cbt_test
            %td= row.sort_by
            %td= bool_to_word(row.mandatory)
            -if current_user.admin?
              %td
                - if can? :edit, row
                  = link_to edit_cbt_training_test_path(row) do
                    = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
                - if (can? :edit, row) and  (can? :delete, row)
                  = "  "
                - if can? :delete, row
                  = link_to cbt_training_test_path(row), :method => :delete,  data: { confirm: t('cbt_training_tests.delete_confirm')} do
                    = image_tag('trash.png', size: "24", :tooltip=>t("delete"))

-if @cbt_training_tests.count > 20
  .apple_pagination
    = will_paginate @cbt_training_tests