.row
  .span9
    %h3.pull-left
      .text3d= t("cbt_training_tests.list.title")
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag cbt_training_tests_path, :method => 'get', :id => "cbt_training_tests_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = image_tag('find.png', size: "34")
                  = "искать"
          %td
            - if can? :create, CbtTrainingTest
              = link_to new_cbt_training_test_path, class: "btn btn-light" do
                = image_tag('create_new.png', size: "34")
                = "создать"
            - if (can? :create, CbtTrainingTest) and (can? :export, CbtTrainingTest)
              =" | "
            - if can? :export, CbtTrainingTest
              = link_to cbt_training_tests_export_path + '.xlsx', class: "btn btn-light" do
                = image_tag('download.png', size: "34")
                = "скачать"
            - if (can? :export, CbtTrainingTest) and (can? :import, CbtTrainingTest)
              =" | "
            - if can? :import, CbtTrainingTest
              = link_to new_cbt_training_tests_import_path, class: "btn btn-light" do
                = image_tag('upload.png', size: "34")
                = "импорт"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}