%h4= t("manuals.edit.title")

= form_for @manual do |f|
  .form-group
    %table
      %tr
        %td= t("manuals.model")
        %td= f.text_field :model, autofocus: false, placeholder: t("manuals.model"), class: 'form-control'
      %tr
        %td= t("manuals.url")
        %td= f.text_field :url, autofocus: false, placeholder: t("manuals.url"), class: 'form-control'
      %tr
        %td= t("manuals.sort_by")
        %td= f.number_field :sort_by, autofocus: false, placeholder: t("manuals.sort_by"), class: 'form-control'
      %tr
    %h5=t("manuals.manual_text")
    .field{"data-controller" => "rich-text-table"}
      =f.rich_text_area :manual_text
  .form-actions
    = f.submit @manual.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
    = link_to t("buttons.cancel"), {:action => 'index'}