.results-count.clear
  =t("messages.search.find_results")
  =@manuals.count

-if @manuals.count > 10
  .apple_pagination
    = will_paginate @manuals

%table.table.table-bordered
  %thead
    %th= t("manuals.id")
    %th= t("manuals.model")
    %th= t("manuals.url")
    %th= t("manuals.sort_by")
    %th= t("manuals.recomendation")
  %tbody
    - @manuals.each do |pr|
      %tr
        %td= pr.id.to_s
        %td= link_to pr.model.to_s, manual_path(pr)
        %td= link_to pr.url.to_s, manual_path(pr)
        %td= link_to pr.sort_by.to_s, manual_path(pr)
        %td= link_to truncate(pr.manual_text.to_plain_text, :length=>60), manual_path(pr)
        %td
          = link_to edit_manual_path(pr), :title => t("buttons.edit") do
            = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
          = link_to manual_path(pr), :method => :delete, :title => t("buttons.delete") do
            = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @manuals.count > 10
  .apple_pagination
    = will_paginate @manuals