.row
  .span9
    %h3.pull-left= t("manuals.list.title")
    -# = render_notice
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag manuals_path, :method => 'get', :id => "manual_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = bootstrap_icon "search", width: 25, height: 25, fill: "blue"
          %td
            - if can? :create, Manual
              = link_to new_manual_path, class: "btn btn-light" do
                = bootstrap_icon "file-plus", width: 15, height: 15, fill: "blue"
            -# - if can? :export, Manual
            -#   = link_to manuals_export_path + '.xlsx', class: "btn btn-light" do
            -#     = bootstrap_icon "download", width: 15, height: 15, fill: "blue"
            -# - if can? :create, Manual
            -#   = link_to new_manuals_import_path, class: "btn btn-light" do
            -#     = bootstrap_icon "upload", width: 15, height: 15, fill: "blue"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}