%h1=t("manuals.title")
%table
  %tr
    %td= t('manuals.model')
    %td= best_in_place @manual, :model, :as => :select
  %tr
    %td= t('manuals.url')
    %td= best_in_place @manual, :url, :as => :select
  %tr
    %td= t('manuals.sort_by')
    %td= best_in_place @manual, :sort_by, :as => :input
  %tr
    %td= t('manuals.manual_text')
    %td= @manual.formatted_body

%div
  = link_to t("buttons.back"), manuals_path, :class => "btn btn-primary btn-mini"
