%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
  %body
    %h4
      .text3d= t("subjects.actions.edit")
    = form_for @subject do |f|
      .form-group
        .alert.alert-info{:role => "alert"}
          ="Внимание! На данной странице"
          %b
            ="не выполняется"
          ="автоматическое сохранение."
          %br
          ="Вы можете в любой момент нажать «Вернуться», чтобы отменить все сделанные изменения."
          %br
          ="Для применения изменений, служит кнопка «Сохранить»."
        -#name, code, created_at, updated_at, short_name, fisgia9code, fisgia11code

        %table.table-borderless
          %tr
            %td{:style=>"vertical-align: top;"}
              .card
                .card-header
                  Карточка типа образовательной организации
                .card-body
                  %h5.card-title Тип образовательной организации
                  %p.card-text
                    %table.table-bordered.table-striped
                      %tr
                        %th= t("subjects.code")
                        %td= f.number_field :code, autofocus: false, placeholder: t("subjects.code"), class: 'form-control'
                      %tr
                        %th= t("subjects.name")
                        %td= f.text_field :name, autofocus: false, placeholder: t("subjects.name"), class: 'form-control'
                      %tr
                        %th= t("subjects.short_name")
                        %td= f.text_field :short_name, autofocus: false, placeholder: t("subjects.short_name"), class: 'form-control'
                      %tr
                        %th= t("subjects.fisgia9code")
                        %td= f.number_field :fisgia9code, autofocus: false, placeholder: t("subjects.fisgia9code"), class: 'form-control'
                      %tr
                        %th= t("subjects.fisgia11code")
                        %td= f.number_field :fisgia11code, autofocus: false, placeholder: t("subjects.fisgia11code"), class: 'form-control'
                      %tr
                        %th= t("subjects.sort_by")
                        %td= f.number_field :sort_by, autofocus: false, placeholder: t("subjects.sort_by"), class: 'form-control'
                      %tr
                        %th= t("subjects.protocol11_max_balls")
                        %td= f.text_field :protocol11_max_balls
                      %tr
                        %th= t("subjects.protocol11_col_names")
                        %td= f.text_field :protocol11_col_names
                      %tr
                        %th= t("subjects.protocol9_max_balls")
                        %td= f.text_field :protocol9_max_balls
                      %tr
                        %th= t("subjects.protocol9_col_names")
                        %td= f.text_field :protocol9_col_names
                      %tr
                        %th= t("subjects.norm_9")
                        %td= f.number_field :norm_9
                      %tr
                        %th= t("subjects.norm_11")
                        %td= f.number_field :norm_11


              %p
                .form-actions
                  = f.submit @subject.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
                  = link_to t('buttons.back'), :back, :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.back")
            %td{:style=>"vertical-align: top;"}
              - if @subject.errors.any?
                #error_explanation
                  .alert.alert-danger.shadow
                    %h4= "#{I18n.t :error, count: @subject.errors.count} не #{I18n.t :pozvol, count: @subject.errors.count} сохранить запись:"
                  .shadow-sm.p-3.mb-5.bg-white.rounded
                    %ul
                      - @subject.errors.full_messages.each do |message|
                        %li= message
