body, input {
    color: #555;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

input, button {
    outline: none;
}

.address {
    z-index:99999999;
    width: 485px;
    margin: 40px auto 0;
    padding: 40px 40px 30px;
    border: 2px solid #e1e1e1;
    background-color: #f7f7f7;
    box-shadow: rgba(0, 0, 0, 0.075) 1px 1px 5px;
}

.address h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.field {
    margin-bottom: 10px;
    padding: 0;
}

.field .group-name {
    margin-top: 25px;
    margin-bottom: 5px;
}

.field input {
    height: 2em;
    width: 470px;
    border: 1px solid #d8d8d8;
    padding: 0 7px;
    color: #666;
}

.field [type="radio"] {
    height: 1.5em;
    width: 20px;
    vertical-align: middle;
}

.addition {
    padding-top: 15px;
    position: fixed;
}

.addition .block {
    display: block;
    min-height: 170px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #fcfcfc;
    border: 1px solid #d8d8d8;
    font-size: 13px;
    width: 445px;
}

.addition .title {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    margin-bottom: 10px;
}

.addition ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.addition li {
    margin-bottom: 5px;
}

.addition .name {
    font-style: italic;
}

.suggestions-wrapper {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: fixed;
    vertical-align: top;
}