%body
  %p{:align=>"right"}
    ="#{@cbt_training.id}-#{current_user.id}"
         
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  -if @cbt_training.nil?
    ="Не определён тренинг"
  -else
    -sw = SchoolWorker.where(:online_login => current_user.first_name).first
    -ob = Observer.where(:user_id => current_user.id).first
    -st = Student.where(:id => current_user.target_id).first
    -fio = nil
    -if !sw.nil?
      -fio = "#{sw.second_name} #{sw.first_name} #{sw.middle_name}"
    -elsif !ob.nil?
      -fio = "#{ob.second_name} #{ob.first_name} #{ob.middle_name}"
    -elsif !st.nil?
      -fio = "#{st.second_name} #{st.first_name} #{st.middle_name}"
    -if fio.nil?
      -fio = current_user.first_name
    -cbt_training_tests = CbtTrainingTest.where(:cbt_training_id => @cbt_training).order("sort_by")
    %center
      %h2=fio
      ="участвовал в тренинге"
      %b
        ="«#{@cbt_training.name}»."
    %br
    -#%h4="Список разделов тренинга"
    -proshel = false
    %table.table-striped.table-bordered
      %tr
        %th=""
        %th="Раздел тренинга"
        %th="Использовано попыток"
        %th="Максимальный набранный балл"
        %th="Доля от максимального балла"
        -if @cbt_training.for_experts
          %th="Расхождение на 2 и более балла"
        %th=""
      -i=0
      -cbt_training_tests.each do |tt|
        -i+=1
        -cbt_test = CbtTest.find(tt.cbt_test_id)
        -cbt_user_tests = CbtUserTest.where(:user_id => current_user.id, :cbt_test_id => cbt_test.id)
        -begin
          -@max_primary_mark = cbt_user_tests.map(&:primary_mark).max
          -@max_mark100 = cbt_user_tests.map(&:mark100).max
          -@max_description = CbtUserTest.where(:primary_mark => @max_primary_mark).order("description DESC").first.description
        -rescue
          -@max_primary_mark = 0
          -@max_mark100 = 0
          -@max_description = '0'

        -if !@max_description.nil?
          -@max_description = @max_description.strip.split(/\s+/)[0]
        -if @max_mark100.nil?
          -@max_mark100 = 0
        -if tt.mandatory == true
          -begin
            -if @cbt_training.for_employees and @max_mark100 >= 75
              -proshel = true
            -if @cbt_training.for_employees and @max_mark100 < 75
              -proshel = false
            -if @cbt_training.for_experts
              -proshel = true
            -if @cbt_training.for_observers and @max_mark100 >= 75
              -proshel = true
          -rescue
            -proshel = false
        %tr
          %td
                 
          %td
            =cbt_test.name
          %td
            %center
              =cbt_user_tests.count
          %td
            %center
              -if !@max_primary_mark.nil?
                =@max_primary_mark
              -else
                ="-"
          %td
            %center
              =@max_mark100
          -if @cbt_training.for_experts
            %td
              %center
                =@max_description
          %td
                 
  %br
  %br
  %br
            
  -if proshel == true
    ="Тренинг освоен успешно."
  -else
    ="Минимальный порог не преодолён."
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
