/*! CSS Used from: https://edu.gia66.ru/sites/default/files/css/css_GYyyXyqwgLPXavAv7kclNKKtQNoTPuSmKh64OLLDb_s.css ; media=all */
@media all{
  *,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box;}
  p{margin-top:0;margin-bottom:1rem;}
  b{font-weight:bolder;}
  a{color:#009ee0;text-decoration:none;background-color:transparent;}
  a:hover{color:#006894;text-decoration:underline;}
  img{border-style:none;}
  img{vertical-align:middle;}
  body.page-catalogue div#main-content .view .view-content .views-row{position:relative;width:100%;padding-right:15px;padding-left:15px;}
  @media (min-width:576px){
    body.page-catalogue div#main-content .view .view-content .views-row{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%;}
  }
  .mb-2{margin-bottom:.5rem!important;}
  @media print{
    *,:after,:before{text-shadow:none!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
    a:not(.btn):not([type=reset]):not([type=submit]):not([type=button]):not(a.button):not(button){text-decoration:underline;}
    img{page-break-inside:avoid;}
    p{orphans:3;widows:3;}
  }
  img{max-width:100%;min-height:1px;height:auto;}
  body.page-catalogue div#main-content .view .view-content .views-row{margin-bottom:32px;}
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content{background-color:#f8f7f5;padding:1rem .5rem 0;height:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;border-top:.5rem solid #95d5f4;position:relative;}
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content a{color:inherit;text-decoration:none;-webkit-box-flex:1;-ms-flex:1 0 auto;flex:1 0 auto;}
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .views-field{background-color:#fff;padding:0 1rem;}
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .views-field .field-content>:last-child{margin-bottom:0;}
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .views-field-opigno-lp-progress{color:#b3b3b2;text-align:right;padding-bottom:.5rem;}
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .views-field-opigno-lp-progress .chart{width:65px;height:2px;background-color:#dadada;margin-left:auto;}
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .views-field-opigno-lp-progress .chart .bar{height:2px;background-color:#efa693;}
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .not-take-link-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;}
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .not-take-link-wrapper .views-field-field-learning-path-media-image{padding:0;margin-left:-.5rem;margin-right:-.5rem;top:-1rem;position:relative;}
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .not-take-link-wrapper .views-field-field-learning-path-media-image .field-content{position:relative;display:block;width:100%;padding:0;overflow:hidden;}
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .not-take-link-wrapper .views-field-field-learning-path-media-image .field-content:before{display:block;content:"";padding-top:62.38532%;}
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .not-take-link-wrapper .views-field-field-learning-path-media-image .field-content img{width:100%;height:100%;position:absolute;top:0;bottom:0;left:0;}
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .not-take-link-wrapper .text-wrapper{-webkit-box-flex:1;-ms-flex:1 0 auto;flex:1 0 auto;background-color:#fff;}
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .not-take-link-wrapper .text-wrapper .views-field-field-learning-path-category{color:#b3b3b2;padding-top:.5rem;}
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .not-take-link-wrapper .text-wrapper .views-field-label{text-transform:uppercase;font-weight:700;padding-bottom:.5rem;}
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .not-take-link-wrapper .text-wrapper .views-field-field-learning-path-description{padding-bottom:.5rem;-webkit-box-flex:1;-ms-flex:1 0 auto;flex:1 0 auto;}
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .views-field-opigno-lp-take-link{margin-left:-.5rem;margin-right:-.5rem;padding:0;position:relative;z-index:1;}
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .views-field-opigno-lp-take-link a{text-align:center;padding:12px 20px;height:48px;display:block;text-decoration:none;text-transform:uppercase;background-color:#dadada;color:#70706f;}
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content .views-field-opigno-lp-take-link a:hover{background-color:#c2e76b;color:#fff;}
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content.is-not-member .not-take-link-wrapper:after{content:"";background-color:#000;opacity:.3;position:absolute;top:-.5rem;bottom:0;right:0;left:0;}
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content.is-not-member .views-field-opigno-lp-take-link a{background-color:#c2e76b;color:#fff;}
  body.page-catalogue div#main-content .view .view-content .views-row .fields-content.is-not-member .views-field-opigno-lp-take-link a:hover{background-color:#b9e355;}
}