%p
  Добро пожаловать #{@email}!
%p Вы можете подтвердить email своего аккаунта по ссылке ниже:
%p= link_to 'Подтвердить email моего аккаунта', confirmation_url(@resource, confirmation_token: @token)

%p После подтверждения вы сможете начать работу в системе.
%p Спасибо за регистрацию! Желаем Вам удачи!