%p
  Здравствуйте, #{@resource.email}!
%p Ваш аккаунт был заблокирован из-за превышения количества попыток авторизации.
%p Перейдите по указанной ниже ссылке для разблокировки вашего аккаунта:
%p= link_to 'Разблокировать мой аккаунт ', unlock_url(@resource, unlock_token: @token)
