%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
  %body
    %h4
      .text3d= t("cbt_questions_sets.actions.edit")
    = form_for @cbt_questions_set do |f|
      .form-group
        .alert.alert-info{:role => "alert"}
          ="Внимание! На данной странице"
          %b
            ="не выполняется"
          ="автоматическое сохранение."
          %br
          ="Вы можете в любой момент нажать «Вернуться», чтобы отменить все сделанные изменения."
          %br
          ="Для применения изменений, служит кнопка «Сохранить»."
        -#:name, :description, :shuffle, :cbt_subject_id, :deleted_at, :description_text

        %table.table-borderless
          %tr
            %td{:style=>"vertical-align: top;"}
              .card
                .card-header
                  Карточка набора вопросов
                .card-body
                  %h5.card-title Набор вопросов
                  %p.card-text
                    %table.table-bordered.table-striped
                      %tr
                        %th= t("cbt_questions_sets.name")
                        %td= f.text_field :name, autofocus: false, placeholder: t("cbt_questions_sets.name"), class: 'form-control'
                      %tr
                        %th= t("cbt_questions_sets.short_name")
                        %td= f.text_field :description, autofocus: false, placeholder: t("cbt_questions_sets.short_name"), class: 'form-control'
                      %tr
                        %th= t("cbt_questions_sets.shuffle")
                        %td= f.check_box :shuffle, autofocus: false
                      %tr
                        %th= t("cbt_questions_sets.cbt_subject_id")
                        %td= f.collection_select :cbt_subject_id, @cbt_subjects, :id, :name, prompt: true, placeholder: t('mouos.cbt_subject_id')
                      %tr
                        %td= t("cbt_questions_sets.help_pdf_file")
                        %td= picture_upload_group2 f, :help_pdf_file
                      %tr
                        %td{:colspan=>2}
                          %h5=t("cbt_questions_sets.description_text")
                          .field{"data-controller" => "rich-text-table"}
                            =f.rich_text_area :description_text

                  %p
                .form-actions
                  = f.submit @cbt_questions_set.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
                  = link_to t('buttons.back'), :back, :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.back")
            %td{:style=>"vertical-align: top;"}
              - if @cbt_questions_set.errors.any?
                #error_explanation
                  .alert.alert-danger.shadow
                    %h4= "#{I18n.t :error, count: @cbt_questions_set.errors.count} не #{I18n.t :pozvol, count: @cbt_questions_set.errors.count} сохранить запись:"
                  .shadow-sm.p-3.mb-5.bg-white.rounded
                    %ul
                      - @cbt_questions_set.errors.full_messages.each do |message|
                        %li= message
