-if !@cbt_questions_sets.nil?
  %p
    = I18n.t :cbt_questions_set, count: @cbt_questions_sets.count

-if @cbt_questions_sets.count > 20
  .apple_pagination
    = will_paginate @cbt_questions_sets

-#name, code, created_at, updated_at, short_name, fisgia9code, fisgia11code
-#:name, :description, :shuffle, :cbt_subject_id, :deleted_at, :description_text

%p
  %table.styled-table{:style=>"width:100%;"}
    %thead
      %th= t("cbt_questions_sets.code")
      %th= t("cbt_questions_sets.name")
      %th= t("cbt_questions_sets.cbt_subject_id")
      %th= t("cbt_questions_sets.description")
      %th= t("cbt_questions_sets.shuffle")
      %th= "Количество связанных вопросов"
      -if current_user.admin?
        %th= t("cbt_questions_sets.actions.title")
    %tbody
      - @cbt_questions_sets.each do |row|
        -if can? :read, row
          %tr
            %td= row.id.to_s
            %td= link_to row.name.to_s, cbt_questions_set_path(row)
            %td= row.cbt_subject
            %td= row.description
            %td= bool_to_word(row.shuffle)
            %td
              = CbtQuestion.where(:id => CbtQuestionSetQuestion.where(:cbt_questions_set_id => row.id).map(&:cbt_question_id)).count
            -if current_user.admin?
              %td
                - if can? :edit, row
                  = link_to edit_cbt_questions_set_path(row) do
                    = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
                - if (can? :edit, row) and  (can? :delete, row)
                  = "  "
                - if can? :delete, row
                  = link_to cbt_questions_set_path(row), :method => :delete,  data: { confirm: t('cbt_questions_sets.delete_confirm')} do
                    = image_tag('trash.png', size: "24", :tooltip=>t("delete"))

-if @cbt_questions_sets.count > 20
  .apple_pagination
    = will_paginate @cbt_questions_sets