.row
  .span9
    %h3.pull-left
      .text3d= t("cbt_questions_sets.list.title")
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag cbt_questions_sets_path, :method => 'get', :id => "cbt_questions_sets_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = image_tag('find.png', size: "34")
                  = "искать"
          %td
            - if can? :create, CbtQuestionsSet
              = link_to new_cbt_questions_set_path, class: "btn btn-light" do
                = image_tag('create_new.png', size: "34")
                = "создать"
            - if (can? :create, CbtQuestionsSet) and (can? :export, CbtQuestionsSet)
              =" | "
            - if can? :export, CbtQuestionsSet
              = link_to cbt_questions_sets_export_path + '.xlsx', class: "btn btn-light disabled" do
                = image_tag('download.png', size: "34")
                = "скачать"
            - if (can? :export, CbtQuestionsSet) and (can? :import, CbtQuestionsSet)
              =" | "
            - if can? :import, CbtQuestionsSet
              = link_to new_cbt_questions_sets_import_path, class: "btn btn-light disabled" do
                = image_tag('upload.png', size: "34")
                = "импорт"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}