.row
  .span9
    %h3.pull-left
      .text3d= "Набор вопросов"
      -# =@cbt_questions_set.inspect
      %table.styled-table{:style=>"width:100%;"}
        %thead
          %tr
            %th{:style=>"width:350px;"}= "Параметр"
            %th= "Значение"
        %tbody
          %tr
            %td= t("cbt_questions_sets.name")
            %td=best_in_place @cbt_questions_set, :name
          %tr
            %td= t("cbt_questions_sets.short_name")
            %td=best_in_place @cbt_questions_set, :description
          %tr
            %td= t("cbt_questions_sets.shuffle")
            %td=best_in_place @cbt_questions_set, :shuffle, as: :checkbox, collection: {false: "Нет, перемешивание не требуется", true: "Да, требуется перемешать возможные варианты вопросов"}, :place_holder => "Нажмите для внесения сведений"
          %tr
            %td= t("cbt_questions_sets.cbt_subject_id")
            %td= best_in_place @cbt_questions_set, :cbt_subject_id, :as => :select, :collection => [%w[999 Нет]] + @cbt_subjects.map { |e| [e.id, e.name] }, :place_holder => "Нажмите для выбора"
          %tr
            %td
              = t("cbt_questions_sets.help_pdf_file")
              ="*"
            %td= @cbt_questions_set.help_pdf_file
          %tr
            %td
              = t("cbt_questions_sets.description_text")
              ="*"
            %td= @cbt_questions_set.formatted_body
          %tr
            -list = CbtQuestionSetQuestion.where(:cbt_questions_set_id => @cbt_questions_set.id).map(&:cbt_question_id)
            -list = CbtQuestion.where(:id => list)
            %th="Список связанных с набором вопросов (#{list.count})"
            %td
              -list.each do |q|
                =link_to "#{q.id} #{q.name}", "/cbt_questions/#{q.id}"
                ="; "
            -list = CbtTestQuestionSet.where(:cbt_questions_set_id => @cbt_questions_set.id).map(&:cbt_test_id)
            -list = CbtTest.where(:id => list)
          %tr
            %th="Список связанных тестов (#{list.count})"
            %td
              -list.each do |q|
                =link_to "#{q.id} #{q.name}", "/cbt_tests/#{q.id}"
                ="; "

%p
  %i
    ="* для редактирования параметра следует перейти в асинхронное редактирование; редактирование на лету невозможно"