%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
  %body
    %h4
      .text3d= t("cbt_questions.actions.edit")
    = form_for @cbt_question do |f|
      .form-group
        .alert.alert-info{:role => "alert"}
          ="Внимание! На данной странице"
          %b
            ="не выполняется"
          ="автоматическое сохранение."
          %br
          ="Вы можете в любой момент нажать «Вернуться», чтобы отменить все сделанные изменения."
          %br
          ="Для применения изменений, служит кнопка «Сохранить»."

        %table.table-borderless
          %tr
            %td{:style=>"vertical-align: top;"}
              .card
                .card-header
                  Карточка вопроса
                .card-body
                  %h5.card-title Вопрос
                  %p.card-text
                    %table.table-bordered.table-striped
                      %tr
                        %th= t("cbt_questions.name")
                        %td= f.text_field :name, autofocus: false, placeholder: t("cbt_questions_sets.name"), class: 'form-control'
                      %tr
                        %th= t("cbt_questions.cbt_subject_id")
                        %td= f.collection_select :cbt_subject_id, @cbt_subjects, :id, :name, prompt: true, placeholder: t('mouos.cbt_subject_id')
                      %tr
                        %th= t("cbt_questions.cbt_answer_type_id")
                        %td= f.collection_select :cbt_answer_type_id, @cbt_answer_types, :id, :name, prompt: true, placeholder: t('mouos.cbt_subject_id')
                      %tr
                        %th= t("cbt_questions.cbt_question_type_id")
                        %td= f.collection_select :cbt_question_type_id, @cbt_question_types, :id, :name, prompt: true, placeholder: t('mouos.cbt_subject_id')
                      %tr
                        %th= t("cbt_questions.primary_mark")
                        %td= f.number_field :primary_mark, step: :any
                      %tr
                        %th= t("cbt_questions.correct_answer")
                        %td= f.text_field :correct_answer
                      %tr
                        %th= t("cbt_questions.partial_mark")
                        %td= f.check_box :partial_mark, autofocus: false
                      %tr
                        %th= t("cbt_questions.shuffle")
                        %td= f.check_box :shuffle, autofocus: false
                      %tr
                        %th= t("cbt_questions.settings")
                        %td= f.text_field :settings, autofocus: false
                      %tr
                        %th= t("cbt_questions.k_nums")
                        %td= f.text_field :k_nums, autofocus: false
                      %tr
                        %th= t("cbt_questions.next_cbt_question_id")
                        %td= f.number_field :next_cbt_question_id, autofocus: false
                      %tr
                        %td= t("cbt_questions.pdf_file")
                        %td= picture_upload_group2 f, :pdf_file
                      %tr
                        %td= t("cbt_questions.help_pdf_file")
                        %td= picture_upload_group2 f, :help_pdf_file

                      %tr
                        %td{:colspan=>2}
                          %h5=t("cbt_questions_sets.description_text")
                          .field{"data-controller" => "rich-text-table"}
                            =f.rich_text_area :question_text
              %p
                .form-actions
                  = f.submit @cbt_question.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
                  = link_to t('buttons.back'), :back, :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.back")
            %td{:style=>"vertical-align: top;"}
              - if @cbt_question.errors.any?
                #error_explanation
                  .alert.alert-danger.shadow
                    %h4= "#{I18n.t :error, count: @cbt_question.errors.count} не #{I18n.t :pozvol, count: @cbt_question.errors.count} сохранить запись:"
                  .shadow-sm.p-3.mb-5.bg-white.rounded
                    %ul
                      - @cbt_question.errors.full_messages.each do |message|
                        %li= message
