-if !@cbt_questions.nil?
  #filterrific_results
    %p
      = I18n.t :cbt_question, count: @cbt_questions.count

    -if @cbt_questions.count > 20
      .apple_pagination
        = will_paginate @cbt_questions

    %p
      %table.styled-table{:style=>"width:100%;"}
        %thead
          %th= t("cbt_questions.id")
          %th= t("cbt_questions.name")
          %th= t("cbt_questions.cbt_subject_id")
          %th= t("cbt_questions.cbt_answer_type_id")
          %th= t("cbt_questions.cbt_question_type_id")
          %th= t("cbt_questions.next_cbt_question")
          -if current_user.admin?
            %th= t("cbt_questions_sets.actions.title")
        %tbody
          - @cbt_questions.each do |row|
            -if can? :read, row
              %tr
                %td= row.id.to_s
                %td= link_to row.name.to_s, cbt_question_path(row)
                %td= row.cbt_subject
                %td= row.cbt_answer_type
                %td= row.cbt_question_type
                %td= row.next_cbt_question_id
                -if current_user.admin?
                  %td
                    - if can? :edit, row
                      = link_to edit_cbt_question_path(row) do
                        = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
                    - if (can? :edit, row) and  (can? :delete, row)
                      = "  "
                    - if can? :delete, row
                      = link_to cbt_question_path(row), :method => :delete,  data: { confirm: t('cbt_questions.delete_confirm')} do
                        = image_tag('trash.png', size: "24", :tooltip=>t("delete"))

    -if @cbt_questions.count > 20
      .apple_pagination
        = will_paginate @cbt_questions
-else
  #filterrific_results
    %p По Вашему запросу ничего не найдено