.row
  .span9
    %h3.pull-left
      .text3d= t("cbt_questions.list.title")
    %span.top-panel-actions
      = form_for_filterrific @filterrific do |f|
        %table.slim-table.borderless{:style=>"width:100%;"}
          %tr
            %td
              .input-group.rounded
                %input.form-control.rounded{"aria-describedby" => "search-addon", "aria-label" => "Search", :placeholder => 'Наименование вопроса', :value=>@filterrific.search_query, :type => t('Search'), autocomplete: 'off', class: 'filterrific-periodically-observed', id: 'filterrific_search_query', name: 'filterrific[search_query]'}/
                %span#search-addon.input-group-text.border-0
                  %i.fas.fa-search
            %td
              - if can? :create, CbtQuestion
                = link_to new_cbt_question_path, class: "btn btn-light" do
                  = image_tag('create_new.png', size: "34")
                  = "создать"
              - if (can? :create, CbtQuestion) and (can? :export, CbtQuestion)
                =" | "
              - if can? :export, CbtQuestion
                = link_to '/cbt_questions/export.xlsx', class: "btn btn-light" do
                  = image_tag('download.png', size: "34")
                  = "скачать"
              - if (can? :export, CbtQuestion) and (can? :import, CbtQuestion)
                =" | "
              - if can? :import, CbtQuestion
                = link_to new_cbt_questions_import_path, class: "btn btn-light" do
                  = image_tag('upload.png', size: "34")
                  = "импорт"
          %tr
            %td
              .form-control-sm
                \#{f.select( :with_subject_id, @filterrific.select_options[:with_subject_id], { include_blank: '- Любой предмет -' }, {style: 'width:450px;'} )}
            %td
              .form-control-sm
                \#{f.select( :with_test_id, @filterrific.select_options[:with_test_id], { include_blank: '- Любой тест -' }, {style: 'width:450px;'} )}
          %tr
            %td
              .form-control-sm
                \#{f.select( :with_training_id, @filterrific.select_options[:with_training_id], { include_blank: '- Любой тренинг -' }, {style: 'width:450px;'} )}
            %td
              .form-control-sm
                \#{f.check_box( :no_question_sets)}
                Не привязан ни к одному набору вопросов
          %tr
            %td{:colspan=>2}
              = link_to 'Сбросить фильтр', reset_filterrific_url, class: 'btn btn-warning'
              = f.submit 'Применить фильтр', class: 'btn btn-success'


      %p
        = render_filterrific_spinner
        = render(partial: 'list', locals: { cbt_questions: @cbt_questions })