-if !@cbt_question.nil?
  .span9
    %h3.pull-left
      .text3d="Предварительный просмотр задания с ID #{@cbt_question.id}"
    .apple_pagination

    .div
      .card
        .alert.alert-primary{:role => "alert"}
          %table.table-borderless{:style=>"width:100%;"}
            %tr
              %td
                ="#{@cbt_question.name}"
              %td
                %center
                  %b
                  -if !@cbt_question.help_pdf_file.nil?
                    -if !@cbt_question.help_pdf_file.file.nil?
                      -help_pdf_file = @cbt_question.help_pdf_file.file.path
                      -help_pdf_file = help_pdf_file.match('public.uploads.*')[0].gsub('public', '')
                      -help_pdf_file2="/uploads/cbt_trainings_pdfs/"+"#{@cbt_question.help_pdf_file}".split('/')[-1]+".pdf"
                      -help_pdf_file2=help_pdf_file2.squish.downcase.gsub('.pdf.pdf', '.pdf')
                      -if File.exist?("#{Rails.public_path}#{help_pdf_file2}")
                        -help_pdf_file = help_pdf_file2
                      -if File.exist?("#{Rails.public_path}#{help_pdf_file}")
                        =link_to "Скачать справочные материалы", help_pdf_file, target: :_blank
                      -else
                        ="Не выложен файл #{help_pdf_file2}"

              %td
                %right
                  %input{"data-disable-with" => "Сохранить ответ", name: "commit", type: "submit", value: "Сохранить ответ"}/
        .card-body
          =render :partial => "/cbt_questions/questions/top_question_type_id_#{@cbt_question.cbt_question_type_id}", :locals => {:cbt_question => @cbt_question}
          =render :partial => "/cbt_questions/answers/answer_type_id_#{@cbt_question.cbt_answer_type_id}", :locals => {:cbt_question => @cbt_question}
          =render :partial => "/cbt_questions/questions/bottom_question_type_id_#{@cbt_question.cbt_question_type_id}", :locals => {:cbt_question => @cbt_question}
-else
  %p=""