.row
  .span9
    %h3.pull-left
      %table.table-borderless{:style=>"width:100%;"}
        %tr
          %td{:style=>"width:95%;"}
            .text3d= "Вопрос №#{@cbt_question.id} #{@cbt_question.name}"
          %td
            %right
              - if can? :edit, @cbt_question
                = link_to edit_cbt_question_path(@cbt_question) do
                  = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
      %hr
      %table.styled-table{:style=>"width:100%;"}
        %thead
          %tr
            %th{:style=>"width:350px;"}= "Параметр"
            %th= "Значение"
        %tbody
          %tr
            %td= t("cbt_questions.name")
            %td=best_in_place @cbt_question, :name
          %tr
            %td= t("cbt_questions.cbt_subject_id")
            %td= best_in_place @cbt_question, :cbt_subject_id, :as => :select, :collection => [%w[999 Нет]] + @cbt_subjects.map { |e| [e.id, e.name] }, :place_holder => "Нажмите для выбора"
          %tr
            %td= t("cbt_questions.cbt_answer_type_id")
            %td= best_in_place @cbt_question, :cbt_answer_type_id, :as => :select, :collection => [%w[999 Нет]] + @cbt_answer_types.map { |e| [e.id, e.name] }, :place_holder => "Нажмите для выбора"
          %tr
            %td= t("cbt_questions.cbt_question_type_id")
            %td= best_in_place @cbt_question, :cbt_question_type_id, :as => :select, :collection => [%w[999 Нет]] + @cbt_question_types.map { |e| [e.id, e.name] }, :place_holder => "Нажмите для выбора"
          %tr
            %td= t("cbt_questions.primary_mark")
            %td= best_in_place @cbt_question, :primary_mark
          %tr
            %td= t("cbt_questions.correct_answer")
            %td= best_in_place @cbt_question, :correct_answer
          %tr
            %td= t("cbt_questions.partial_mark")
            %td=best_in_place @cbt_question, :partial_mark, as: :checkbox, collection: {false: "Нет, оценивание бинарное", true: "Да, возможно частичное оценивание"}, :place_holder => "Нажмите для внесения сведений"
          %tr
            %td= t("cbt_questions.shuffle")
            %td=best_in_place @cbt_question, :shuffle, as: :checkbox, collection: {false: "Варианты ответов не перемешиваются", true: "Варианты ответов будет перемешаны"}, :place_holder => "Нажмите для внесения сведений"
          %tr
            %td= t("cbt_questions.settings")
            %td=best_in_place @cbt_question, :settings
          %tr
            %td= t("cbt_questions.next_cbt_question_id")
            %td=best_in_place @cbt_question, :next_cbt_question_id
          %tr
            %td= t("cbt_questions.pdf_file")
            %td=best_in_place @cbt_question, :pdf_file
          %tr
            %td= t("cbt_questions.help_pdf_file")
            %td=best_in_place @cbt_question, :help_pdf_file
          %tr
            %td
              =t("cbt_questions_sets.description_text")
              ="*"
            %td= @cbt_question.formatted_body

%p
  %i
    ="* для редактирования параметра следует перейти в асинхронное редактирование; редактирование на лету невозможно"

%p
  =link_to 'Предварительный просмотр', "/cbt_questions/#{@cbt_question.id}/preview"