!!!
%html
  -if ['127.0.0.1', '192.168.18.233', '192.168.29.213', '192.168.29.170', '192.168.16.101', '192.168.16.150', '127.0.0.1', '192.168.18.155', '192.168.18.150', '192.168.29.79'].include?(request.remote_ip.to_s) or SiteInfo.find(1).is_close == false
    - if user_signed_in?
      -if (current_user.ous_role? or  current_user.mouo_role? or current_user.admin?)
        %head
          %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
          = render 'shared/head'
          = favicon_link_tag asset_path('favicon.ico')
          = csrf_meta_tags
        %body
          = render 'shared/navbar'
          = render 'shared/notices'
          #modal-holder
          .container
            = yield
          = render 'shared/footer'
      -else
        %head
          %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
          = render 'open/head'
          = favicon_link_tag asset_path('favicon.ico')
          = csrf_meta_tags
        %body
          = render 'open/navbar'
          = render 'open/notices'
          #modal-holder
          .container
            = yield
          = render 'open/footer'

    -else

      %head
        %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
        = render 'shared/head'
        = favicon_link_tag asset_path('favicon.ico')
        = csrf_meta_tags
      %body
        = render 'shared/navbar'
        = render 'shared/notices'
        #modal-holder
        .container
          = yield
        = render 'shared/footer'
  -else
    %head
      %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
      = render 'open/head'
      = favicon_link_tag asset_path('favicon.ico')
      = csrf_meta_tags
    %body
      = render 'open/navbar'
      = render 'open/notices'
      #modal-holder
      .container
        = yield
      = render 'open/footer'



