<!DOCTYPE html>
<html>
<head>
  <title>Протокол сформирован в РИС ОКО: модуль проведения ГИА</title>
  <%= wicked_pdf_stylesheet_link_tag "protocol" %>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
<%= yield %>
</body>
</html>