!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %link{:href => "/bs460/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/bs460/bootstrap-select.css", :rel => "stylesheet"}/
    %script{:src => "/bs460/jquery.min.js"}
    %script{:src => "/bs460/bootstrap.min.js"}
    %script{:src => "/bs460/bootstrap-select.js"}
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
  %body
    %h4
      .text3d= t("experts.actions.edit")
    = form_for @expert do |f|
      .form-group
        .alert.alert-info{:role => "alert"}
          ="Внимание! На данной странице"
          %b
            ="не выполняется"
          ="автоматическое сохранение."
          %br
          ="Вы можете в любой момент нажать «Вернуться», чтобы отменить все сделанные изменения."
          %br
          ="Для применения изменений, служит кнопка «Сохранить»."

        %table.table-borderless
          %tr
            %td{:style=>"vertical-align: top;"}

              .card
                .card-header
                  Персональные данные эксперта
                .card-body
                  -#%h5.card-title Тип образовательной организации
                  %p.card-text
                    %table.table-bordered.table-striped

                      %tr
                        %th= t("experts.surname")
                        %th= f.text_field :surname, autofocus: false, class: 'form-control'

                      %tr
                        %th= t("experts.name")
                        %th= f.text_field :name, autofocus: false, class: 'form-control'

                      %tr
                        %th= t("experts.second_name")
                        %th= f.text_field :second_name, autofocus: false, class: 'form-control'

                      %tr
                        %th= t("experts.code")
                        %th= f.text_field :code, autofocus: false, class: 'form-control'

                      -if current_user.admin?
                        %tr
                          %th= t("experts.is_ege")
                          %td= control_group f, :is_ege, :select, bool_select_array(:is_ege),
                                                    {:include_blank => true, :selected => @expert.is_ege},
                                                    {:class => "simple-chosen","data-placeholder" => t("helpers.placeholder.default")}
                        %tr
                          %th= t("experts.online_login")
                          %th= f.text_field :online_login, autofocus: false, class: 'form-control'
                        %tr
                          %th= t("experts.online_password")
                          %th= f.text_field :online_password, autofocus: false, class: 'form-control'
                      -else
                        %tr
                          %th= t("experts.is_ege")
                          -if @expert.is_ege
                            %td="Привлекается к работе региональных предметных комиссий ЕГЭ"
                          -else
                            %td="Не привлекается"
                        %tr
                          %th= t("experts.online_login")
                          %th= @expert.online_login
                        %tr
                          %th= t("experts.online_password")
                          %th= @expert.online_password

              %br

            %td{:style=>"vertical-align: top;"}
              - if @expert.errors.any?
                #error_explanation
                  .alert.alert-danger.shadow
                    %h4= "#{I18n.t :error, count: @expert.errors.count} не #{I18n.t :pozvol, count: @expert.errors.count} сохранить запись:"
                  .shadow-sm.p-3.mb-5.bg-white.rounded
                    %ul
                      - @expert.errors.full_messages.each do |message|
                        %li= message



          %tr

            %td{:style=>"vertical-align: top;"}

              .card
                .card-header
                  Работа на ГИА-9
                .card-body
                  -#%h5.card-title Тип образовательной организации
                  %p.card-text
                    %table.table-bordered.table-striped

                      %tr
                        %th= t("experts.took_part_in_OGE_appeal_comission")
                        %td= control_group f, :took_part_in_OGE_appeal_comission, :select, bool_select_array(:took_part_in_OGE_appeal_comission),
                                                    {:include_blank => false, :selected => @expert.took_part_in_OGE_appeal_comission},
                                                    {:class => "simple-chosen","data-placeholder" => t("helpers.placeholder.default")}

                      %tr
                        %th{:colspan=>2}
                          %center
                            ="Работа в комиссии №1"

                      %tr
                        %th= t("experts.subject1_subject_code")
                        %td= f.collection_select :subject1_subject_code, @subjects, :code, :name, {prompt: true, placeholder: t('experts.subject1_subject_code')}, {style: "width:250px;"}
                      -#
                      -# %tr
                      -#   %th= t("experts.subject1_qualify_category")
                      -#   %td= f.collection_select :subject1_category_code, @employee_categories, :code, :name, {prompt: true, placeholder: t('experts.subject1_subject_code')}, {style: "width:250px;"}
                      -#
                      -# %tr
                      -#   %th= t("experts.subject1_category_code")
                      -#   %td= f.collection_select :subject1_qualify_category, @expert_qualifications, :code, :name, {prompt: true, placeholder: t('experts.subject1_qualify_category')}, {style: "width:250px;"}
                      -#
                      -# %tr
                      -#   %th= t("experts.subject1_comission_job")
                      -#   %td= f.collection_select :subject1_comission_job, @comission_jobs, :code, :name, {prompt: true, placeholder: t('experts.subject1_comission_job')}, {style: "width:250px;"}
                      -#
                      -# %tr
                      -#   %th= t("experts.subject1_comission_stage")
                      -#   %td= f.number_field :subject1_comission_stage
                      -#
                      -# %tr
                      -#   %th= t("experts.subject1_level_up_year")
                      -#   %td= f.number_field :subject1_level_up_year
                      -#
                      -# %tr
                      -#   %th= t("experts.subject1_third")
                      -#   %td= control_group f, :subject1_third, :select, bool_select_array(:subject1_third),
                      -#                               {:include_blank => false, :selected => @expert.subject1_third},
                      -#                               {:class => "simple-chosen","data-placeholder" => t("helpers.placeholder.default")}
                      -#
                      -# %tr
                      -#   %th= t("experts.subject1_voice")
                      -#   %td= control_group f, :subject1_voice, :select, bool_select_array(:subject1_voice),
                      -#                               {:include_blank => false, :selected => @expert.subject1_voice},
                      -#                               {:class => "simple-chosen","data-placeholder" => t("helpers.placeholder.default")}
                      -#

                      %tr
                        %th{:colspan=>2}
                          %center
                            ="Работа в комиссии №2"

                      %tr
                        %th= t("experts.subject2_subject_code")
                        %td= f.collection_select :subject2_subject_code, @subjects, :code, :name, {prompt: true, placeholder: t('experts.subject2_subject_code')}, {style: "width:250px;"}

                      -#%tr
                      -#  %th= t("experts.subject2_category_code")
                      -#  %td= f.collection_select :subject2_category_code, @employee_categories, :code, :name, {prompt: true, placeholder: t('experts.subject2_subject_code')}, {style: "width:250px;"}
                      -#
                      -#%tr
                      -#  %th= t("experts.subject2_qualify_category")
                      -#  %td= f.collection_select :subject2_qualify_category, @expert_qualifications, :code, :name, {prompt: true, placeholder: t('experts.subject2_qualify_category')}, {style: "width:250px;"}
                      -#
                      -#%tr
                      -#  %th= t("experts.subject2_comission_job")
                      -#  %td= f.collection_select :subject2_comission_job, @comission_jobs, :code, :name, {prompt: true, placeholder: t('experts.subject2_comission_job')}, {style: "width:250px;"}
                      -#
                      -#%tr
                      -#  %th= t("experts.subject2_comission_stage")
                      -#  %td= f.number_field :subject2_comission_stage
                      -#
                      -#%tr
                      -#  %th= t("experts.subject2_level_up_year")
                      -#  %td= f.number_field :subject2_level_up_year
                      -#
                      -#%tr
                      -#  %th= t("experts.subject2_third")
                      -#  %td= control_group f, :subject2_third, :select, bool_select_array(:subject2_third),
                      -#                              {:include_blank => false, :selected => @expert.subject2_third},
                      -#                              {:class => "simple-chosen","data-placeholder" => t("helpers.placeholder.default")}
                      -#
                      -#%tr
                      -#  %th= t("experts.subject2_voice")
                      -#  %td= control_group f, :subject2_voice, :select, bool_select_array(:subject2_voice),
                      -#                              {:include_blank => false, :selected => @expert.subject2_voice},
                      -#                              {:class => "simple-chosen","data-placeholder" => t("helpers.placeholder.default")}

                      %tr
                        %th{:colspan=>2}
                          %center
                            ="Работа в комиссии №3"

                      %tr
                        %th= t("experts.subject3_subject_code")
                        %td= f.collection_select :subject3_subject_code, @subjects, :code, :name, {prompt: true, placeholder: t('experts.subject3_subject_code')}, {style: "width:250px;"}
                      -#
                      -#%tr
                      -#  %th= t("experts.subject3_category_code")
                      -#  %td= f.collection_select :subject3_category_code, @employee_categories, :code, :name, {prompt: true, placeholder: t('experts.subject3_subject_code')}, {style: "width:250px;"}
                      -#
                      -#%tr
                      -#  %th= t("experts.subject3_qualify_category")
                      -#  %td= f.collection_select :subject3_qualify_category, @expert_qualifications, :code, :name, {prompt: true, placeholder: t('experts.subject3_qualify_category')}, {style: "width:250px;"}
                      -#
                      -#%tr
                      -#  %th= t("experts.subject3_comission_job")
                      -#  %td= f.collection_select :subject3_comission_job, @comission_jobs, :code, :name, {prompt: true, placeholder: t('experts.subject3_comission_job')}, {style: "width:250px;"}
                      -#
                      -#%tr
                      -#  %th= t("experts.subject3_comission_stage")
                      -#  %td= f.number_field :subject3_comission_stage
                      -#
                      -#%tr
                      -#  %th= t("experts.subject3_level_up_year")
                      -#  %td= f.number_field :subject3_level_up_year
                      -#
                      -#%tr
                      -#  %th= t("experts.subject3_third")
                      -#  %td= control_group f, :subject3_third, :select, bool_select_array(:subject3_third),
                      -#                              {:include_blank => false, :selected => @expert.subject3_third},
                      -#                              {:class => "simple-chosen","data-placeholder" => t("helpers.placeholder.default")}
                      -#
                      -#%tr
                      -#  %th= t("experts.subject3_voice")
                      -#  %td= control_group f, :subject3_voice, :select, bool_select_array(:subject3_voice),
                      -#                              {:include_blank => false, :selected => @expert.subject3_voice},
                      -#                              {:class => "simple-chosen","data-placeholder" => t("helpers.placeholder.default")}
                      -#
              %br


          %tr

            %td{:style=>"vertical-align: top;"}

              .card
                .card-header
                  Работа на ГИА-11
                .card-body
                  -#%h5.card-title Тип образовательной организации
                  %p.card-text
                    %table.table-bordered.table-striped

                      %tr
                        %th= t("experts.took_part_in_OGE_appeal_comission")
                        %td= control_group f, :took_part_in_OGE_appeal_comission, :select, bool_select_array(:took_part_in_OGE_appeal_comission),
                                                    {:include_blank => false, :selected => @expert.took_part_in_OGE_appeal_comission},
                                                    {:class => "simple-chosen","data-placeholder" => t("helpers.placeholder.default")}

                      %tr
                        %th{:colspan=>2}
                          %center
                            ="Работа в комиссии №1"

                      %tr
                        %th= t("experts.subject1_ege_subject_code")
                        %td= f.collection_select :subject1_ege_subject_code, @subjects, :code, :name, {prompt: true, placeholder: t('experts.subject1_subject_code')}, {style: "width:250px;"}
                      -#
                      -# %tr
                      -#   %th= t("experts.subject1_qualify_category")
                      -#   %td= f.collection_select :subject1_category_code, @employee_categories, :code, :name, {prompt: true, placeholder: t('experts.subject1_subject_code')}, {style: "width:250px;"}
                      -#
                      -# %tr
                      -#   %th= t("experts.subject1_category_code")
                      -#   %td= f.collection_select :subject1_qualify_category, @expert_qualifications, :code, :name, {prompt: true, placeholder: t('experts.subject1_qualify_category')}, {style: "width:250px;"}
                      -#
                      -# %tr
                      -#   %th= t("experts.subject1_comission_job")
                      -#   %td= f.collection_select :subject1_comission_job, @comission_jobs, :code, :name, {prompt: true, placeholder: t('experts.subject1_comission_job')}, {style: "width:250px;"}
                      -#
                      -# %tr
                      -#   %th= t("experts.subject1_comission_stage")
                      -#   %td= f.number_field :subject1_comission_stage
                      -#
                      -# %tr
                      -#   %th= t("experts.subject1_level_up_year")
                      -#   %td= f.number_field :subject1_level_up_year
                      -#
                      -# %tr
                      -#   %th= t("experts.subject1_third")
                      -#   %td= control_group f, :subject1_third, :select, bool_select_array(:subject1_third),
                      -#                               {:include_blank => false, :selected => @expert.subject1_third},
                      -#                               {:class => "simple-chosen","data-placeholder" => t("helpers.placeholder.default")}
                      -#
                      -# %tr
                      -#   %th= t("experts.subject1_voice")
                      -#   %td= control_group f, :subject1_voice, :select, bool_select_array(:subject1_voice),
                      -#                               {:include_blank => false, :selected => @expert.subject1_voice},
                      -#                               {:class => "simple-chosen","data-placeholder" => t("helpers.placeholder.default")}
                      -#

                      %tr
                        %th{:colspan=>2}
                          %center
                            ="Работа в комиссии №2"

                      %tr
                        %th= t("experts.subject2_ege_subject_code")
                        %td= f.collection_select :subject2_ege_subject_code, @subjects, :code, :name, {prompt: true, placeholder: t('experts.subject2_subject_code')}, {style: "width:250px;"}

                      -#%tr
                      -#  %th= t("experts.subject2_category_code")
                      -#  %td= f.collection_select :subject2_category_code, @employee_categories, :code, :name, {prompt: true, placeholder: t('experts.subject2_subject_code')}, {style: "width:250px;"}
                      -#
                      -#%tr
                      -#  %th= t("experts.subject2_qualify_category")
                      -#  %td= f.collection_select :subject2_qualify_category, @expert_qualifications, :code, :name, {prompt: true, placeholder: t('experts.subject2_qualify_category')}, {style: "width:250px;"}
                      -#
                      -#%tr
                      -#  %th= t("experts.subject2_comission_job")
                      -#  %td= f.collection_select :subject2_comission_job, @comission_jobs, :code, :name, {prompt: true, placeholder: t('experts.subject2_comission_job')}, {style: "width:250px;"}
                      -#
                      -#%tr
                      -#  %th= t("experts.subject2_comission_stage")
                      -#  %td= f.number_field :subject2_comission_stage
                      -#
                      -#%tr
                      -#  %th= t("experts.subject2_level_up_year")
                      -#  %td= f.number_field :subject2_level_up_year
                      -#
                      -#%tr
                      -#  %th= t("experts.subject2_third")
                      -#  %td= control_group f, :subject2_third, :select, bool_select_array(:subject2_third),
                      -#                              {:include_blank => false, :selected => @expert.subject2_third},
                      -#                              {:class => "simple-chosen","data-placeholder" => t("helpers.placeholder.default")}
                      -#
                      -#%tr
                      -#  %th= t("experts.subject2_voice")
                      -#  %td= control_group f, :subject2_voice, :select, bool_select_array(:subject2_voice),
                      -#                              {:include_blank => false, :selected => @expert.subject2_voice},
                      -#                              {:class => "simple-chosen","data-placeholder" => t("helpers.placeholder.default")}
                      -#
                      -# %tr
                      -#   %th{:colspan=>2}
                      -#     %center
                      -#       ="Работа в комиссии №3"
                      -#
                      -# %tr
                      -#   %th= t("experts.subject3_subject_code")
                      -#   %td= f.collection_select :subject3_subject_code, @subjects, :code, :name, {prompt: true, placeholder: t('experts.subject3_subject_code')}, {style: "width:250px;"}
                      -#
                      -#%tr
                      -#  %th= t("experts.subject3_category_code")
                      -#  %td= f.collection_select :subject3_category_code, @employee_categories, :code, :name, {prompt: true, placeholder: t('experts.subject3_subject_code')}, {style: "width:250px;"}
                      -#
                      -#%tr
                      -#  %th= t("experts.subject3_qualify_category")
                      -#  %td= f.collection_select :subject3_qualify_category, @expert_qualifications, :code, :name, {prompt: true, placeholder: t('experts.subject3_qualify_category')}, {style: "width:250px;"}
                      -#
                      -#%tr
                      -#  %th= t("experts.subject3_comission_job")
                      -#  %td= f.collection_select :subject3_comission_job, @comission_jobs, :code, :name, {prompt: true, placeholder: t('experts.subject3_comission_job')}, {style: "width:250px;"}
                      -#
                      -#%tr
                      -#  %th= t("experts.subject3_comission_stage")
                      -#  %td= f.number_field :subject3_comission_stage
                      -#
                      -#%tr
                      -#  %th= t("experts.subject3_level_up_year")
                      -#  %td= f.number_field :subject3_level_up_year
                      -#
                      -#%tr
                      -#  %th= t("experts.subject3_third")
                      -#  %td= control_group f, :subject3_third, :select, bool_select_array(:subject3_third),
                      -#                              {:include_blank => false, :selected => @expert.subject3_third},
                      -#                              {:class => "simple-chosen","data-placeholder" => t("helpers.placeholder.default")}
                      -#
                      -#%tr
                      -#  %th= t("experts.subject3_voice")
                      -#  %td= control_group f, :subject3_voice, :select, bool_select_array(:subject3_voice),
                      -#                              {:include_blank => false, :selected => @expert.subject3_voice},
                      -#                              {:class => "simple-chosen","data-placeholder" => t("helpers.placeholder.default")}
                      -#
              %br



          %tr

            %td{:style=>"vertical-align: top;"}
              .form-actions
                = f.submit @expert.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
                = link_to t("buttons.cancel"), @expert.new_record? ? experts_path : expert_path(@expert) , :class => 'btn'
    %br
    %br
    %br
    %br