-if !@experts.nil?
  #filterrific_results
    -if !@experts.nil?
      %p
        = I18n.t :expert, count: @experts.count

    -if @experts.count > 20
      .apple_pagination
        = will_paginate @experts

    %p
      %table.styled-table{:style=>"width:100%;"}
        %thead
          %th= t("experts.code")
          %th= t("experts.fio")
          %th= t("experts.actions.title")
        %tbody
          - @experts.each do |row|
            -if can? :read, row
              %tr
                -begin
                  -color = 'white'
                  %td{:bgcolor=>color}= link_to row.code.to_s, expert_path(row)
                  %td{:bgcolor=>color}= link_to row.to_s, expert_path(row)
                -rescue
                  %td="Ошибки заполнения"
                  %td=link_to "Ошибки заполнения", expert_path(row)

                %td{:bgcolor=>color}
                  - if can? :edit, row
                    = link_to edit_expert_path(row) do
                      = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
                  - if (can? :edit, row) and  (can? :delete, row)
                    = "  "
                  - if can? :delete, row
                    = link_to expert_path(row), :method => :delete,  data: { confirm: t('experts.delete_confirm')} do
                      = image_tag('trash.png', size: "24", :tooltip=>t("delete"))

    -if @experts.count > 20
      .apple_pagination
        = will_paginate @experts
-else
  #filterrific_results
    %p По Вашему запросу ничего не найдено