-# = hidden_field_tag "expert_ou[ou_id]", current_user.has_role?(:ou) ? current_user.target.id : @expert_ou.try(:ou_id)
.control-groups
  %label.control-label= t("activerecord.attributes.expert.expert_post_code")
  .controls
    = select "expert_ou", "expert_post_code", options_from_collection_for_select(@expert_posts, :code, :name, :selected => @expert_ou.try(:expert_post_code)),
                  {:include_blank => true}
.control-group
  %label.control-label= t("activerecord.attributes.expert.pluralist")
  .controls
    = select "expert_ou", "pluralist", bool_select_array,
                             {:include_blank => true,
                             :selected => @expert_ou.try(:pluralist)}
.control-group
  %label.control-label= t("activerecord.attributes.expert.subject_codes")
  .controls
    = select "expert_ou_subjects", "subject_codes", @subjects.map {|x| [x.name, x.code]}, {:selected => @subject_codes}