= form_for @expert do |f|
  =f.hidden_field :id, :value => @expert.id
  %table
    %tr
      %th{:colspan=>6, :bgcolor => '#EFEFDF'}
        %center
          ="Работа в комиссии ЕГЭ №2"

    %tr
      %th= t("experts.subject2_ege_subject_code")
      %td{:colspan=>5, :style => "border: 1px solid whitesmoke;width:650px;"}= best_in_place_if (can? :edit, @expert), @expert, :subject2_ege_subject_code, :as => :select, :collection => [["", " - нет - "]] + @subjects.map { |e| [e.code, e.name] }, :style => "width:250px;"
    -#%tr
    -#  %th= t("experts.subject2_ege_category_code")
    -#  %td{:colspan=>5, :style => "border: 1px solid whitesmoke;width:650px;"}= best_in_place_if (can? :edit, @expert), @expert, :subject2_ege_category_code, :as => :select, :collection => @employee_categories.map { |e| [e.code, e.name] }, :style => "width:250px;"
    -#%tr
    -#  %th= t("experts.subject2_ege_qualify_category")
    -#  %td{:colspan=>5, :style => "border: 1px solid whitesmoke;width:650px;"}= best_in_place_if (can? :edit, @expert), @expert, :subject2_ege_qualify_category, :as => :select, :collection =>  [["", " - нет - "]] + @expert_qualifications.map { |e| [e.code, e.name] }, :style => "width:250px;"
    -#%tr
    -#  %th= t("experts.subject2_ege_comission_job")
    -#  %td{:colspan=>5, :style => "border: 1px solid whitesmoke;width:650px;"}= best_in_place_if (can? :edit, @expert), @expert, :subject2_ege_comission_job, :as => :select, :collection => [["", " - нет - "]] + @comission_jobs.map { |e| [e.code, e.name] }, :style => "width:250px;"
    %tr
      %th= t("experts.subject2_ege_comission_stage")
      %td{:colspan=>5, :style => "border: 1px solid whitesmoke;width:650px;"}= best_in_place_if (can? :edit, @expert), @expert, :subject2_ege_comission_stage
    %tr
      %th= t("experts.subject2_ege_level_up_year")
      %td{:colspan=>5, :style => "border: 1px solid whitesmoke;width:650px;"}= best_in_place_if (can? :edit, @expert), @expert, :subject2_ege_level_up_year
    %tr
      %th= t("experts.subject2_ege_third")
      %td{:colspan=>5, :style => "border: 1px solid whitesmoke;width:650px;"}= best_in_place_if (can? :edit, @expert), @expert, :subject2_ege_third, as: :checkbox, collection: {false: "Не допущен", true: "Допущен"}
    %tr
      %th= t("experts.subject2_ege_voice")
      %td{:colspan=>5, :style => "border: 1px solid whitesmoke;width:650px;"}= best_in_place_if (can? :edit, @expert), @expert, :subject2_ege_voice, as: :checkbox, collection: {false: "Не проверяет", true: "Проверяет"}
