%table
  %tr
    %th{:colspan=>6, :bgcolor => '#EFEFDF'}
      %center
        ="Основные данные об эксперте"

  - if 1 == 1
    %tr
      %th= t("experts.surname")
      %td{:style => "border: 1px solid whitesmoke;width:250px;"}= best_in_place_if (can? :edit, @expert), @expert, :surname
      %th= t("experts.name")
      %td{:style => "border: 1px solid whitesmoke;width:250px;"}= best_in_place_if (can? :edit, @expert), @expert, :name
      %th= t("experts.second_name")
      %td{:style => "border: 1px solid whitesmoke;width:250px;"}= best_in_place_if (can? :edit, @expert), @expert, :second_name
  -else
    %tr
      %td{:colspan=>6, :style => "border: 1px solid whitesmoke;", bgcolor: '#EFEFEF'}= "#{@expert.surname.to_s} #{@expert.name.to_s} #{@expert.second_name.to_s}".strip

  - if 1 == 1
    %tr
      %th= "Код эксперта"
      %td{:style => "border: 1px solid whitesmoke;"}= best_in_place_if (can? :edit, @expert), @expert, :code
      %th= t("experts.gender")
      %td{:style => "border: 1px solid whitesmoke;"}= best_in_place_if (can? :edit, @expert), @expert, :gender, as: :checkbox, collection: {false: "Жен", true: "Муж"}
      %th= "Email"
      %td{:style => "border: 1px solid whitesmoke;"}= best_in_place_if (can? :edit, @expert), @expert, :email

  -else
    %tr
      %th= "Код эксперта"
      %td=@expert.code
      %th= t("participants.gender")
      %td
        -if @expert.gender == true
          ="Мужской"
        -else
          ="Женский"
      %th= "Email"
      %td=@expert.email

