-sql="update experts set online_login = 'exp' || cast(id as varchar) where coalesce(online_login, '') = ''; update experts set online_password = 'p' || substring(md5(cast(id as varchar)), 1, 8) where coalesce(online_password, '') = ''; select e.id as eid, e.online_login, e.online_password  from experts e   left join users u ON u.first_name = e.online_login where u.id is NULL and e.deleted_at is NULL;"
-records_array = ActiveRecord::Base.connection.execute(sql)
-i = 0
%table.table-striped.table-styled
  %thead
    %th="№"
    %th="Логин"
    %th="Пароль"
    %th="ID"
    %th="Результат"
  %tbody
  -records_array.each do |row|
    %tr
      -i+=1
      %tr
      %td=i
      %td=row['online_login']
      %td=row['online_password']
      %td=row['eid']
      -u = User.new
      -u.created_at = '2021-01-01'
      -u.first_name = row['online_login']
      -u.last_name = row['online_password']
      -u.email = "expert_#{row['online_login']}@mfsa.ru"
      -u.password = row['online_password']
      -u.created_at = Time.current
      -u.target_type = 3
      -u.target_id = row['eid'].to_i
      -u.admin = false
      -u.superadmin_role = false
      -u.mouo_role = false
      -u.ous_role = false
      -u.expert_role = true
      -u.dpo_role = false
      -u.blank_role = false
      -u.confirmed_at = Time.current
      -if u.save
        %td="Создан"
      -else
        %td="Ошибка"
