.row
  .span9
    %h3.pull-left
      .text3d= t("experts.list.title")
    %span.top-panel-actions
      = form_for_filterrific @filterrific do |f|
        %table.slim-table.borderless{:style=>"width:100%;"}
          %tr
            %td
              .input-group.rounded
                %input.form-control.rounded{"aria-describedby" => "search-addon", "aria-label" => "Search", :placeholder => 'Фамилия Имя Отчество, документ', :value=>@filterrific.search_query, :type => t('Search'), autocomplete: 'off', class: 'filterrific-periodically-observed', id: 'filterrific_search_query', name: 'filterrific[search_query]'}/
                %span#search-addon.input-group-text.border-0
                  %i.fas.fa-search
            %td
              - if can? :create, Expert
                = link_to new_expert_path do
                  = image_tag('create_new.png', size: "34")
                  = "создать"
              - if (can? :create, Expert) and (can? :export, Expert)
                =" | "
              - if can? :export, Expert
                = link_to '/experts/export.xlsx' do
                  = image_tag('download.png', size: "34")
                  = "скачать"
              - if (can? :export, Expert) and (can? :import, Expert)
                =" | "
              - if can? :import, Expert
                = link_to new_experts_import_path do
                  = image_tag('upload.png', size: "34")
                  = "импорт"
              =" | "
          %tr
            %td{:colspan=>2}
              = link_to 'Сбросить фильтр', reset_filterrific_url, class: 'btn btn-warning'
              =f.submit 'Применить фильтр', class: 'btn btn-success'
          %tr
            %td{:colspan => 2}
              = render_filterrific_spinner
              = render(partial: 'list', locals: { experts: @experts })

