%div
  %p
    = link_to experts_path, :class => "btn btn-primary btn-mini" do
      = bootstrap_icon "card-list", width: 15, height: 15, fill: "yellow"
      = " Вернуться к списку экспертов "
    \ 
    - if 1 == 1
      = link_to edit_expert_path(@expert), :class => "btn btn-primary btn-mini" do
        = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
        = " Редактировать "

#carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
  .carousel-inner
    .carousel-item.active
      %h2{:align => 'center'}=@expert.to_s
  -if !@previous.nil?
    %a.carousel-control-prev{"data-slide" => "prev", :href => "/experts/" + @previous.id.to_s, :role => "button"}
      %span.carousel-control-prev-icon{"aria-hidden" => "true"}
      -begin
        %p="#{@previous.school_worker.second_name}          "[0..10]+'...'.to_s
      -rescue
        %p="ОШИБКА В ФИО"

  -if !@next.nil?
    %a.carousel-control-next{"data-slide" => "next", :href => "/experts/" + @next.id.to_s, :role => "button"}
      -begin
        %p="#{@next.school_worker.second_name}          "[0..10]+'...'.to_s
      -rescue
        %p="ОШИБКА В ФИО"
      %span.carousel-control-next-icon{"aria-hidden" => "true"}

.alert.alert-info{:role => "alert"}
  - if 1 == 1
    ="Внимание! На данной странице возможен как просмотр, так и редактирование отдельных полей (через двойной щелчок по полю), при этом "
    %b
      ="производится автоматическое сохранение"
    =" каждого отдельного поля. Информация разделена на несколько блоков, реализованных в виде вкладок. Для переключения между ними следует щёлкнуть по названию вкладки."
    ="В связи с этим, если в карточке есть хотя бы одно неверное заполненное поле, то изменения не сохраняются."
    %br
    ="Чтобы изменить несколько полей, следует перейти в режим редактирования всей записи по кнопке «Редактировать»."
    ="Поля, заблокированные для редактирования, помечены серым цветом."
  -else
    ="Редактирование данной записи заблокировано."


%ul.nav.nav-tabs
  %li.nav-item
    %a.nav-link.active{"data-toggle" => "tab", :href => "#bases"} Основные
  -if current_user.admin? and @expert.is_ege == true
    %li.nav-item
      %a.nav-link.my-custom-class{"data-toggle" => "tab", :href => "#subject1_ege"} Специализация ЕГЭ №1
    %li.nav-item
      %a.nav-link.my-custom-class{"data-toggle" => "tab", :href => "#subject2_ege"} Специализация ЕГЭ №2
  %li.nav-item
    %a.nav-link.my-custom-class{"data-toggle" => "tab", :href => "#subject1"} Специализация №1
  %li.nav-item
    %a.nav-link.my-custom-class{"data-toggle" => "tab", :href => "#subject2"} Специализация №2
  %li.nav-item
    %a.nav-link.my-custom-class{"data-toggle" => "tab", :href => "#subject3"} Специализация №3
  -#%li.nav-item
  -#  %a.nav-link.my-custom-class{"data-toggle" => "tab", :href => "#education"} Образование
  -#%li.nav-item
  -#  %a.nav-link.my-custom-class{"data-toggle" => "tab", :href => "#compensation"} Компенсация

.tab-content.my-padding


  #bases.tab-pane.active.in{:role => "tabpanel"}
    = render :partial => 'table01_base'

  -if current_user.admin? and @expert.is_ege == true
    #subject1_ege.tab-pane.fade.in{:role => "tabpanel"}
      = render :partial => 'table08_subject1_ege'

    #subject2_ege.tab-pane.fade.in{:role => "tabpanel"}
      = render :partial => 'table09_subject2_ege'


  #subject1.tab-pane.fade.in{:role => "tabpanel"}
    = render :partial => 'table03_subject1'

  #subject2.tab-pane.fade.in{:role => "tabpanel"}
    = render :partial => 'table04_subject2'

  #subject3.tab-pane.fade.in{:role => "tabpanel"}
    = render :partial => 'table05_subject3'

  -##education.tab-pane.fade.in{:role => "tabpanel"}
  -#  = render :partial => '/school_workers/table06_education'
  -#
  -##compensation.tab-pane.fade.in{:role => "tabpanel"}
  -#  = render :partial => '/school_workers/table07_compensation'
